[2017-12-09 14:42] hassankhan opened #261 "Allow setting DynamoDB client"
It would be cool if we could pass our own DynamoDB service client object. This is so we could use DAX, which requires a specially instantiated version of the regular client.

This could be something like a `client` property in the `Model` options.

[2017-12-11 08:59] mtso commented on #248
I also got the same error message. I first created a new item by hand in the AWS console, then tried to match up the dynamoose Model with the data. The value of the field that throws an error was set to a `List` of `Map` elements in the console when I created the item.

### System
[code]
### Model Definition
[code]

### Trace
[code]

### Query
[code]

### Model Update
[code]

### Result After Data

[2017-12-11 09:33] YevheniiHerasymchuk commented on #251
Seems like fixed it.
Configured both in env variables and in project files.

[2017-12-11 19:09] ReeSilva commented on #230
It doesn't work :/

It creates with the right attribute but, when I save a new item, the column remains empty.

Example:
StepSequence.js
[code]

New item:
[code]

Saved item on Dynamo:
[code]

And another doubt is: ok, I can use it with Map for objects. But, for arrays, how can I do?

Because actually if I try to use Array as a type it stores the item as json stringified string.

Thanks in advance

[2017-12-12 10:19] YevheniiHerasymchuk commented on #113
Yes. the same issue on v0.8.6

[2017-12-12 10:27] YevheniiHerasymchuk opened #262 "How to define 409 (conflict) error?"

[2017-12-12 10:30] YevheniiHerasymchuk opened #263 "How to define 409 (conflict) error?"
During developing the controller for saving in DynamoDB. ( For this moment only working with local DynamoDB ).
How can I create with handling 409 error ( when duplicating keys)
I tried to add ```{overwrite: false}``` for `.save` function. But got this error:
[code]
My goal is to not allow creating with the same ids and show user 409 error in this case.
Also with the same conditions but changing na

[2017-12-12 10:31] #262 closed

[2017-12-12 10:52] YevheniiHerasymchuk commented on #263
Tried to check different cases and in this moment did in this way:
- define (`id`) property as `hashKey`
- saving with `Model.create(obj, callback)` or with `var m = new Model(obj); m.save({overwrite: false}, callback)` They are the same.
-  As a result in case of duplicating key, I get
[code]

[2017-12-13 09:02] human-a commented on #259
Found the solution, just have to pass in the condition, in the case of my code, the following resolver will do the job:

[code]

[2017-12-14 13:41] aAmitSengar commented on #238
[code]

[code]

[2017-12-14 13:45] androidand opened #264 "How to query for multiple conditions"
Hi! How can I correctly scan for two attribute conditions in the same run? When adding a new user to the table, I would like to check if there is already any users with that email or username. I've tried chaining scans but it doesn't seem to work. Also tried the .or() keyword which seems to be only for readability? Putting both attributes in the same scan options would of course just return users

[2017-12-14 14:08] androidand commented on #264
Mongoose schema has the unique: true attribute. That would be nice for Dynamoose as well!

[2017-12-17 23:49] androidand commented on #165
This would be nice. I'm struggling with updating nested values at the moment.

[2017-12-30 09:56] kaiyesBD opened #265 "scan works when promisified but not when using async-await"
Hi,
What is the reason this works,
`return promisify(User.scan())`  where promisify is this
[code]

but this doesn't ?
[code]
?

[2017-12-30 10:40] kaiyesBD commented on #265
Sorry. My bad. Had to add `.exec()`. So it is `User.scan().exec()`

[2017-12-30 10:40] #265 closed

[2018-01-02 14:22] Zweer opened #266 "BatchPut and BatchDelete really use "options"?"
AFAIK both batchPut and batchDelete have a "options" argument, but none of them seems to use it. Is there a reason for that?

I'm trying not to overwrite items in a batchPut (existing items use the default value of a field)

Thanks
Cya

[2018-01-02 22:25] #251 closed

[2018-01-02 22:26] #252 closed

[2018-01-02 22:31] brandongoode commented on #253
@stang-tgs - Are you still having this issue?  Does it work when not in local mode?

Sorry for not replying earlier.

[2018-01-02 22:38] brandongoode commented on #255
@Raphael-R-R - Are you still having this issue? Try the master branch to see if the problem is fixed.  There were several fixes related to this that hasn't been released yet.

[2018-01-02 22:40] brandongoode commented on #256
What is your main goal?  You can use a local mock database the test: https://dynamoosejs.com/api#dynamooselocalurl

[2018-01-02 22:41] brandongoode commented on #259
Glad you got it working.   Sorry for not responding earlier.

[2018-01-02 22:41] #259 closed

[2018-01-02 22:44] brandongoode commented on #260
@hassankhan - Hopefully you already found out that you can use arrays.  Just use `[type]`: https://dynamoosejs.com/api#attribute-types

[2018-01-02 22:50] brandongoode commented on #261
I'm open to it.  #212

[2018-01-02 22:51] #263 closed

[2018-01-02 23:02] brandongoode commented on #264
@androidand - First sorry for the slow response.

[code]

or

[code]

[2018-01-02 23:08] brandongoode commented on #266
The options are just for to keep the API consistent and allow for future options without breaking the current API.

The DynomoDB BatchWriteItem operation doesn't support conditions.  We would need Amazon to add support for this feature first: https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchWriteItem.html

[2018-01-03 09:11] Zweer commented on #266
Ok, thanks a lot!

[2018-01-03 09:11] #266 closed

[2018-01-03 12:59] EugeneHerasymchuk commented on #56
it's actually a nice idea and can be implemented as an external npm package.
So many cases where validation has to be before storing to DB and every time you have to do it manually.

[2018-01-04 13:05] jignesh248 commented on #56
I also want to have it, so that I can directly save create, update and delete to elastic search from models itself, that way I can abstract away it from api endpoints. Would be much cleaner, though it is not needed.

[2018-01-07 21:56] ARAtlas commented on #230
I'm having the same problem as ReeSilva. The "useDocumentTypes: true" configuration option doesn't seem to make any difference. Object types are always stringified.

[2018-01-07 23:18] oxyno-zeta opened #267 "Nested Objects and default values"
Hello,

I'm new in DynamoDB and Dynamoose.
I'm trying to implement the model I used in MongoDB to DynamoDB but I have some difficulties with nested objects.

Schema:
[code]

Use case:
[code]

Result:
[code]

Wanted result:
[code]

Any idea why ? Or what I'm doing wrong ?

Another question: Why it is not possible to set ```null ``` as default value ? It can be interesting for some case.

Dynamoose

[2018-01-08 03:26] liberty2015 opened #268 "the scan api can't not obtain the data,but using query with hash key can obtain the data"
Hi,I met a problem that has troubled me for a long time:
in my dynamoDB,there is a table named device  with more than 8000 datas,when i use scan to find som data like this
`let filter = {
            FilterExpression: '<hashkey>=:<k>',
            ExpressionAttributeValues: {
                ":<k>": "<the value>"
            }
        };
        Device.scan(filter).exec().then(
            data =>

[2018-01-08 04:35] liberty2015 commented on #268
I fix the problem with myself.The reason is :

from https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB.html#scan-property
the code:
`
Device.scan({<hashKey>:"<the value>"}).parallel(2).exec().then(
            data => {
                console.log(data);
            }, err => {
                console.error(err);
            }
        )
`

[2018-01-09 19:17] danduh commented on #173
As workaround:
[code]

[2018-01-11 09:25] alankarmisra opened #269 "Delete item from a string set?"
Maybe I'm missing something obvious but how do I delete something from a string set in dynamoose without having to retrieve the object first?

For example I have a table Users with a document:
`{ id:'myid', myfield:['val1','val2]}`
and I want to remove val2 without having to retrieve the entire object first.

I tried something like:
`
Users.update({ id: 'myid',  '$DELETE': { myfield: [ 'val2' ] }

[2018-01-11 10:42] craigsketchley opened #270 "Testing approach"
Hey all - I'm having trouble testing code related to dynamoose and I was wondering if anyone could shed some light on their approach? Specifically unit testing. With integration testing I'm happy to fire up dynamodb-local and test against that, but not for my unit tests.

So how does everyone approach unit testing their Schemas and Models? What about middleware that requires a Model? I can't seem

[2018-01-12 10:30] sabreenakp opened #271 "How to query local dynamoDB using dynamoose?"
As a developer, I don't want to connect all the time to Amazon web services, and I installed DynamoDB in my local computer referring the [AWS Docs.](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.html) I am using node.js in the backend.I am using dynamoose as the modeling tool for Amazon's DynamoDB in my production, How can I use the same dynamoose for querying my l

[2018-01-12 16:52] fishcharlie commented on #271
The code below should allow you to setup Dynamoose for use locally.

    var dynamoose = require('dynamoose');
    dynamoose.local('http://localhost:8000');

This assumes DynamoDB is running locally on port 8000. If you are not running DynamoDB Local on port 8000 you will have to update the second line above to reflect the correct port.

[2018-01-14 11:13] Jony-Y opened #272 "Timestamps fields returning as ISO string"
Hi,
first let me say that we love dynamoose... made our lives much easier using dynamoDB.
my issue is:
we use the timestamps feature. in the DB it stores the dates as unix (as desired), the bug appears when fetching the resource from the DB. it returns as an ISO string.

so in the db its stored correctly but after performing 'scan' the timestamp fields return as ISO string.
my question is how to k

[2018-01-14 13:08] tvb opened #273 "IAM role instead of access keys"
Why doesn't dynamoose accept IAM roles? Much more safe as you don't have to distribute access keys with the risk publishing them somewhere on the internet

info https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html

[2018-01-15 08:38] sabreenakp commented on #271
Thanks

[2018-01-15 08:38] #271 closed

[2018-01-16 02:21] lucianopf commented on #137
I think the last step to get this done is to enhance the docs, right @brandongoode
I'm now using dynamoose at a personal project and I'm missing lots of stuff from the docs as well =/
I keep reaching out the tests folder to check for demos and all that stuff =(

[2018-01-16 08:58] ro-savage opened #275 "SaveUnknown on a per attribute basis"
I'd like to save data from an external provider into our table.

Since the data isn't managed by us and I don't know what it looks like, I've had to enable `saveUnknown: true` to the entire table (alternative is stringify and save a string).

Ideally I'd be able to turn on `saveUnknown` this just for a single attribute.

Is this currently possible? If not, would you be interested in a PR to add th

[2018-01-17 15:39] YevheniiHerasymchuk opened #276 "Pagination with offset and limit"
I did some research on this issue, so as far as I understand, it's not possible to create pagination with `dynamoose.`
As an example, I want to use `GET /client/items?offset=10&limit=10`.
Thank you for the help

[2018-01-19 21:53] pscamman commented on #230
Looking at the dynamoose code, there is only one case where useDocumentTypes is taken into consideration, and it is only a negative case (line 25 of [Attribute.js](https://github.com/automategreen/dynamoose/blob/master/lib/Attribute.js)). I took a stab at adding a positive case in a fork [here](https://github.com/pscamman/dynamoose/commit/a0e37d578ed7af246b29ffe892e17030a0b14139) to make the resul

[2018-01-20 07:32] jignesh248 commented on #35
queryOne is not included in Documentation, I will try to create a PR sometime as there are too many missing functionalities in documentation and may also try to contribute to code.

[2018-01-20 12:37] jignesh248 opened #278 "Error: indexes are not synchronized and update flag is set to false"
I have a user model with a GSI, I am adding a new GSI on phoneNumber which was not there before,
I am getting this error now on starting my node app.
I am using local version of dynamodb as of now, update option is set to true, so probably there is bug. I can't delete DB each time I change schema. I tried to debug, but I think I am not good with debugging async code( Any suggestions ).

[code]

[2018-01-22 06:37] jignesh248 commented on #278
Okay may be I found it, I didn't had phoneNumber already in table as it was not a required value, as such creation of global Index might have been failing, but we can improve on the error message.

[2018-01-22 21:54] judahb opened #279 "Request - Multi-Tenant Invoke of DynamoDB via STS"
Hi ,

I am requesting that you allow each dynamoose request to be invoked at runtime with STS credentials obtained from AWS, rather than requiring a role or static credentials. The reason, is because allowing STS credentials to be used allows one to integrate multi-tenant or custom access via fine grained IAM policy to dynamodb requests as defined by the IAM policy and role that a user has within

[2018-01-29 22:44] pscamman commented on #230
So, I spent a little more time investigating this and this is what I've found:

You can actually provide the strings `'list'` or `'map'` for the attribute type, and Dynamoose will already do what my fork ultimately tries to do and what I believe you all are trying to do. There's a weird extra bit that needs to be done regardless, however: you must provide a corresponding `list` or `map` KEY on the

[2018-01-30 10:24] ARAtlas commented on #230
That's a good point that fixing useDocumentTypes could be a breaking change at this point. One option could be to make it parse the string like the old behavior did if a string is found. This generally seems the safest since it also guards against people turning useDocumentTypes on and off during development. Another option could be to abandon useDocumentTypes as an option, and create a new one ca

[2018-02-01 05:24] ro-savage opened #281 "Improving error handling"
Its quite common for someone in my team to run into an error like

[code]
In this case it comes from using JSON.parse on NaN (when it was expecting a number).

It would be great to throw a more useful error such as
[code]

I got this by wrapping `dedynamofy` in `Attribute` with a `try catch`.

There might be a better place to catch these errors, I didn't dive to deep.

Are you interested in a PR f

[2018-02-09 21:11] chaleCB opened #283 "Support for "SSESpecification" Schema option"
DynamoDB [recently announced server-side encryption](https://aws.amazon.com/blogs/aws/new-encryption-at-rest-for-dynamodb), and it would be great if we could enable it when creating a table via the Dynamoose Schema options.. or at the very least, supply a way for users to pass-through additional options that aren't parsed by the Dynamoose API.

[2018-02-12 08:50] ricxsar commented on #172
Hi all, I would like to request this functionality for the application I am developing.

I am developing an vehicle monitoring system which dealing with time series data. I design the app to auto create tables at the start of the month so that the data will be grouped per month. The reason behind this design is to make old data easier to backup on s3. I have read that it is also recommended to `re

[2018-02-14 01:50] ricxsar commented on #273
Hello @tvb. I am a user of this library on an ec2 instance and it working fine on me without specifying access keys. I am assigning `AmazonDynamoDBFullAccess` policy on the role assigned to ec2 instance.

[2018-02-19 06:18] fishcharlie opened #288 "Query Index Name or Partition Key?"
This might be a really dumb question. But it's a question I have. Once I have the answer I would be more than happy to create a PR to improve the documentation and add some extra detail regarding this.

Take the following example model and schema.

[code]

I added the following index to DynamoDB.

<img width="762" alt="screen shot 2018-02-18 at 11 13 47 pm" src="https://user-images.githubuserconte

[2018-02-19 07:15] fishcharlie commented on #137
@lucianopf @brandongoode If I have some extra time over the next few weeks I plan on working on the documentation. Anyone maybe up for creating some issues about what should be added/improved (especially @lucianopf maybe since you said you kept having to check the demos and tests)? What specifically should I focus on if I get time?

[2018-02-19 11:10] lucianopf commented on #137
Nice @fishcharlie !!
I'll take some time to dig a bit again at the codebase, find out stuff to be documented and create issues so contributors can help at that!! ^^

❤️ open-source!

[2018-02-19 20:44] fishcharlie commented on #137
@lucianopf Tag me in any issues you create so I get alerted to them. Thanks for your contributions as well!! Really looking forward to this feature. Will need some good documentation tho before I know how to use it haha.

[2018-02-22 21:05] chrisguitarguy opened #292 "No Documentation on What IAM Permissions are Required"
Would be great if the docs could include some IAM policy samples on what sorts of permissions are required:

1. To read (no creation or updates)
2. To create the tables
3. To update the tables

There are pre-made policies in AWS for dynamo, but they are often really permissive.

[2018-02-23 20:52] fishcharlie opened #293 "v1.0 Set useNativeBooleans and useDocumentTypes to default to true question"
In v1.0 for Dynamoose when the library implements, "Set useNativeBooleans and useDocumentTypes to default to true". Will Dynamoose integrate a migration tool to make this process smooth for existing tables?

[2018-02-25 02:00] fishcharlie opened #294 "Disable indexes not synced error"
I have the following schema/models in Dynamoose in my cron job code.

[code]

Problem is, in my main application the schema I use for the `User` model has an index on one of the properties. But not the item.

In my cron job I would like to keep my schema's and models as simple as possible as I might forget to change it in the cron when I change it in my main application.

Therefor I'm getting the

[2018-02-26 19:04] ajwild commented on #288
I think you need to change your schema from:
[code]
to:
[code]
After that your second query should work. Depending on your data it may also be worthwhile setting "active" as the range key and using `where()` instead of `filter()`. I also think `and()` isn't required.

[2018-02-27 16:46] lucianopf commented on #137
Hey buddy I haven't forgotten to do that, I'm just in a rush at my other projects and I wasn't able to point stuff for you to document yet =/

I'll try to do that during this weekend! ^^ @fishcharlie

[2018-02-28 09:07] arifLogic opened #295 "One table multi schema locking ?"
i have case using multiple schema in one table. as follow example

[code]
In dynamodb the item recorded without `airbag` key and i think it is because the `CarModel` is initialized after `MotorModel`. When i remove MotorModel its normal on dynamodb.

is Dynamoose cannot accept multiple schema in one table?

[2018-03-01 19:07] fishcharlie opened #296 "Timestamp Index"
I'm getting the following error in my code when I try to scan a table that has a index that has a `Sort Index` for the property `createdAt`.

Is there any reason for this happening and how to fix it?

[code]

[2018-03-01 19:37] fishcharlie opened #297 "Model.queryOne Question"
It looks like `Model.queryOne` will basically just set the query count to 1. Which means DynamoDB will basically read 1 item, but if it doesn't match the filters it won't return anything. Is this correct?

If so, would it be valuable to add a function to do a `queryOne` or `scanOne` type function that will always just return 1 item? Instead of just reading 1 item, read as many items as possible un

[2018-03-01 21:02] MarcWadai opened #299 "Composite partition key"
For my table I wanted to have a composite partition key (hashkey+rangekey).
I saw that in the documentation with a composite partition key, we could have multiple documents with the same hashkey but the value of the sortkey had to be different, so that the combination of the 2 values make a unique identifier.

However, it is not working in my table, because the documents are replacing each others

[2018-03-02 13:32] MarcWadai commented on #299
The error was resolved. The table wasn't instantiated correctly from the start so the rangeKey was not declared. Consequently, it behaves as if there was only a partition key.
I deleted the table and recreated it, now it is working

[2018-03-02 13:32] #299 closed

[2018-03-02 18:49] tsdorsey commented on #294
tl;dr. `var UserModel = dynamoose.model('User', Schema, {create: false});`

@fishcharlie I was running into this as well. However the "check indexes" code is inside an `if(model.options.create)` check so if you disable table creation (which is on by default) the errors about indexes will stop.

I only use dynamoose to access already existing tables so I created a helper function to set options on

[2018-03-03 23:51] fishcharlie commented on #35
@jignesh248 #298

[2018-03-03 23:54] fishcharlie opened #301 "Nested Schemas/Models"
Dynamoose should support the following.

[code]

OR

[code]

[2018-03-04 00:06] fishcharlie commented on #301
Then you could create it by doing the following.

[code]

OR

[code]

[2018-03-04 00:14] fishcharlie commented on #301
I might take a stab at submitting a pull request to integrate this if I have time. Any tips, suggestions, pointers, things I need to watch out for, thoughts on how to integrate would be super helpful.

[2018-03-04 00:15] fishcharlie commented on #296
@nbarnett Is this a duplicate of #226, or not?

[2018-03-04 23:26] nbarnett commented on #296
I don't think so. It's been a little while, but from memory #226 was specific to an issue with `updatedAt` but was fine with using `createdAt`. This issue looks like its to do with the type associated with `createdAt`. `Expected: S Actual: N` makes me think that `createdTime` is being stored as an ISO string, but is being passed a UNIX timestamp

[2018-03-05 01:50] fishcharlie commented on #296
@nbarnett Ok thanks! Maybe @brandongoode will have ideas about this.

[2018-03-08 09:56] jignesh248 commented on #278
Any update on this, anybody else facing the same issue?

[2018-03-08 10:08] jignesh248 commented on #183
I am working locally with dynamoDB, I have **update flag set to true**, and just **added a new index( to an existing filed ).**
Now I am getting error "Indexes are not synchronized and update flag is set to false". Any of you facing the same issue.

[2018-03-08 16:23] RobertNorthard commented on #283
+1 I'm also very interested in this feature.

[2018-03-09 07:49] deependrax commented on #278
providing update: true in dynamoose.model as option will solve this.
module.exports.User = dynamoose.model('Users', UserSchema, {update: true});

[2018-03-09 07:50] deependrax commented on #278
but this is creating another issue for me, it is taking a table lock on server up causing a downtime which i want to avoid on prod.

[2018-03-09 07:56] deependrax opened #302 "Dynamoose is taking table lock on startup for syncing index can this be avoided"
using update: true on dynamoose.model
Eg. dynamoose.model("Test", schemas.testSchema, {update: true});

is taking a table lock on server up causing a downtime which i want to avoid on prod.

if i do update: false i get an error.
Error: indexes are not synchronized and update flag is set to false

[2018-03-09 13:28] lengk commented on #172
@ricxsar bump

[2018-03-09 17:59] jignesh248 commented on #278
ohh, I was passing it on object used as second argument for new Schema all the while, and not as their argument to dynamoose.model.

Thanks for clarification

[2018-03-09 17:59] #278 closed

[2018-03-09 20:25] ratneshsinghparihar commented on #302
can you try  drop the table and re-create it (not with code)  https://forums.aws.amazon.com/thread.jspa?threadID=224522

[2018-03-10 18:01] fishcharlie commented on #302
@deependrax Can we see your schema?

[2018-03-10 18:06] fishcharlie commented on #295
@arifLogic This isn't supported in Dynamoose currently. The only idea I have is to use the [`saveUnknown`](https://dynamoosejs.com/api#options) option in your schema.

The other thing, is in your current example just have your `schemaCar` and `CarModel` and go from there. The `airbag` property is optional as all properties are optional by default in Dynamoose unless specified otherwise.

Maybe you

[2018-03-10 18:07] fishcharlie commented on #292
@chrisguitarguy Feel free to create a PR and I would be happy to take a look at it. Otherwise I'll try to get around to it at some point.

[2018-03-10 18:08] fishcharlie commented on #283
If anyone would like to create a PR for this I would be happy to review it and try to get it merged in.

[2018-03-10 18:11] fishcharlie commented on #281
@ro-savage Sorry for the delay in anyone getting back to you. PR would be great for this. I personally can't think of a better error than `ModelError`. It could be a problem with the data as well tho. Maybe `ParseError`?? I'm not sure if I have major opinions either way. Anything more similar to the proposed new error would be better than the current.

In my opinion that sounds like the correct pl

[2018-03-10 18:18] fishcharlie commented on #276
@YevheniiHerasymchuk There isn't quite a straight forward way to do this. There are workarounds tho depending on how you structure things.

Of course the `limit` portion is easy. There is a method for [`Scan.limit`](https://dynamoosejs.com/api#scanlimitlimit) and [`Query.limit`](https://dynamoosejs.com/api#querylimitlimit).

In terms of the offset. You are going to need to pass in some form of las

[2018-03-10 18:18] fishcharlie commented on #275
@ro-savage This is not currently possible. Always love PR's to help improve Dynamoose!!

[2018-03-10 18:20] fishcharlie commented on #273
@tvb, @ricxsar is correct. I have used this library using IAM roles assigned to EC2 instances and it works just fine. Dynamoose is just a wrapper for the AWS Javascript SDK, so the core of this library is still AWS.

I'm going to close this issue now, if you have any more questions regarding this or need help please feel free to reply again.

[2018-03-10 18:20] #273 closed

[2018-03-10 18:25] fishcharlie commented on #272
@Jony-Y I'm assuming by "unix field" you mean "Unix Timestamp". Seconds/Milliseconds since epoch. If not let me know, but the rest of this answer will be based on that assumption.

So the only way to achieve this currently is to build manual support for `createdAt` and `updatedAt`. Dynamoose currently doesn't have the functionality to support that.

I'm very interested in getting this feature into

[2018-03-10 18:27] fishcharlie commented on #269
@alankarmisra Can you share your schema and model with us?

[2018-03-10 18:28] fishcharlie commented on #268
@liberty2015 Glad you got it working!!

[2018-03-10 18:28] #268 closed

[2018-03-10 18:31] fishcharlie commented on #264
Due to the lack of activity I'm closing this issue. Please feel free to comment if this did not solve your problem.

[2018-03-10 18:31] #264 closed

[2018-03-10 18:32] fishcharlie commented on #260
Due to lack of activity I'm closing this issue. If this didn't solve your problem please feel free to comment again.

[2018-03-10 18:32] #260 closed

[2018-03-10 18:33] fishcharlie commented on #261
Closing as a duplicate of #212

[2018-03-10 18:33] #261 closed

[2018-03-10 19:16] fishcharlie commented on #272
@Jony-Y I'm sorry. I believe I was incorrect in my last message. I could be wrong since it's been a while since I've needed to do this, but I believe Dynamoose returns a standard Javascript Date object as that property. You should be able to take that and extract the Unix Timestamp.

I'd have to play with it a bit more to test it for sure.

[2018-03-10 19:17] fishcharlie commented on #272
Also take a look at #119. Although not same issue, it might give you some insight into Dynamoose timestamps.

[2018-03-10 19:39] hassankhan commented on #260
@brandongoode's answer indeed helped, thanks!!

[2018-03-10 19:51] fishcharlie commented on #137
This can be closed via #250 correct?

[2018-03-11 02:02] fishcharlie commented on #283
@chaleCB and @RobertNorthard, I created a PR #306 for this feature. Just tested it and it seems to be working pretty well. You can either take my branch on my fork until we get this into a Dynamoose version or just wait until we get it added.

Would love to hear any input you have on it as well.

I will be keeping the PR open for a little bit just so I can try to figure out why that one test case

[2018-03-11 17:50] fishcharlie commented on #33
@tony-gutierrez Looks like this issue was closed and will not be making it into the AWS JS SDK for the time being. If that issue gets reopened and implemented we can revisit this. But for the time being I'm going to close this issue now since Amazon isn't going to implement it anytime soon.

[2018-03-11 17:50] #33 closed

[2018-03-11 17:53] fishcharlie commented on #134
@oprearocks You interested in creating a PR for this?

[2018-03-11 18:40] fishcharlie commented on #190
@brandongoode and @jcowley, create created a PR #309 to help improve the documentation around `Model.delete`. I'd love a check to ensure what I said is accurate and makes sense.

[2018-03-11 18:41] fishcharlie commented on #209
@treyhuffine Still interested in trying to get this done as a PR?

[2018-03-11 18:43] fishcharlie commented on #212
@ghost or @hassankhan, either of you interested in creating a PR for this?

[2018-03-11 18:44] fishcharlie commented on #214
Closing this due to inactivity. @chriskinsman if you are still running into problems please feel free to reopen or comment here and we'd be happy to help more!

[2018-03-11 18:44] #214 closed

[2018-03-11 18:49] fishcharlie commented on #238
@aAmitSengar Is the only error `save is not a function`? I can't reproduce this, so could you maybe provide a full example project so I can debug the error?

The only thing that stands out to me as the issue is you have an extra `)` at the end of your require statement `var myissue= require('models/issues-model.js')) `

[2018-03-11 18:50] fishcharlie commented on #281
@ro-savage Maybe this is also similar to #182

[2018-03-11 18:50] fishcharlie commented on #182
Similar to #281, maybe?

[2018-03-12 03:10] ricxsar commented on #172
@lengk  Do you have any plans on implementing this one? It is greatly appreciated.

[2018-03-12 05:40] fishcharlie commented on #172
If anyone would like to create a PR for this I’d be more than happy to review it and consider merging it in.

[2018-03-12 11:49] lengk opened #311 "Throughput not updating"
When changing the throughput, the table isn't updating?

[code]

[code]

[2018-03-12 12:42] deependrax commented on #302
I think i resolved it by setting both create & update set to true in dymoose default
dynamoose.setDefaults({
    create: false,
    update: false
});

now i think i just need to make sure i handle migration gracefully.

[2018-03-12 13:16] lengk opened #312 "Feature Request - Exponential Backoff"
When receiving the exception "ProvisionedThroughputExceededException"

[There is a recommended way of handling it by AWS](https://aws.amazon.com/blogs/architecture/exponential-backoff-and-jitter/) using the Exponential Backoff method.

It would be great if the .save() or batchOperations could do this automatically?

[2018-03-12 14:31] fishcharlie commented on #311
I thought Dynamoose only respects the throughput on table creation. And I just quickly looked through the codebase and looks like that in fact is what is happening.

I will update the docs to more accurately reflect this. If you'd like to propose a change to the behavior submit a PR and I'd be happy to review it.

[2018-03-12 14:31] fishcharlie commented on #302
@deependrax Glad you got it working!!

[2018-03-12 14:31] #302 closed

[2018-03-12 14:33] fishcharlie commented on #312
Closing as a duplicate of #209. If you'd like to submit a PR to get this implemented that'd be awesome!

[2018-03-12 14:33] #312 closed

[2018-03-12 14:44] lengk commented on #209
Which of the [backoff methods](https://aws.amazon.com/blogs/architecture/exponential-backoff-and-jitter/) would be preferred?

Would these be configurable for each individual model, each CRUD request, or  have the option to configure it when initialising the connection?

[2018-03-12 14:48] fishcharlie commented on #209
@lengk Maybe all 3? Give the option to set it in the dynamoose connection itself, then each model, then each request, maybe?

Another question tho. According to the [docs](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Programming.Errors.html#Programming.Errors.RetryAndBackoff) the AWS SDKs `implement automatic retry logic and exponential backoff`. So is this even required? I jus

[2018-03-12 14:54] lengk commented on #209
Yes it seems they have it as part of the SDK:

[code]

[2018-03-12 15:09] lengk commented on #209
However it implies that this algorithm doesn't implement retries:

[2018-03-12 15:42] fishcharlie commented on #209
@lengk I know I have seen errors from Dynamoose related to capacity. So I'm not sure if that is after retries have been attempted.

[2018-03-12 15:50] lengk commented on #209
@fishcharlie Yes I have as well. I've actually just implemented this for my program. See what happens when you increase the `maxRetries`?

[code]

[2018-03-13 00:57] traubo279 opened #313 "Async Set, validate"
It would be nice to have async / await or Promise resolve before writing to database, this save time to validate existing or write password

[2018-03-13 01:34] fishcharlie commented on #313
Can you show an example of what you mean? Not quite following.

[2018-03-13 01:51] traubo279 commented on #313
Sorry, some thing like this would be nice, before set to database, we can encrypt the password

[2018-03-13 01:53] fishcharlie commented on #313
Oh I get it now. Great suggestion! If you want to submit a PR feel free and we can get it integrated. Otherwise I’m not sure when we’ll be able to get it added but we’ll for sure keep it on the list of todos.

[2018-03-13 01:55] fishcharlie commented on #313
The one thing we have to remember about this is currently Dynamoose still supports Node 0.12. So that might make adding this a bit more difficult.

[2018-03-14 03:29] traubo279 commented on #313
@fishcharlie Would u consider have a NEXT branch ? i could rewrite it with new standard ..

[2018-03-14 03:30] fishcharlie commented on #313
Yes. If you create a PR and mention that in the message I can change the branch to merge into to a new next branch after you submit the PR.

[2018-03-15 16:20] lengk commented on #216
I've been able to use most functions with the syntax

[2018-03-15 16:30] lengk commented on #209
Yes I think that documentation is needed as this seems to fix the problem. I'm still not sure whether this is the case for the `batchPut` and `batchGet` operations

[2018-03-15 18:25] #144 closed

[2018-03-15 18:33] fishcharlie commented on #209
@lengk If you would like to submit a PR to update the documentation for this I would really appreciate it. Otherwise I'll get around to it when I can.

[2018-03-19 15:44] mogwai commented on #209
Here is what I'm using.

[code]

[2018-03-19 16:06] fishcharlie commented on #209
@mogwai So this looks to be more than a documentation change. Is that correct?

[2018-03-19 16:44] mogwai commented on #209
Depends what everyone else thinks but I think this could be built in. The fact is that you will get `ProvisionedThroughputExceededException` exceptions thrown when using the batch Operation.

[2018-03-19 16:46] mogwai commented on #209
What I didn't implement is on retries, only trying again for the unproccessed items

[2018-03-22 13:48] #235 closed

[2018-03-22 14:27] jignesh248 commented on #236
"nested unknown attributes are still not set and not addressed in this PR", I want to save nested unknown attributes 2 levels deep in an object. but it seems they aren't being saved as of now.

{
&nbsp;&nbsp;&nbsp;&nbsp;topLevelKey:{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;secondLevel:{
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;unknownGeneratedID1: { some key/

[2018-03-22 17:28] fishcharlie opened #322 "Test Case for Normalise Scan response shape when using "RawAWSFilter""
PR #320 might benefit from some test cases.

[2018-03-22 17:55] fishcharlie opened #323 "Maps Nested unknown attributes not set when saveUnknown is true"
Maps Nested unknown attributes not set when saveUnknown is true. This issue is related to #236.

[2018-03-23 17:31] fishcharlie commented on #159
I have started work on PR #325 to implement plugins into Dynamoose. I would **love** feedback during this process to ensure this feature is made possible. This feature is something I'm consistently thinking about to make sure this feature possible with Dynamoose Plugin Support.

Feel free to comment on that PR throughout the building process. I'm trying to build this feature out in the open so I c

[2018-03-23 17:33] fishcharlie commented on #18
I'm starting to implement plugin support to Dynamoose. Trying to build this out in the open so that people can give suggestions and feedback. Feel free to comment on PR #325 with feedback or suggestions.

[2018-03-29 20:31] noelrocha opened #327 "Dynamoose is making a DescribeTable on every Query or Put Item"
Hi,

I've enbaled X-Ray in my node solution running on Lambda and I'm getting a DescribeTable before every operation on a table on DynamoDB.

Every DescribeTable takes 8ms to complete, so its almost doubling my execution time.

Follow attached the x-ray trace.
<img width="521" alt="screen shot 2018-03-29 at 15 54 02" src="https://user-images.githubusercontent.com/29518/38112018-0c3f9a58-3377-11e8-

[2018-03-31 16:18] #87 closed

[2018-03-31 16:27] fishcharlie commented on #253
Closing due to no reply. @stang-tgs please let us know if you are still having this issue and we can try to help further.

[2018-03-31 16:27] #253 closed

[2018-03-31 16:27] fishcharlie commented on #255
Closing due to no reply. Please let us know if you are still having this issue and we can try to help further.

[2018-03-31 16:27] #255 closed

[2018-03-31 16:28] fishcharlie commented on #256
Closing due to no reply. Please let us know if you are still having this issue and we can try to help further.

[2018-03-31 16:28] #256 closed

[2018-03-31 16:31] #288 closed

[2018-03-31 22:51] #296 closed

[2018-04-01 02:12] fishcharlie commented on #301
See PR #329 for this.

[2018-04-02 06:49] sahilchaddha commented on #233
Hey,

I have just started with Typescript and I am trying to integrate Dynamoose for my Typescript Application.

I am unable to access model properties, since typescript gives me error.
I understand that in need to create my own interface to access the values but i am unable to understand how can i convert the Model<{}> to my Custom Interface.

`var userSchema = new dynamoose.Schema({
        user

[2018-04-03 22:53] fishcharlie commented on #212
I created a PR for this (#330). I need some help writing some tests, improving the documentation with an example, and testing it with DAX (since I have never used DAX before). If anyone would like to help please follow the instructions on that PR.

[2018-04-03 22:53] fishcharlie commented on #261
I created a PR for this (#330). I need some help writing some tests, improving the documentation with an example, and testing it with DAX (since I have never used DAX before). If anyone would like to help please follow the instructions on that PR.

[2018-04-03 23:07] fishcharlie commented on #281
@ro-savage, I submitted a PR #331 that tries to improve this. Let me know your thoughts on it.

[2018-04-03 23:09] fishcharlie commented on #279
If anyone would like to PR for this, I would be happy to take a look at it and get it merged in.

[2018-04-07 12:16] mogwai opened #335 "Caching using LRU or Memcached"
#325 Idea:

Would be really cool for example to be able to setup a model so that you can cache read operations locally into memory or ( if using lambda functions) a service such as MemCachier.

You could configure this in the model.

[code]

I'd be less scared to use scan operation with this ;)

[2018-04-07 14:14] fishcharlie commented on #335
@mogwai Sounds like a great idea! At first glance this should be possible with the current implementation of plugins. I would encourage you to try to give it a shot building it and let me know your thoughts so I can improve plugin support.

I’m not sure if I’ll have time to build this anytime soon, but if you are unable to I’ll try to get around to this at some point.

[2018-04-07 15:48] fishcharlie commented on #335
@mogwai I believe #325 is pretty stable. We might make some more changes but I believe it’s pretty stable. Although I haven’t gotten around to building my own plugin so I’m not 100% sure. So play around with it and let me know your thoughts or suggestions.

[2018-04-09 17:34] fishcharlie commented on #238
Closing this issue due to no reply from the OP. Please comment if this is still an issue and we can look at it further.

[2018-04-09 17:34] #238 closed

[2018-04-09 17:35] fishcharlie commented on #269
Closing this issue due to no reply from the OP. Please comment if this is still an issue and we can look at it further.

[2018-04-09 17:35] #269 closed

[2018-04-09 17:36] fishcharlie commented on #276
Closing this issue due to inactivity.

[2018-04-09 17:36] #276 closed

[2018-04-10 07:56] YevheniiHerasymchuk commented on #276
Sure, I got your point. Thank you

[2018-04-11 21:38] bsimpson53 commented on #230
I'm not very familiar with dynamodb but I've just been grappling with this too, I've noticed that this does the right thing:

[code]

However the 'saveUnknown' schema option is ignored below the first level

[2018-04-13 02:16] fishcharlie commented on #159
I have also opened a PR (#338) that should help to build out this functionality as a plugin when Dynamoose version 0.9 is released.

[2018-04-14 01:50] judahb commented on #279
https://github.com/automategreen/dynamoose/blob/master/lib/index.js

On this file, when leveraging the constructor for AWS.Dynamodb can you allow for STS credentials as a parameters, rather than instantiating with the credentials of the role at run time? Maybe by keeping the current approach as default, but where a configuration can be set in dynamoose allowing one to pass STS credentials. Use cas

[2018-04-15 14:28] MarcWadai opened #340 "Query : Negative in() filter query"
I got this error
` {Invalid Query state: in() cannot follow not()}`
From what I saw in the test files it is not possible to write something like this
`Dog.query('breed').eq('Jack Russell Terrier')
    .filter('color').not().in(["White and Brown", "White"])`

My use case is that i want to select all the users that are not included in the input array.
So is there any other possibilities to write a n

[2018-04-15 18:26] fishcharlie commented on #279
@judahb That sounds good to me. I haven't worked with STS credentials before tho, so it will probably be a while before I get around to working on this. If you would like to make a PR I would be happy to review it and try to get it merged in.

[2018-04-16 16:41] judahb commented on #279
This should be straight-forward. Simply pass the attributes this way. Note, that these should have the ability for one to pass as an event, not simply storing the access and secret in-memory. Let me know if this makes sense. As an example, if you were to create an application with dynamoose in lambda, one can leverage getCredentials from Cognito to convert an ID/Access (JWT) Token into STS Creds w

[2018-04-20 06:53] ricxsar opened #343 "Table index not selected correctly when querying"
I have a table `ScheduleLog` with 2 global indexes using the same primary key `orgId` and different range keys `createdAt`, `expectedArriveAt` . See schema below:
[code]

When I query the table using the primary key `orgId` and range key `expectedArriveAt`, the `OrganizationCreateAtIndex` is used not the `OrganizationExpectedArriveAtIndex`. See complete query
 and error below:
[code]
[code]
I hope

[2018-04-20 16:14] fishcharlie commented on #343
@ricxsar I created a PR creating a test case for this (#344). I'm not sure when we will be able to get around to fixing this. I'm aiming to get this fixed before version 0.9. But any help fixing this would be much appreciated and help speed everything up.

[2018-04-20 16:23] fishcharlie opened #345 "Travis CI builds succeed even if build fails"
https://travis-ci.org/automategreen/dynamoose/jobs/369205775

Travis CI builds with Node.js versions >4 succeed even if a test or multiple tests fail

[2018-04-20 16:24] fishcharlie opened #346 "Coveralls Not Reporting on PRs"
https://github.com/automategreen/dynamoose/pull/334

Coveralls is no longer reporting the status on new PRs

[2018-04-20 17:36] fishcharlie commented on #327
I'm closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and I can try to help further.

[2018-04-20 17:36] #327 closed

[2018-04-20 19:23] #345 closed, assigned to nobody

[2018-04-20 19:23] #346 closed, assigned to nobody

[2018-04-22 16:12] hassankhan opened #348 "Use DynamoDB Marshaller instead of custom logic in `Attribute`"
Instead of having to maintain custom logic, we could reuse the [`Converter`](https://github.com/aws/aws-sdk-js/blob/master/lib/dynamodb/converter.js) object from `DynamoDB` in `aws-sdk`.

This would help in reducing maintenance burden as well as simplify the codebase considerably.

[2018-04-22 17:12] fishcharlie commented on #193
@hassankhan I don't see this happening anytime soon. Myself and @brandongoode are the only collaborators of the project currently and I haven't used Typescript at all. I think the learning curve for new contributors is a massive negative for this project in it's current state.

That being said I would be open to exploring this further down the road. It would require me learning Typescript which I'

[2018-04-22 17:13] fishcharlie commented on #348
@hassankhan A PR for this would be awesome!!

[2018-04-23 03:24] ricxsar commented on #343
Sorry @fishcharlie but I don't have spare time at the moment. Is there any way to hint query to use a particular index like `using("index name")` or something so that we can move on to my development?

[2018-04-23 03:26] fishcharlie commented on #343
@ricxsar I haven't gone in depth to how Dynamoose/DynamoDB handles that. I'm guessing that functionality would be pretty easy, but I'm not 100% sure. I'll see if I can find some time to take a look this week. No promises tho.

[2018-04-23 03:31] ricxsar commented on #343
@fishcharlie I think this https://github.com/automategreen/dynamoose/blob/d25b045050f9a54bf646fb7f89c531a6e21e16fa/lib/Query.js#L94 should also check for the range key.

[2018-04-23 03:39] ricxsar commented on #343
And also this one https://github.com/automategreen/dynamoose/blob/d25b045050f9a54bf646fb7f89c531a6e21e16fa/lib/Query.js#L117
There's also a possibility that an index don't contain a range key.
There's a functionality that override the index but it is not documented on the api. I don't know if this works but I will give it a try.
https://github.com/automategreen/dynamoose/blob/d25b045050f9a54bf646f

[2018-04-23 03:45] fishcharlie commented on #343
So I changed line 94 to the following.

    if(index.name === this.query.hashKey.name && (!this.query.rangeKey || index.rangeKey === this.query.rangeKey)) {

But now I'm getting an error on line `if(!queryReq.IndexName && schema.rangeKey.name !== rangeKey.name) {` where `schema.rangeKey` is undefined.

[2018-04-23 06:01] ricxsar commented on #343
@fishcharlie I was able to confirm that we can override the index being used when querying. See query below:
[code]
However we still need to fix the bug that it should select the correct index to be used automatically.

[2018-04-23 19:57] fishcharlie commented on #335
@mogwai Just wanted to check in and see if you were able to make any progress with this. 😃

[2018-04-23 20:20] fcheong3b opened #349 "Scan is missing many of my items"
Hi, I'm running scan operation on one of my tables but it is missing many of my items. I'm running a scan on the createdTime timestamp filed. But there are many items that are not coming in the request even when I keep calling till no lastIndex field is set. it doesn't matter the time of windows they are never returned. my table maybe has less than 5k items.
this is an example of my query:

[code]

[2018-04-23 20:53] fishcharlie commented on #349
@fcheong3b After looking at your code very briefly it looks decent. Can you provide a reproducible example so I can test this?

You could also try to use [`scan.consistent()`](https://dynamoosejs.com/api#scanconsistent) to see if that helps or instead of manually looking for the `lastKey` use [`scan.all()`](https://dynamoosejs.com/api#scanalldelay-max).

[2018-04-23 21:54] fcheong3b commented on #349
Thank for the answer I will try the scan.consistency() method. Can I combine scan.all() with some filters or do I have to run the filter on the app side?

[2018-04-23 21:57] fishcharlie commented on #349
@fcheong3b You can run `scan.all()` with filters. If you use filters you shouldn't need to do any processing on the app side unless you want to do more complicated filters that Dynamoose/DynamoDB doesn't support.

Let me know if that works for you or if it doesn't work for you.

[2018-04-23 22:50] fcheong3b commented on #349
Hi, I just refactor my code to use all what you advice but I'm getting an error
[code]
But I'm gettting this `Error-> _this8.model.scan(...).all is not a function`

[2018-04-23 23:02] fishcharlie commented on #349
You can run a scan on a schema.

[2018-04-23 23:30] fcheong3b commented on #349
@fishcharlie Thank you for your comments, the error above was made by the version of dynamoose I was using (0.7.0) now I update it to the latest (0.8.7) and the function above is working ok. About the amout of data Still need to test it on my porduction environment but I hope will be ok.

[2018-04-24 00:55] fishcharlie commented on #349
@fcheong3b Awesome. I'm going to close this issue now. Please comment if you run into any more problems. Good luck!

[2018-04-24 00:55] #349 closed

[2018-04-24 01:07] ricxsar commented on #343
@fishcharlie I have test the PR, so far it solves the issue. Thanks for the quick solution.

[2018-04-24 03:54] fishcharlie commented on #343
@ricxsar Thanks for testing!!

[2018-04-24 12:10] mogwai commented on #335
Hey man I've been swamped. I'll try and start it this week

[2018-04-25 17:11] sjensenihi commented on #295
I just wanted to chime in and say that I'd like this feature too. AWS says that many web-apps can be served using a single dynamoDB and for hierarchical database organizations you can pretty efficiently organize dynamo using a type(hash) and id (scan) arrangement like this:

courses -> type (hash), id: id (scan), name, description, image
lectures -> type (hash), id: courseId#id (scan), name, descr

[2018-04-27 23:48] rawsh opened #352 "Query TypeError: Cannot read property 'toDynamo' of undefined"
I'm trying to use Dynamoose to replace mongoose in an app. The original call was this:

[code]

Here's what I changed it to:

[code]

TypeError: Cannot read property 'toDynamo' of undefined (on the line where I queryOne) when it is called

[2018-04-28 00:14] fishcharlie commented on #352
@rawsh Can you create an example reproducing this? At first glance your code looks correct. Sounds like it could be a problem with your data in your table, or schema/model.

[2018-04-28 00:25] rawsh commented on #352
@fishcharlie I'll fork it. Does your branch work right now or is it broken? So the workaround is a table with id's?

[code]

[2018-04-28 00:27] fishcharlie commented on #352
The PR #329 has some test cases that are broken. Building in the feature should fix those test cases. Might need to add some more test cases for scanning and querying with the dot syntax (ex. `local.email` like your example had).

The work around is just to bring all your properties to the top level. Not having nested properties.

[2018-04-28 00:32] rawsh commented on #180
@brandongoode Just tried that:

[code]

ValidationException: Invalid FilterExpression: Attribute name is a reserved keyword; reserved keyword: local

[2018-04-28 00:34] fishcharlie commented on #180
@rawsh To me that error means that you have to call it something other than `local`. See [this article for reserved keywords](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ReservedWords.html).

[2018-04-28 00:39] rawsh commented on #180
@fishcharlie Aha, setting it to "plain" fixes the issue.

Looks like there is limited support for nested schemas? What's an alternative to

[code]

[2018-04-28 00:40] fishcharlie commented on #180
@rawsh See issue #301 and PR #329 for more info on nested schemas. Personally I haven't played around with nested schemas a lot. It's something I would like to get better documented and improve support for. In all my schemas I just keep everything at the top level.

[2018-04-28 17:15] rawsh opened #353 "ValidationException: Query condition missed key schema element: local"
Not sure where this is happening since the debug is just this:

[code]

[2018-04-28 17:16] #352 closed

[2018-04-28 17:16] rawsh commented on #353
Might be this:

[code]

Is local_email a valid key name?

[2018-04-28 17:17] fishcharlie commented on #353
@rawsh `local_email` should be a valid key name. Is the call back function returning an `err` in there?

[2018-04-28 17:29] rawsh commented on #353
@fishcharlie I actually fixed this by deleting the table. I think a record was malwritten

[2018-04-28 17:30] rawsh commented on #353
@fishcharlie thanks for the replies

[2018-04-28 17:30] #353 closed

[2018-04-28 17:30] fishcharlie commented on #353
@rawsh Awesome. Glad it's working now!!

[2018-04-30 09:02] ro-savage commented on #281
@fishcharlie - Looks great Charlie. Exactly what is needed.

Got caught by this again today, searching through trying to find what field is throwing the error. This would save heaps of time.

[2018-05-08 01:55] liberty2015 opened #355 "Model.batchPut(items, {overwrite: false}) doesn't work."
I set the option to {overwrite:false} for Model.batchPut,but it dosen't work.

[2018-05-08 16:28] fishcharlie commented on #355
@liberty2015 Is it giving you an error? What is the expected result and what is the current result? Can you provide an example of it failing? Without more information we can't really help.

[2018-05-08 16:30] fishcharlie commented on #335
@mogwai Any progress on this? Just want to hear your experiences with Plugin support and get some information about changes that we still need to make before getting it released.

[2018-05-08 21:39] jdcrecur commented on #151
I made this recently to help a project: https://www.npmjs.com/package/dynamoose-to-cloudformation

[2018-05-09 14:26] mogwai commented on #335
Hey Charlie, no I'm still struggling to find the time to do it. I'm catching a flight tomorrow so will have a crack at in on the plane

[2018-05-10 17:28] jdcrecur commented on #151
Most welcome @fishcharlie is does need a little more work regarding index's though:  https://www.npmjs.com/package/dynamoose-to-cloudformation#current-known-limitations

If anyone fancies helping out ;)

[2018-05-11 09:26] mogwai commented on #335
https://github.com/mogwai/dynamoose-caching

I've started it.

For now because I'm no able to use the npm package directly (or atleast I don't know how to) I will use your repo as a git submodule.

[2018-05-16 19:26] hassankhan commented on #193
Hi @fishcharlie,

It might be an idea to only use the Typescript compiler for transpilation. This would let contributors use all the latest syntax, and frees maintainers from having to keep up-to-date with `babel` etc. I'd be willing to give it a shot in a PR, if that sounds okay?

[2018-05-16 20:06] fishcharlie commented on #193
@hassankhan I have honestly never been a fan of transpilers. It requires **SO** much overhead, and I personally don't see the value for this project. In version 1.0 we will be dropping support for older versions of Node.js so we can start using ES6+ syntax.

The amount of overhead and extra maintenance required for the toolchain and the DevOps side of things seems like a huge cost that personally

[2018-05-16 23:55] ecwyne opened #359 "Inconsistent overwrite value"
`model.put` [defaults to true](https://github.com/automategreen/dynamoose/blob/master/lib/Model.js#L284)

`Model.create` [defaults to false](https://github.com/automategreen/dynamoose/blob/master/lib/Model.js#L333)

Typescript docs say that it [defaults to true](https://github.com/automategreen/dynamoose/blob/master/dynamoose.d.ts#L136-L138)

[2018-05-17 15:44] fishcharlie commented on #359
@ecwyne Thanks for this. We'll address it in version 1.0, since it will be a breaking change.

[2018-05-18 15:00] pscamman opened #360 "Using saveUnknown throws an error when trying to save the boolean value false"
https://github.com/automategreen/dynamoose/blob/0bbae14aa47d6abe70757194a803f70ccbd872dc/lib/Attribute.js#L151-L155
The above if statement triggers on any falsy value. It is reached when saveUnknown is true:
https://github.com/automategreen/dynamoose/blob/0bbae14aa47d6abe70757194a803f70ccbd872dc/lib/Attribute.js#L19-L21

Unless I'm missing something, saving false (and null even) should be an optio

[2018-05-18 15:28] fishcharlie commented on #360
@pscamman That does sound like unintended behavior. It looks like it has to do with PR #240. I'm not quite sure how to fix this currently. Any tips would be awesome. Otherwise I'll try to get around to taking a look at this soon.

[2018-05-18 15:38] pscamman commented on #360
@fishcharlie Cool. If I find some extra time I'll see about taking a deeper look myself as well.

[2018-05-18 18:30] mogwai commented on #335
https://www.npmjs.com/package/dynamoose-caching

[2018-05-23 15:59] zhenyulin opened #362 "Can I specify the TableName to be used by dynamoose?"
Just start to try switching from aws-sdk to dynamoose.

Previously I had `TableName` specified for resource access control in iAM role, and currently dynamoose seems to be generating a new table while I create a model. Can I specify the table going to be used by the model at the moment?

[2018-05-23 16:05] zhenyulin commented on #362
found out it is using the `modelName` as the `TableName`

[2018-05-23 16:05] #362 closed

[2018-05-29 14:32] giulianok commented on #270
@craigsketchley I couldn't figure out how to make it work with aws-sdk, and looks a little bit complicated (mocking methods after we instantiate aws).

This is how I do it (`Report` is my dynamoose model):

# Before

[code]

# After

[code]

## Test

[code]

[2018-06-01 20:28] whilesoftware commented on #253
@brandongoode i can confirm that it does not work in real AWS mode or in local mode.

[2018-06-06 00:17] CalvinMcstein commented on #349
@fishcharlie I am running the latest 0.8.7 and trying to use **consistent read**.

Please advise if this is right:

myModel.query('customerType').eq('hni')
		        .filter('criteria').eq('high')
			.consistency()
			.exec(function (err, record) {
                          // process further
			})

This returns "myModel.query(...).eq(...).consistency is not a function"

[2018-06-06 00:58] fishcharlie commented on #349
@CalvinMcstein As I mentioned in a previous comment you must use the `[Query.consistent()](https://dynamoosejs.com/api#queryconsistent)` function. Looks like you are using `consistency` instead of `consistent`.

[2018-06-07 04:41] CalvinMcstein commented on #349
@fishcharlie I tried `consistent` but doesn't return records...

I wonder if my model definition has something to do with it -- captured the definition and my query here https://gist.github.com/CalvinMcstein/904a23719acb50da21c3d7df31d018b0

Thanks for your help!

[2018-06-07 04:45] CalvinMcstein commented on #349
Ah! `ValidationException: Consistent reads are not supported on global secondary indexes`

[2018-06-07 14:06] fishcharlie commented on #349
That error explains it. I’d maybe do some research about if there is a workaround or how other systems handle that limitation if you really need consistent reads.

[2018-06-11 15:56] ecwyne commented on #360
It seems to me that this is fixed if https://github.com/automategreen/dynamoose/blob/master/lib/Attribute.js#L154 is removed entirely.

This enables saving `false`, `''`, and `0`

The only other "falsey" values are `null`, `undefined`, and `NaN`.

`null` is a specific [type](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_AttributeValue.html) in dynamo
`undefined` should probabl

[2018-06-11 16:02] ecwyne commented on #360
See PR #363 for my proposed fix

[2018-06-11 16:49] ecwyne commented on #360
@fishcharlie is right, there is already a PR that addresses this (#336)

You mentioned including this fix in `0.9`, is there any sense of how soon that will be? (This bug is preventing me from moving forward)

Thanks so much for the awesome library! It makes working with dynamo SO much more enjoyable!

[2018-06-11 17:05] fishcharlie commented on #360
@ecwyne I'm currently waiting to hear back from @brandongoode. Currently although I have quite a bit of access on this project, I do not have the ability to publish new versions on NPM. I'm going to try to work with @brandongoode to discuss ways to keep this project alive. If that doesn't happen, at some point I will consider creating a new version of this repo (fork) to ensure it gets maintained.

[2018-06-11 17:29] fishcharlie commented on #360
@ecwyne Let me work on that now. I'll probably just work on merging stuff into master. It would be awesome if you'd be willing to post some comments in the active PRs and review the code to make sure it's ok to be merged in. The more code reviews the better! haha.

[2018-06-11 17:36] fishcharlie commented on #360
@ecwyne Ok well just leaving comments if it looks good or bad that would be awesome! I'll try to get around to this ASAP.

[2018-06-11 18:48] pscamman commented on #360
@ecwyne Just want to point out: Saving '' causes an error in DynamoDB, aside from anything Dynamoose does.

[2018-06-11 19:41] ecwyne commented on #348
In general I love this, however I see two issues up front.

1. Behavior is somewhat like `useDocumentTypes` is always set to `true` (always makes `Map`s and `BOOL`s)
2. `Converter.input(new Date())` -> `{ M: {} }`

[2018-06-13 01:31] #275 closed

[2018-06-13 01:33] #212 closed

[2018-06-13 01:36] #239 closed

[2018-06-13 01:36] #283 closed

[2018-06-13 01:37] #227 closed

[2018-06-13 01:38] #190 closed

[2018-06-13 01:38] #281 closed

[2018-06-13 01:51] #241 closed

[2018-06-13 07:12] SteleA opened #368 "https://dynamoosejs.com is down"
https://dynamoosejs.com is showing a 404 page

[2018-06-13 16:16] fishcharlie commented on #368
@brandongoode needs to take care of this since he owns the domain name

[2018-06-13 16:17] fishcharlie commented on #368
I'm guessing this is related to transferring the repo to a dedicated org.

[2018-06-14 01:08] brandongoode commented on #368
I'm working on fixing this.  Yes the transfer caused the issue.  I'm waiting on AWS cloudfront push the changes to their edge nodes.

Sorry for not fixing this earlier. My 6 year old macbook's died :-( (GPU failure) and I've been working to get a replacement restored all day.

[2018-06-14 12:50] brandongoode commented on #368
Finally think I've figured out what's wrong.  Github changed how it handles HTTPS recently.  The old repo was still using the old method.  When we transferred, it changed the settings.  The site is back up with HTTPS.  I'm working to get it working with HTTPS now.

[2018-06-14 12:59] brandongoode commented on #368
I think it should be working now.  Please re-open this issue if it's still not working.

[2018-06-14 12:59] #368 closed

[2018-06-19 16:16] fishcharlie opened #372 "Design Dynamoose icon"
On our [dynamoosejs GitHub page](https://github.com/dynamoosejs) we currently have the default logo. If anyone would like to create a logo/icon for us that would be amazing!!

[2018-06-20 14:19] nitinreddy3 commented on #270
@giulianok Does this mocking of Models works well ?

[2018-06-20 14:20] nitinreddy3 commented on #270
I am also trying to write some unit test cases for dynamodb but it seems to run the test cases i have to be connected with local dynamodb

[2018-06-28 04:51] shierro commented on #278
Hey guys, does `waitForActive: true` have a callback/trigger? what can we do to determine if table is already active

[2018-06-28 20:47] fishcharlie commented on #278
@shierro Currently the `waitForActive` function doesn't have a callback. You would have to build that manually using the AWS SDK.

[2018-06-29 19:10] oguibueno opened #375 "dynamoose.AWS.config.update"
In dynamoose it is only possible to configure AWS globally with endpoint, region, access key and secret key but if I have another amazon service in the project, such as SES (Simple Email Service) with its own settings, when importing the aws-sdk, gives a conflict.

All of this is due to the fact that to run:

`dynamoose.local()`

[https://dynamoosejs.com/api#dynamooselocalurl](doc)

it's also nece

[2018-07-08 18:01] #359 closed

[2018-07-08 18:03] fishcharlie commented on #359
Thanks for this @ecwyne. I have decided to just update the TypeScript notes and keep the defaults as is.

[2018-07-09 01:10] haolinj opened #378 "BatchGet model with range key with false-y value fails"
This is related to issue #177 that Get model with range key 0 will fail due to the false-y check. The BatchGet model has the same issue, the line that does the check:

https://github.com/dynamoosejs/dynamoose/blob/master/lib/Model.js#L1059

If range key is 0, `Range key required` error will throw.

[2018-07-09 01:17] fishcharlie commented on #378
@haolinj If you want to create a PR for this that would be awesome!

[2018-07-09 01:40] haolinj commented on #378
@fishcharlie Yes, PR is created.

[2018-07-11 18:20] duxing opened #380 "Cannot connect to local dynamodb"
hi all,
I'm setting up a node js application to access dynamodb and I'm having problem connecting to my local dynamodb.

local dynamo db is running fine on port 8000:
[code]

And my simple application is identical to the given example:
https://dynamoosejs.com/examples#simple-example

when I start the script with:
[code]
I got an error message complaining region is not configured.

so I added regio

[2018-07-11 18:52] duxing commented on #380
issue is caused by wrong local url under docker network.

[2018-07-11 18:52] #380 closed

[2018-07-11 21:22] duxing opened #381 "Local dynamodb requires default AWS credential"
accessing local dynamodb would require aws credential to be configured (under the default profile)
I've tested several ways to access local dynamo db with dynamoose in a container, and only 2 options worked:

options 1: set up credential in node application.
[code]

options 2: have a default aws profile at `~/.aws/credentials`
Note: it only looks for profile with name `default` and I don't know if

[2018-07-11 22:06] duxing commented on #381
looked into the source code a bit more and I don't think either issues should be addressed by dynamoose.
it's stated clearly one *must configure credentials* before using local dynamo db
https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/DynamoDBLocal.html

and the profile thing seems to be better addressed in `aws-sdk` package

[2018-07-11 22:06] #381 closed

[2018-07-12 23:59] soliveira-vouga opened #382 "Model.update trying to update key attribute"
Hi, I have the following model

[code]

When I try to do an update like this:

`Transaction.update({ transactionId, createdAt }, { status })`

I get the following error:

`One or more parameter values were invalid: Cannot update attribute createdAt. This attribute is part of the key`

Why is it trying to update the createdAt field? I'm supplying it as part of the key argument, not as the update ar

[2018-07-13 00:21] fishcharlie commented on #382
@soliveira-vouga I don't see any point in specifying the `createdAt` property unless you are wanting to update that as well. Specifying the `createdAt` property shouldn't narrow down the items that it will update because the hashKey `transactionId` is unique in DynamoDB. So I would try removing that property.

If that doesn't work please create a failing test case and create a PR for it and I'll l

[2018-07-13 06:20] soliveira-vouga commented on #382
`transactionId` is not unique for this particular table. `transactionId` + `createdAt` are you unique which is why transactionId as my hashKey and createdAt as my rangeKey constitute my primary key.

The Model.update call, from my understanding, takes the key as the first argument and the attribute(s) to be updated as the second.

I'm passing in the key in the first as argument (transactionId and

[2018-07-13 16:57] warnero opened #385 "Trying to save a new Model with create:true fails"
I've tried just about everything I can think of but I can't get my new object/table to correctly create the table in my local database. I can create it through the DynamoDB shell, but then I'm missing a lot of info that's in my schema.

I tried calling .getTableReq() on the Model class but that failed saying there is no such method (and I can't find it searching through the code either). Reading a

[2018-07-14 16:04] #378 closed

[2018-07-14 16:05] fishcharlie commented on #382
@soliveira-vouga Does this work if the rangeKey is something other than `createdAt`?

[2018-07-14 16:10] fishcharlie commented on #385
@warnero I'm confused about what the problem is. Is the problem that the model creation is failing, or is the problem that `getTableReq` isn't working? When using DynamoDB Local and the model is set to be created it will create the table in your DynamoDB Local environment. You shouldn't need to use the `getTableReq`. It should handle it all for you.

[2018-07-14 19:09] warnero commented on #385
Both? First it's that it just spins and won't actually create a table and second I can't create it myself because `getTableReq` doesn't exist anymore as a method for me to get the full table definition.

[2018-07-14 19:41] warnero commented on #385
Gah! I see where my problem is! I'm recently switching over from Mongoose to Dynamoose and their Schema creation does not use the `new` keyword. Your Model creation also doesn't use the `new` keyword. I just copied over my code from a similar Mongoose schema and never checked to make sure that the Schema creation happened.

Mongoose
`export const Schema = mongoose.Schema(jsonSchema);`
`export cons

[2018-07-14 19:41] #385 closed

[2018-07-14 19:47] fishcharlie commented on #385
@warnero Glad you figured it out!!!

[2018-07-16 21:16] soliveira-vouga commented on #382
It does. I have just added a test to cover that scenario

[2018-07-17 16:45] zhenyulin opened #387 "ENV_VAR conflict with AWS Lambda reserved keywords"
when using dynamoose with serverless, if AWS_REGION not set in the env_var, dynamoose would throw error of region validation failure; if it is set via env var naming AWS_REGION, it would conflict AWS lambda in deployment.

Is there a better way than the workaround of setting the ENV_VAR with a different name and config dynamoose in code?

[2018-07-17 19:49] fishcharlie commented on #387
You can use the `dynamoose.AWS.config.update` method to update the region and other AWS config settings. You can find an example of that method [in the documentation here](https://dynamoosejs.com/api#dynamooseaws).

[2018-07-17 22:47] duxing opened #388 "Model.update ADD only works for Number type"
this is a weird issue and I was able to reproduce this with the example code.

[code]

we'll create one record in the table with the following code:
[code]

i've confirmed on my aws console this record exists without `age` column

now step 2. try updating the record and the schema.
 - update schema:
[code]
 - update the record:
[code]

then this error message surfaced:

weird thing is, if I change

[2018-07-18 00:32] fishcharlie commented on #388
@duxing A PR to update that documentation would be very appreciated.

What do you want to happen if the attribute already exists?

[2018-07-18 01:42] soliveira-vouga commented on #382
Yes, there are workarounds. Another workaround is not using Model.update and passing the entire object into Model.save which is what I'm currently doing.

However, I just thought it's a bug since the expected behaviour would be that passing the hashKey and rangeKey to the Model.update function should work even where a timestamp field is being used as the rangeKey. The error message `Cannot update

[2018-07-18 01:45] fishcharlie commented on #382
@soliveira-vouga Gotcha. We will hopefully address this in a future update. I just wanted to make sure we were on the same page.

[2018-07-18 01:47] fishcharlie commented on #388
@duxing This is a DynamoDB level thing. Dynamoose passes those options directly to DynamoDB. So we don't really control the behavior of that code. You can submit a PR to fix this otherwise we'll get around to it when we can.

[2018-07-18 01:55] fishcharlie commented on #382
@soliveira-vouga I think a possible solution would be to allow you to pass in options into the `timestamps` property. For example something like the following:

[code]

That way you can pass properties directly into the attribute.

[2018-07-18 01:57] fishcharlie commented on #375
@oguibueno Just to confirm, you basically want to be able to set the `accessKeyId`, `secretAccessKey`, and `region` for **just** Dynamoose, and not the global AWS SDK?

[2018-07-18 01:59] fishcharlie commented on #355
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-07-18 01:59] #355 closed

[2018-07-18 02:01] fishcharlie commented on #313
@traubo279 As of v1.0 Dynamoose will support Node.js versions >8. If you would like to create a PR for this, we can get it merged in. Otherwise I'll try to get around to it at some point.

[2018-07-18 02:05] fishcharlie commented on #270
@craigsketchley I haven't worked with testing a lot when it comes to this type of stuff. My biggest suggestion would be to use DynamoDB Local for this. Other than that I don't have a ton of tips for this. Due to the inactivity of this issue and the fact that it's a much higher level programming concept (not directly related to Dynamoose), I'm going to close this issue. It will still be open to com

[2018-07-18 02:05] #270 closed

[2018-07-18 02:06] fishcharlie commented on #226
Looks like this issue is basically the same as #382.

[2018-07-18 02:06] #249 closed

[2018-07-18 02:09] fishcharlie commented on #137
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-07-18 02:09] #137 closed

[2018-07-18 07:14] duxing commented on #388
@fishcharlie I see. seems like dynamoose is simply passing the actions to aws cli:
https://docs.aws.amazon.com/cli/latest/reference/dynamodb/update-item.html

you're right. the dynamoose documentation is a bit misleading.

[2018-07-18 12:33] zhenyulin commented on #387
seems to be related to https://github.com/dynamoosejs/dynamoose/issues/251

`aws-sdk` is still expecting AWS_REGION when setup Dynamodb locally

[2018-07-18 12:33] #387 closed

[2018-07-18 16:33] fishcharlie commented on #387
@zhenyulin Yep exactly! 😃

[2018-07-19 09:29] traubo279 commented on #313
@fishcharlie Sorry for the late reply, i'm longer active on any aws project, so i'm lazy to re-setup test environment again. Generally, since each model put/update/etc resolve "schema.toDynamo" and called chain toDynamo from Attributes. To implement async, it involve wrapping all the code into a .then method. Which i think its quite messy to support a nice to have function.

[2018-07-19 22:42] duxing opened #389 "Is there a way to specify projection for populate?"
[code]

`populate` call seems to fetch in every attributes in the target schema. is there away to set a projection?

e.g.
[code]

[2018-07-20 03:04] duxing commented on #389
looked at the source code and it doesn't seems like it's supported.

[2018-07-20 16:36] zhenyulin opened #390 "[feature request] connect.close()"
like in Mongoose, it would be useful to have the tear down function for testing

[2018-07-21 02:40] fishcharlie commented on #390
@zhenyulin What exactly would this do? A PR would be awesome 😃

[2018-07-21 02:40] fishcharlie commented on #389
@duxing I haven't gone through the `populate` code very much. A PR for this would be awesome. 😃

[2018-07-21 02:42] fishcharlie commented on #313
@traubo279 I think we could implement this using the `await` feature. I'm going to reopen this so we can keep track of it.

[2018-07-21 03:09] traubo279 commented on #313
@fishcharlie Yes, i thought of es6 await originally, but i have no access to current dev branch 1.0. Happy to contribute here if you need ..

[2018-07-21 03:19] fishcharlie commented on #313
@traubo279 Submit a PR to the master branch 😃, v1.0 is coming after the test in #376 is fixed. So all v1.0 changes are hitting the master branch right now.

[2018-07-23 15:31] warnero opened #391 "dynamoose.local() not being recognized"
I'm not sure what I did, but at one point in my functional tests I had this working properly. Then I moved on to working on a script to connect to the db and generate some records for me and I noticed that even though it said there were records I couldn't even find a table. So I checked my AWS and sure enough everything from my functional tests and the new script are being pushed there instead of

[2018-07-23 15:43] fishcharlie commented on #391
@warnero What happens if you run a `console.log` inside of that Application service (where you input models)?  Or add a `console.log` inside each of your model files?

My question is, is for some reason the models being loaded before the `using local database` console.log? I haven't used the ES6 import syntax very much, so I'm not sure if there are behaviors that cause it to act differently than a

[2018-07-23 15:51] warnero commented on #391
Output
[code]
So the model class is getting pulled before my dynamoose.local is getting called.
[code]

[2018-07-23 15:53] fishcharlie commented on #391
@warnero That is the problem then. Either you are including/requiring that model somewhere else, or for some reason the include ES6 syntax gets hoisted to the top of the file.

[2018-07-23 15:53] warnero commented on #391
And now I think I see why. I'm using babel to transpile and it is setting Application before my db local call happens.
[code]

[2018-07-23 16:06] fishcharlie commented on #391
@warnero The problem with that is Dynamoose has certain functions that get called on model load and throughout the lifecycle of the application that require it to be setup correctly. For example Dynamoose can create the table automatically. It also polls for when the table is actually active and ready to go before running any commands on it.

I think it would require a complete restructuring of ho

[2018-07-23 16:09] warnero commented on #391
OK, will dig into the babel side of things to see how I can get it to force load other stuff beforehand. Just noticed none of my default config is being loaded before either so that's messing with my prefix stuff.

[2018-07-23 16:09] #391 closed

[2018-07-24 15:57] venkataprasadmanne opened #393 "does dynamoose populate works when query returns more than one document?"
i have to populate multiple  dynamoose documents using hashKey and rangeKey but its not working.
in the documentation, its mentioned that populate feature exists but they mention an example where they populate only one document,so i have modified that example to suit my needs. .I want both kittens to be populated with their owners phone number when i run this code but it throws error like **kitten

[2018-07-24 17:55] fishcharlie commented on #393
@venkataprasadmanne I haven't dived enough into the codebase for populate to comment much on this. But I **believe** a quick band-aid type fix would be to just map through the array and populate each one. Keep in mind I haven't tried this to see if it'll work, but that is the route I would go down to try to fix it.

[code]

Let me know how it goes!

[2018-07-24 18:52] venkataprasadmanne commented on #393
@fishcharlie I will try that.
One more concern I have is to populate array of refs like populating all kittens  of owner if owner item holds arrays of  objects containing kitten Id and name and we need to populate all attributes of kittens belonging to owner.I thought of manually doing this  but running into lots of asynchronous issues .

[2018-07-24 19:30] fishcharlie commented on #393
@venkataprasadmanne I don't totally understand what you mean. Can you share an example or something of what you are concerned about?

[2018-07-24 20:07] venkataprasadmanne commented on #393
@fishcharlie sorry, i should have mentioned code.I want to achieve functionality similar to below

[code]
Thanks in advance

[2018-07-24 21:33] fishcharlie commented on #393
@venkataprasadmanne I would suggest trying the syntax before reporting bugs. Without exact details about an error message you are receiving there isn't much we can do. If you still run into issues please submit a PR adding a broken test to the test suite to replicate the issue you are having, then please link the PR to this issue.

In the meantime I would suggest looking into some of the JavaScrip

[2018-07-24 21:33] #393 closed

[2018-07-26 13:56] ShirazMalkani commented on #113
I am having the same issue in java, I rearranged the fields but didnt worked out, any solution?

```Exception in thread "SimpleAsyncTaskExecutor-63" com.amazonaws.AmazonServiceException: One of the required keys was not given a value (Service: null; Status Code: 400; Error Code: ValidationException; Request ID: null)```

[2018-07-27 02:57] Euklidian-Space commented on #301
Hey @fishcharlie I would like to take a crack at this if that's cool.  Got a question though.  I would like to run just one test file.  I am trying to get familiar with the inner workings of model and schema by doing discovery testing, but it is time consuming to run the whole test suite.

Thanks,
ES

[2018-07-27 03:01] fishcharlie commented on #301
@Euklidian-Space That'd be awesome!! I saw a schema like the following before, but I don't know if it'd work.

[code]

That might be something to look at.

In order to run one test or one section of tests you can change `it` to `it.only` **OR** `describe` to `describe.only` and that will only run those tests.

I think you should be able to just create a fork off of my fork I created here. Keep me

[2018-07-27 03:04] fishcharlie commented on #301
@Euklidian-Space I forgot to mention. I created test cases in PR #329. I'd also look into issue #180. All the details I have found related to this so far are split between this issue and PR #329. Everything (including related issues) should be listed in one of the two places.

[2018-07-27 03:30] Euklidian-Space commented on #301
Hey @fishcharlie in what sense do nested schemas don't work?  All of my checks are passing.  I even tried the shema you posted.  Here is my code,

var User = dynamoose.model("my_user", UserSchema);
  var device_info = [{
    device_id: "device1",
    access_token: "token1"
  }];

  var user1 = new User({userId: "user1", first_name: "bob", device_info: device_info});

When I log out user1 I get the

[2018-07-27 08:11] arthurvi opened #395 "How to do a list_append? How to push / add / append an item to an array / list?"
Hi,

I'm trying to add a string to an array of strings. How to do this without fetching the entire array first, then updating it in JS, then overwriting the entire array?

With the "regular" dynamoDB language I would use `list_append`. How to do such a thing?

[code]

How to add an owner to the `owners` array?
[code]

[2018-07-27 13:10] arthurvi opened #396 "How to do a batchUpdate?"
Hi,

I want to execute a multi update. For example a list of dogs where I want to update the `name` of certain dogs that have a specific `owner`.

[code]

How to update the name of every dog with ownerID 'owner-1'?
[code]

And if that's not possible and I first fetch an array of dog ID's to update, how then? I rather not want to do an individual `.update` for every dog.
[code]

[2018-07-27 19:32] fishcharlie commented on #396
@arthurvi There is no [Batch Update](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Operations.html) method in DynamoDB. Due to that you'd either have to use the [`.batchPut`](https://dynamoosejs.com/api#modelbatchputitems-options-callback) method, or call multiple [`.update`](https://dynamoosejs.com/api#modelupdatekey-update-options-callback) methods.

[2018-07-27 19:33] fishcharlie commented on #301
@Euklidian-Space Do you think we should add support for getting the test cases I wrote working? At the very least I think our documentation could be more clear about this.

[2018-07-28 18:58] Euklidian-Space commented on #301
@fishcharlie  I got your subschemas branch on my local machine.  Gonna comb over the test cases and see what I can find.

[2018-07-29 07:01] dolsem commented on #395
@fishcharlie I'm looking for something similar - removing an item from the list. This is how it's done from the terminal - https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.html#Expressions.UpdateExpressions.DELETE

If I understand correctly, to add a new follower to the list of followers for a user I would do:
[code]
and this would add Jean Valjean to

[2018-07-29 23:55] fishcharlie commented on #395
@dolsem I didn't notice that until now. The `$ADD` update expression can be used to append an item to a DynamoDB list.

[2018-07-30 00:02] dolsem commented on #395
@dolsem okay, and can I use `$ADD` and `$DELETE` to add and remove items from a map (i.e. javascript object in my schema)?

[2018-07-30 03:00] dolsem opened #397 "Getting Model class object inside a Schema method"
In Mongoose you can get a model class object inside a schema method by calling `this.model(modelName)`, as you can see [here](http://mongoosejs.com/docs/guide.html#methods). Is that implemented in Dynamoose? If not, I'll submit a PR.

[2018-07-30 04:12] dolsem opened #398 "Wrong behavior of $DELETE and modifying DynamoDB maps"
I did some testing and found that updating with $ADD works as expected, i.e. I was able to successfully append an element to a list of type `[String]` by running:
[code]
Next I tried deleting that element by changing `$ADD` to `$DELETE` in the above call. That call, however, deleted the whole attribute `myList`, not just the item. This behavior is different from `DELETE` in DynamoDB Update Express

[2018-07-30 04:20] dolsem commented on #395
@arthurvi try
[code]
As I've mentioned in #398 , I had a similar case and it worked, except that my list type was `[String]`, not `Array`. Not sure if this will work for `Array`.

[2018-07-30 17:57] fishcharlie commented on #398
@dolsem Dynamoose has 0 control over AWS DynamoDB Update Expressions. Although Dynamoose might do work before and after to manipulate the request and improve ease of use, at the end of the day we are limited to what AWS DynamoDB offers. Due to this, I'm slightly confused about what you mean by `I suggest updating $ADD to support this and adding $REMOVE as an opposite of $ADD.`. We can't change how

[2018-07-30 17:58] fishcharlie commented on #398
I'm closing this issue for now, and might reopen depending on OPs reply.

[2018-07-30 17:59] fishcharlie commented on #397
@dolsem I'm not aware of this being a feature. I would first test it by writing a test case. If it works, we should probably edit the documentation to reflect that. If it does not work, we should implement it, and add it to the documentation as well.

So either way at minimum writing a test case for it and updating the documentation. If it isn't supported, adding support as well.

A PR would be am

[2018-07-30 22:14] dolsem commented on #398
Sorry for not being clear enough. It was my understanding that update command syntax does not directly correspond (and is not meant to) to that of Update Expressions. In UE there are 4 types: `SET`, `REMOVE`, `ADD` and `DELETE`. Note that current `$DELETE` behavior corresponds to `REMOVE` in UE, and `DELETE` is used to "to remove one or more elements from a set", NOT to remove attributes.

So my p

[2018-07-30 22:40] fishcharlie commented on #398
@brandongoode Thoughts on this?

[2018-07-31 18:56] duxing opened #401 "Model.delete function options not supported"
schema:
[code]

code for deletion:
[code]
and it gives me this error message
`[ValidationException: Invalid ConditionExpression: Attribute name is a reserved keyword; reserved keyword: uuid]`

however once the `options` are removed, `delete` works fine:
[code]

[2018-07-31 19:26] fishcharlie commented on #401
@duxing I'm pretty sure it's actually failing in both cases. According to the [`.delete` documentation](https://dynamoosejs.com/api#modeldeletekey-options-callback), if `update` is set to true it will fail silently.

`uuid` is a [DynamoDB reserved word](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/ReservedWords.html), therefor it can not be used as a document key.

[2018-07-31 20:33] duxing commented on #401
@fishcharlie I've ran the code before submitting this issue and without specifying `{ update : true }` the deletion works as expected (verified in dynamodb too)

which part of my issue description is confusing to you?
I haven't looked into the source code yet, but it seems to me that when `options` are specified, the first `key` object is interpreted as condition expression.

[2018-07-31 21:04] fishcharlie commented on #401
@duxing What happens if you use a key different than `uuid`?

[2018-08-01 03:10] fishcharlie commented on #390
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-08-01 03:10] #390 closed

[2018-08-01 03:11] fishcharlie commented on #396
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-08-01 03:11] #396 closed

[2018-08-01 08:03] dolsem commented on #398
@fishcharlie I can only speak from my point of view, and personally I come from using MongoDB and Mongoose. Recently I decided to transfer my database to Dynamo, and one of the reasons I chose Dynamoose is because originally I was hoping for a seamless transition that wouldn't require many changes to the codebase (which is, I guess, how Dynamoose positions itself, or at least the way I interpreted

[2018-08-02 04:48] naeemark commented on #251
See the accepted answer: https://stackoverflow.com/questions/37259824/user-pools-for-amazon-cognito-credentialserror-missing-credentials-in-config

[2018-08-02 21:26] #397 closed

[2018-08-03 04:32] qhello commented on #327
@fishcharlie I have the exact same issue.

I have a Lambda plugged on a Kinesis Data Stream, I'm doing all my Dynamoose operation in parallel, and the DescribeTable is slowing my functions very much.

![image](https://user-images.githubusercontent.com/9997584/43624228-92f7f5a4-9718-11e8-94c5-ba3a90b3b5f6.png)

![image](https://user-images.githubusercontent.com/9997584/43624277-e1850df6-9718-11e8-9

[2018-08-03 04:46] fishcharlie commented on #327
@qhello It looks like you set the Schema `waitForActive` to false, not the Model. Can you try updating that to put it on the model options instead of the schema and let me know how that goes?

[2018-08-03 17:42] fishcharlie opened #403 "Updating with saveUnknown Fails"
### Summary:

Currently in Dynamoose when trying to update an item with saveUnknown set to true it fails silently.

### Code sample:
#### Schema & Model
[code]

#### General
[code]

### Current output and behavior:

I expect the test above to pass with no issues, due to the fact that saveUnknown is set to true, it should be saving all properties even if they are not in the schema.

### Expected ou

[2018-08-10 05:06] Nikhil2508 opened #406 "dynamoose not in query synatx"
### Summary:

I am trying to do a not in query to dynamoose. But I cant find proper documentation for that. Please help.

### Code sample:
 let query =  usersModel.query('isActive').eq(1).not().using('isActiveGlobalIndex');
let userData = await query.not().filter('id').in(userIds).exec();

#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

### Expected ou

[2018-08-10 09:18] venkataprasadmanne opened #407 "how to do error handling while connecting to dynamodb using dynamoose"
I need help.I am looking for a code similar to mongoose like below to do error handling while starting the app.
it seems this is not supported in dynamoose as of now.is there any alternate approach?
because there is no point in going further continuing with starting app while database connection failed.so i just want to add a check

[code]

[2018-08-11 17:51] fishcharlie commented on #393
@venkataprasadmanne Awesome! Glad it hear it worked for you!!

[2018-08-11 17:55] fishcharlie commented on #407
@venkataprasadmanne Due to how Dynamoose is setup this is not supported and I don't see it being supported anytime soon.

Unlike most database systems AWS DynamoDB doesn't use a persistent connection to the database. There is no such thing as opening a connection to the database and closing the connection (unlike MySQL, MongoDB, etc).

In order to handle errors in Dynamoose, I would just do all yo

[2018-08-11 17:55] #407 closed

[2018-08-11 17:58] fishcharlie commented on #406
@Nikhil2508 [Here](https://dynamoosejs.com/api#querynot) is the Dynamoose documentation on `Query.not`. You can also look at [this](https://github.com/dynamoosejs/dynamoose/blob/master/test/Query.js#L410) test for an example of how to use the `Query.not` syntax. Hope this helps! Feel free to comment if you have more questions related to this.

[2018-08-11 17:58] #406 closed

[2018-08-13 14:09] venkataprasadmanne commented on #407
@fishcharlie Thanks for the help! I got it

[2018-08-14 00:09] Br0kensword commented on #256
So how does one go about mocking database calls from Dynamoose? I am trying to unit test a function that creates a user with the Model.create() function. How would I go about mocking that and returning a successful response so that my unit test passes?

[2018-08-14 01:28] dolsem commented on #256
@Br0kensword One (not ideal) way to do testing is to use a local DynamoDB instance, which you can populate with a client like dynamon. However, I am myself curious about how to do actual request mocking.

[2018-08-15 13:34] devotox opened #408 "Question: Should Expires update with UpdatedAt"
### Summary:

When you update a row should the expire also update to the expires value + updatedAt

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

It stays as it was when initially created

### Expected output and behavior:

None: Just wondering if this makes more sense

### Environment:

Operating System:
Operating System Version:
No

[2018-08-15 21:26] fishcharlie commented on #395
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-08-15 21:26] #395 closed

[2018-08-15 21:26] #297 closed

[2018-08-15 21:27] #294 closed

[2018-08-15 21:27] #293 closed

[2018-08-21 07:46] Nikhil2508 opened #416 "Double sorting"
I would like to Double sort using bidAmount and userCount in ascending order using following schema:

const bidsFrequencySchema = new Schema({
  auctionId: {
    type: Number,
    hashKey: true
  },
  bidAmount: {
    type: Number,
    validate: function (v) {
      return validations.validBidAmount(v);
    },
    rangeKey: true
  },
  userId: {
    type: Array
  },
  userCount: {
    type: Number

[2018-08-21 11:02] yoitsro commented on #313
Hey! If possible, could the API for defining async validators be the same as mongoose's? https://mongoosejs.com/docs/validation.html#async-custom-validators

This would ensure things like [Joigoose](https://github.com/yoitsro/joigoose) are still compatible with dynagoose.

[2018-08-21 14:02] fishcharlie commented on #416
@Nikhil2508 We strongly encourage issues and PRs to follow the template that is provided when you create an issue or PR. This is because it gives us a lot of information we need in order to help. Because you did not do that is makes it a lot more difficult for us to help. The statement “Below query doesnt work” is very broad and doesn’t give any detail about why it doesn’t work. Is it throwing an

[2018-08-21 14:02] #416 closed

[2018-08-28 11:09] sevenOneHero commented on #57
I dont understand why is this closed .  This is still an issue, there is no way to gurantee a unique primary key generation . Is there ?

[2018-08-28 16:33] fishcharlie commented on #57
@sevenOneHero How does @brandongoode's comment above not answer the original question and therefor close the issue?

[2018-08-28 16:34] #372 closed

[2018-08-29 08:22] sabreenakp opened #417 "How to skip,sort and limit using dynamoose?"
### Summary:

I previously used MongoDB and mongoose, now try to implement dynamoose in my app,
how to write the same query in dynamoose for below-shown mongoose query?

return this.scan({ abcd: { $ne: null }, activeFlag: true }).skip(9 * (page - 1)).sort({ date: -1 }).limit(9)

I need the same for
$ne - not equal to
skip
sort
and also limit

[2018-08-29 20:18] fishcharlie commented on #417
@sabreenakp I saw your [Stack Overflow question](https://stackoverflow.com/q/52072806/894067), and [replied to it](https://stackoverflow.com/a/52085460/894067) as well, just incase someone has a similar question they can find the information in both places. Everything below is the exact same as the Stack Overflow answer that I wrote.

Hopefully this helps!!

---

Dynamoose currently doesn't have s

[2018-08-29 20:18] #417 closed

[2018-09-04 03:29] mikecann opened #418 "ReturnValues in model create"
### Summary:

Dynamoose currently supports returnValues in an update (https://dynamoosejs.com/api#modelupdatekey-update-options-callback) but doesnt support it during a create even though AWS supports it (https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_PutItem.html#DDB-PutItem-request-ReturnValues).

### Expected output and behavior:

model.create's options should also support r

[2018-09-04 03:36] fishcharlie commented on #418
@mikecann Have you tried putting it in the `options` object in [`Model.create`](https://dynamoosejs.com/api#modelcreateobject-options-callback)?

[2018-09-04 03:38] mikecann commented on #418
@fishcharlie yes, however I am using Typescript, so if you think it is supported then perhaps its a Typescript definitions issue.

Here is the relevant line: https://github.com/dynamoosejs/dynamoose/blob/master/dynamoose.d.ts#L139

[2018-09-04 03:49] fishcharlie commented on #418
@mikecann Can you test it and see if it works (without TypeScript)? If it doesn't work can you let me know if an error is thrown (and what that error says) and also attach sample code?

I **think** it could be a definitions issue, but am not completely sure.

[2018-09-04 03:54] mikecann commented on #418
Just taking a quick look through the source (https://github.com/dynamoosejs/dynamoose/blob/master/lib/Model.js) it looks like it isnt supported.

If I get a min ill have a go at a JS test.

[2018-09-05 03:57] jignesh248 commented on #323
@fishcharlie I wish to contribute, to fix this bug and nested partial updates bug, both are troubling me too much. I wish to fix them but I fail to understand the flow of execution of code. Is there any way that you or somebody can put a walk through of the basic code in plain english, so that it is easy to follow code.

Thanks

[2018-09-05 20:31] fishcharlie commented on #323
@jignesh248 Awesome!! Honestly I haven't looked through this section of the code very much. Do you have any specific questions or are you looking for a broad overview?

[2018-09-08 02:16] mikecann commented on #418
@fishcharlie hey, no sorry I havent had chance. I usually work with Typescript so ill have to setup a separate project. Ill put it on my list to take a look at when I can.

[2018-09-08 02:46] brennhill opened #421 "Incorrect response for Object type"
### Summary:

Have a schema entry :
```PayableAmount: {type: Map}```
have also tried
``` PayableAmount: {type: Object},```

### Code sample:
#### Schema
[code]

#### Model
Model has no extra behavior apart from having a schema

#### General
[code]

### Current output and behavior:

Query works when I look in debugger and I get the expected return value from dynamo.  However, parsing the result for

[2018-09-09 02:39] bennettatoms opened #423 "question about startAt / querying an index with pagination"
### Summary:

I'm trying to implement pagination in a query on a dynamo table of users. The users each have a  company attribute, so in the User schema I have created three global secondary indexes (indices?) on the `company` attribute with rangeKeys `firstname`, `lastname`, and `username`. This is so I can sort and filter a grid on the client side using those properties.

#### Schema
[code]

###

[2018-09-09 15:45] bennettatoms commented on #423
@fishcharlie , thanks so much for taking the time to respond. The problem has been resolved, and maybe it had to do with the indexes propagating (?). I created the three indexes last night and was still getting back `lastKey` values like `{ _id: { S: '{ USER _id }' }  }`. This morning the `lastKey` values that are returning contain the appropriate properties to query the index again, like:
[code]

[2018-09-09 16:45] fishcharlie commented on #423
@bennettatoms Glad it's working for you! Please feel free to contact me or create issues if you run into any other problems! 😃

[2018-09-10 11:32] sabreenakp opened #424 "How to group items according to a key in schema?"
Is there any way to group items according to a key in the schema?

example:-
item1:{ a:1,:2,c:3}
item2:{ a:1,b:4,c:5}
item3:{ a:6,b:8,c;9}

I need items with the same value for 'a' in a group, kind of every item should be grouped according to a

[2018-09-11 01:07] fishcharlie commented on #424
Is this when you are trying to query or scan for items? We have an issue template on GitHub that automatically populates whenever you create an issue. We do that because it gives us a lot of relevant issue about what you are asking. Currently I have no idea what you are referencing. Next time when creating an issue please follow the template provided so we can get as much detail and information as

[2018-09-11 18:28] jignesh248 commented on #323
just looking for a broad overview.

I dunno in other thread you have created a PR for saveUknown failing silently even on top level, I guess that part is working on version released on NPM but only nested unknown field fails .

[2018-09-13 07:28] edwardez opened #425 "options of delete is not listed in type file"
### Summary:
According to the [documentation](https://dynamoosejs.com/api#modeldeletekey-options-callback
), `Model.delete(key, [options, ]callback)` and `model.delete([options, ]callback)` have options update, however it's not in the `dynamoose.d.ts` file which prevents typescript users to pass in this option

### Code sample:

#### General
https://github.com/dynamoosejs/dynamoose/blob/master/dyn

[2018-09-14 23:27] fishcharlie commented on #421
After looking into this issue more it looks like the problem is that you have not set `useDocumentTypes` to `true` in your schema. By default Dynamoose will use string based JSON for document based saving and reading data from DynamoDB. This is due to DynamoDB previously not supporting native lists and maps. You can toggle that option on by setting it in your schema settings, [see the documentatio

[2018-09-14 23:33] fishcharlie commented on #425
@edwardez Thanks for reporting this! PRs are always welcome if you want to take a shot at it or anyone else. 😃

[2018-09-14 23:36] fishcharlie commented on #323
@jignesh248 Yeah I jut moved that to a separate issue (this one). I would look into that PR that was created for the top level stuff and see if you can replicate it for nested items. Sadly that's the only insight I have right now.

[2018-09-18 05:15] brennhill commented on #421
I've tried this and set useDocumentTypes but still get the same error.

[2018-09-18 05:17] brennhill commented on #421
@fishcharlie SyntaxError: Unexpected token o in JSON at position 1
The issue happens when another service saves data to dynamo, but I've seen it happen a few different ways. It's critical that dynamo detect that it gets a non-JSON response back that it handles this gracefully.  Dynamoose CANNOT depend on being responsible for all saves and all returns all the time.

[2018-09-18 16:15] fishcharlie commented on #421
@brennhill I 100% agree about Dynamoose not depending on being responsible for all saves and all returns all the time. Let me see if I can find some time to do more investigation into this and then I'll get back to you.

[2018-09-18 23:09] fishcharlie opened #427 "Model.find alias"
### Summary:

In the [roadmap](https://github.com/dynamoosejs/dynamoose/blob/b71182a11e7067a123148ec3372356359d6b12ac/ROADMAP.md) it talks about adding a `Model.find` alias for version 0.9. As of right now I'm not sure what @brandongoode wanted that to be an alias for.

This ticket is for figuring out what that should be and implementing it.

### Type (select 1):
- [ ] Bug report
- [x] Feature sug

[2018-09-20 02:43] brandongoode commented on #427
So the idea was to allow easier porting from Mongoose. Mongoose use `.find()` and several variations: https://mongoosejs.com/docs/queries.html.

These could be aliased to query and/or scan.

[2018-09-20 03:12] brandongoode commented on #398
The issue is how DynamoDB expects the remove names based on indexes.

Below is the AWS doc:

---

Removing Elements From a List
You can use REMOVE to delete individual elements from a list.

Example

In Appending Elements To a List, we modified a list attribute (RelatedItems) so that it contained five elements:

[0]—Chisel

[1]—Hammer

[2]—Nails

[3]—Screwdriver

[4]—Hacksaw

The following AWS CLI

[2018-09-22 09:45] murbanowicz opened #428 "Cannot query hashKey together with where... ValidationException: Query key condition not supported"
### Summary:
`ValidationException: Query key condition not supported`
I need to find records in last (amount) seconds on given location.
Pretty simple, but already related to #382 #119

**WORKS**:
`Activity.query('locationId').eq(locationId).exec();`
**DOES NOT WORK**:
`Activity.query('locationId').eq(locationId).where('createdAt').ge(date).exec();`
### Code sample:
#### Schema
[code]

#### Genera

[2018-09-22 23:08] fishcharlie commented on #428
Hi @murbanowicz, I noticed you posted this issue on both [Stack Overflow](https://stackoverflow.com/q/52455680/894067) and on this [GitHub issue](https://github.com/dynamoosejs/dynamoose/issues/428). In order to help the most amount of people possible I'm posting the same response to both sites so that in case someone comes across one or the other they can access the same information easily. So ev

[2018-09-25 20:55] #343 closed

[2018-09-25 20:58] fishcharlie commented on #424
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-09-25 20:58] #424 closed

[2018-09-25 20:58] fishcharlie commented on #418
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-09-25 20:58] #418 closed

[2018-09-26 19:13] fishcharlie commented on #375
@oguibueno Also I'd encourage you to take a look at this:

[code]

Although this is for the AWSXRay feature, you can use it to override the AWS-SDK that Dynamoose uses. Which might help with what you are looking for.

[2018-09-26 19:14] fishcharlie commented on #375
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-09-26 20:08] fishcharlie commented on #270
I have recently been working on writing tests for Dynamoose errors to ensure my application handles errors correctly. Using [mock-aws](https://www.npmjs.com/package/mock-aws) combined with PR #429 you can mock errors from AWS to ensure that your application handles them correctly.

I have included some example code below for how you would do this.

One other important thing to note, normally you d

[2018-09-28 04:51] tony-perkins opened #430 "Stream Options not Working"
### Summary:

https://github.com/dynamoosejs/dynamoose/blob/master/lib/Table.js#L497

Not working because the of typo "steamOptions" instead of streamOptions

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

### Expected output and behavior:

### Environment:

Operating System:
Operating System Version:
Node.js version (`node -v`):
NPM

[2018-09-28 20:56] fishcharlie commented on #403
Closed in #431

[2018-09-28 20:56] #403 closed

[2018-09-28 21:09] #430 closed

[2018-09-28 21:11] fishcharlie commented on #430
Thanks for reporting this @tony-perkins! This has been fixed in PR #432 and will be released in version 1.0 (#365).

[2018-09-30 17:09] venkataprasadmanne opened #433 "Highest limit for number of records for one dynamoose batchPut request"
i am working to migrate data to dynamodb and there are around 20,000 records(each record is a simple JSON with around 10 fields) i need to insert in a table.I see that dynamoose has batchPut method for batch insertions and I am wondering  maximum how many records I can push for one batchput request? I see from dynamodb docs that  one dynamodb batchInsert  request would accept at max 25 records.

I

[2018-09-30 17:18] fishcharlie commented on #433
Hi @venkataprasadmanne! You are correct that AWS has a limit for batchPut. I forget what that exact limit is, but 25 sounds correct.

So yes you will have to make 800 batchPut requests or so.

You will need to increase the table throughput in order to achieve this probably. The throughput is also dependent on the size of each document. So without knowing the size of your data I’m unable to give ad

[2018-09-30 17:32] venkataprasadmanne commented on #433
@fishcharlie Thanks for the response.My each record is around 350 to 400 bytes ,could you pls suggest on throughput? I  looped through all the records and output to console to check if Node is able to handle this huge data  before writing the script  and it seems Node does  pretty well for for this data

[2018-09-30 20:41] fishcharlie commented on #433
@venkataprasadmanne Ok so I'd suggest reading [this AWS page](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/HowItWorks.ProvisionedThroughput.html) for details on throughput.

The biggest unknown is how fast Node.js and Dynamoose is gonna be able to write these items. I think that might depend on your network connection and just speed of things overall.

If you are writing 20k it

[2018-09-30 22:30] fishcharlie commented on #433
I'm closing this for now, but if you still have questions @venkataprasadmanne please feel free to comment again and I can help further.

[2018-09-30 22:30] #433 closed

[2018-09-30 22:30] fishcharlie commented on #428
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-09-30 22:30] #428 closed

[2018-10-01 07:50] venkataprasadmanne commented on #433
@fishcharlie your idea of throttling code on the client side based on the throughput is a  really great.I will try that and let you know.

[2018-10-01 16:10] venkataprasadmanne commented on #433
@fishcharlie I tried the throttling code to make one batchPut request for each 3 seconds and although my script took around 40 mins to finish all batchPut requests it went pretty smooth without  error and data is pushed successfully.I would have been in a real mess had I tried the idea of  increasing the throughput and dumped all thousands of request onto dynamo db in few milliseconds even while c

[2018-10-01 16:12] ThomasVictoria opened #434 "Maximum call stack size exceeded with 1.0.0"
### Summary:

Hello, I updated Dynamoose to the latest version you pushed (1.0.0), and I'm getting an `Maximum call stack size exceeded` Error when I run a get on my model. I had to downgrade it to 0.8.7 to make it works like before. Also it looks like it depend of the power of the computer, some of us why a recent computer have been able to get a response but older and less powerful one were have

[2018-10-01 16:13] fishcharlie commented on #433
@venkataprasadmanne I'm so glad it worked out well for you!! Please feel free to contact me or create more issues if you ever have problems or questions about Dynamoose in the future. Best of luck in your future coding projects!

[2018-10-01 16:16] fishcharlie commented on #434
@ThomasVictoria So this does work on 0.8.7 but not 1.0.0, correct? And you made no code changes between it working and not working?

The first thing that stands out to me, is I don't think you want a `.then` with an `await`, especially since your `.then` isn't really doing anything.

Can you try enabling the debug toggle and see if that gives any more useful information? You can do this by running

[2018-10-01 16:17] fishcharlie commented on #434
Also, forgot to ask. You mention the speed of the computer. Have you tested the same codebase with Dynamoose version 1.0.0 on a separate machine and it works fine?

[2018-10-01 17:59] fishcharlie commented on #434
And wait, have you saved your model to DynamoDB before getting it? Does saving it first make a difference?

Also, is there any chance you'd be able to make a reproducible example of this? Right now I'm just guessing about everything and can't do much to debug this, but really want to get it fixed.

[2018-10-02 12:56] ThomasVictoria commented on #434
Yeah my code were working on 0.8.7, I just upgraded to 1.0.0 and it broke. Also It's not related to computer power, those who were working did not updated to 1.0.0.
The model I was trying to get was saved on DynamoDB.

After `export DEBUG=dynamoose*` I saw that this was my model that was broken. I was defining a type as `Map` using `useDocumentClient: true, saveUnknown: true`, I had to switch it b

[2018-10-02 14:54] fishcharlie commented on #434
@ThomasVictoria That is probably the problem. I don't think it's a problem with `useDocumentClient: true, saveUnknown: true`, but the type being `Map`. Dynamoose doesn't support a type of `Map`. Even if you are using document client that type needs to be set as an object. It only relates to how it is saved in DynamoDB. In JavaScript the type is still object regardless of how it is saved in DynamoD

[2018-10-08 13:35] venkataprasadmanne opened #435 "dynamoose scan all results till recursively"
currently I have a requirement to dump all the table entries when this particular api is called and I tried below  but it seems all entries do not show up,i checked the documentation and  it's little confusing.

[code]

docs say that we need to make recursive calls till all the entries are retrieved based on the value of lastKey,that doesnt seem very effective solution to me to make so many recurs

[2018-10-08 15:16] fishcharlie commented on #435
@venkataprasadmanne If you are not seeing all the entries then yes there is probably a `lastKey` specified, and you need to make recursive calls to get all the data. There are a lot of things to think about here, but let me first answer your question before giving you a lot of things I **highly** recommend you think about.

The following syntax will get all the items. By default there is a delay o

[2018-10-08 15:16] #435 closed

[2018-10-09 01:39] sabreenakp opened #436 "How to sort all items according to registration date."
### Summary:
How to sort all items according to registration date. When I tried it gives me no output, My code is shown below

### Code sample:

abcdschema.statics.fetchall = function fetchall(cb) {
var id_temp='abcd';
this.query('id').contains(id_temp).where('regDate').ascending(function(err,res){
        console.log(err,res);
    })
}

#### Schema
   id: {
        type: String,
        required:

[2018-10-09 01:44] fishcharlie commented on #436
@sabreenakp Pretty sure you need to say what `id` is equal to. You can't query where something contains. I'm like 99% sure this code should produce an error. Can you please post the error that Dynamoose is returning?

[2018-10-09 01:46] fishcharlie commented on #436
You also aren't using the [`Query.exec()`](https://dynamoosejs.com/api#queryexeccallback) function. Therefor your query will never be run.

Closing this issue now, if you are still having problems feel free to comment and I can try to help further.

[2018-10-09 01:46] #436 closed

[2018-10-09 01:47] fishcharlie commented on #434
@ThomasVictoria Did you get a chance to test that?

[2018-10-09 01:49] fishcharlie commented on #421
@brennhill Two things, can you try to check to see if this is still an issue in Dynamoose v1.0.0. Also, if that doesn't work can you send the DynamoDB JSON for the item that is causing the error?

[2018-10-09 02:08] sabreenakp commented on #436
@fishcharlie  Thanks for the reply

Now when I tried I got an error, eq must follow query, one issue with my table is there is a chance of the same hash key and range key come more than once, so I am making it unique by appending with the date of creation, that is why I couldn't use eq.

Is there any good way of making your schema when there is a chance of same hash key and Range key?

I am pastin

[2018-10-09 08:50] sabreenakp commented on #436
Now I am trying to do just like below, but still, the response is not sorted according to the date.

`this.query({ 'id': id_temp, activeFlag: true }).where('regDate').descending().exec(function (err, res) {
        if (err) {
            cb(err);
        } else {
           cb(null,res);
        }
})`

here regDate is type Date.

[2018-10-09 11:46] venkataprasadmanne commented on #435
@fishcharlie amazing! Thank you,i guess scan.all works for me as this feature is available only for admin users, i will analyse on scenarios you provided.

[2018-10-09 11:48] jignesh248 commented on #421
Now I am getting empty object ( {} ) in version 1.0.0 for keys which are declared as type : Object and useDocumentTypes for the schema is set to true.

[2018-10-09 16:01] fishcharlie commented on #421
@jignesh248 Please see the latest comment in #434. I'm going to be using that issue to track this bug.

[2018-10-09 16:47] fishcharlie commented on #436
@sabreenakp You need to set the range key on your index. Take at look at the following code in the test files for how to do a descending query.

https://github.com/dynamoosejs/dynamoose/blob/5be0d182e3a6ead82bda7c471ce4c431f24209d7/test/Query.js#L47
https://github.com/dynamoosejs/dynamoose/blob/5be0d182e3a6ead82bda7c471ce4c431f24209d7/test/Query.js#L267

[2018-10-09 17:05] dolsem commented on #398
Okay, makes sense! And what are you thoughts, @brandongoode, on extending that functionality to maps? (I.e. using $ADD and $DELETE to add and delete entries in a map.) I haven't tested it since I posted my issue, but if I'm not mistaken, Dynamoose still doesn't support that yet.

[2018-10-09 17:39] fishcharlie commented on #434
@ThomasVictoria The tests are now passing on that PR. Therefor I don't think I'm able to reproduce this.

Can you please share your raw DynamoDB JSON? You can find it by following the steps below.

1. Open DynamoDB in the AWS Console
2. Navigate to table, click on Items
3. Select item
4. In top left of popup window, click `Tree` and select `Text` from the dropdown
5. Check `DynamoDB JSON`
6. Paste

[2018-10-09 17:40] fishcharlie commented on #434
@ThomasVictoria As another check, what happens when you set the options to be `useDocumentClient: false, saveUnknown: true`?

[2018-10-13 05:07] dolsem opened #439 "Defining and querying a local index."
### Summary:
I have a schema for posts with timestamps that uses createdAt as the range key and updatedAt as a local index. The idea is to be able to query posts by a particular author by both createdAt and updatedAt.

### Code sample:
#### Schema
[code]

#### General
[code]

### Current output and behavior:
First query works as expected. Second query fails with:
[code]

### Expected output and be

[2018-10-13 19:43] fishcharlie commented on #439
@dolsem Sadly I have only really worked with global indexes. I'd recommend checking out the AWS DynamoDB documentation.

I also saw [this answer](https://stackoverflow.com/questions/21381744/difference-between-local-and-global-indexes-in-dynamodb#21383613) that might help you.

[2018-10-13 19:44] fishcharlie commented on #434
@ThomasVictoria Were you able to look into this any further?

[2018-10-14 14:04] yokkoyokko commented on #439
I have the same error and there seems to be a bug in Query.js file. Please check my comment of this page.
https://github.com/dynamoosejs/dynamoose/commit/3a85c95e9a5ada902d43630d2bb868dd98727aad#diff-c7f251522c2a751e0d457dee5ffb83f0

[2018-10-14 17:33] fishcharlie commented on #439
@yokkoyokko You might be right. It was part of PR #344 and issue #343. Any ideas what this should be instead?

[2018-10-14 21:38] dolsem commented on #439
@yokkoyokko is right, @fishcharlie. I've just tested his suggestion in that comment and it works. It also doesn't break any of the existing tests. But that brings another problem: queries don't return any data. If I change my second query to Post.query('author').eq(author).where('createdAt').gt(0), it returns all posts by that author, because every timestamp is obviously greater than 0. But if I c

[2018-10-14 21:39] dolsem commented on #439
I've tested this with an older version of Dynamoose, before PR #344, and it has the same problem: no data gets returned.

[2018-10-14 21:40] fishcharlie commented on #439
@dolsem Super strange. Would you mind submitting a PR that creates a test for that failing case? And if you have a fix for #343 that doesn't break things feel free to include that as well.

[2018-10-14 22:02] dolsem commented on #439
@fishcharlie I'm investigating this issue further. It gets even more strange. The issue is with [this line](https://github.com/dynamoosejs/dynamoose/blob/5be0d182e3a6ead82bda7c471ce4c431f24209d7/lib/Query.js#L138). `val` is 0, but it returns what seems to be the result of `Date.now()`. So I guess it ignores the value and uses the default value of the attribute instead.

[2018-10-14 22:03] fishcharlie commented on #439
@dolsem Sadly I don't have time to help investigate right now. If you do happen to figure out what is going on feel free to submit a PR and I can take care of that ASAP. @brandongoode, any thoughts here?

[2018-10-15 05:41] AbhijetPokhrel opened #441 "Why am i not able to use save and put function from model"
I am using dynamoose v 1.0.0 and according to the documentation I can use save and put function in the model. But when I use them, they are undefined. However batchput function is working.

Am I missing anything?

[2018-10-15 19:59] fishcharlie commented on #441
Hi @AbhijetPokhrel. We use GitHub issue and PR templates so that we can easily get all of the information needed to debug the issue. For example, showing your model and schema code, along with the code you are trying to use for the save and put functions would be supeer helpful in this situation.

Also, have you tried this in other versions of Dynamoose successfully? Is it just a v1.0 issue or doe

[2018-10-15 19:59] #441 closed

[2018-10-15 22:02] fishcharlie commented on #421
@jignesh248 If you want to comment on #434 to help debug that problem, that would be really appreciated.

[2018-10-15 22:02] fishcharlie commented on #421
@brennhill Did you get a chance to look into https://github.com/dynamoosejs/dynamoose/issues/421#issuecomment-428032773?

[2018-10-15 23:42] #388 closed

[2018-10-15 23:43] #439 closed

[2018-10-16 04:50] fishcharlie opened #445 "Dynamoose not using native types"
### Summary:

Storing values as DynamoDB Maps and Lists aren't working as expected. I think this also applies to BOOL as well but not 100% sure.

### Code sample:

#### General
[code]

### Current output and behavior:

I expect the DynamoDB object to be something like the following:

[code]

Instead it is:

[code]

<details>
  <summary>Output Log with Debug Enabled</summary>

[code]

</details>

#

[2018-10-16 04:56] fishcharlie opened #446 "Undocumented Schema Types"
### Summary:

In the Dynamoose code below there is a lot of types that aren't listed in the [Dynamoose Documentation](https://dynamoosejs.com/api#attribute-types).

https://github.com/dynamoosejs/dynamoose/blob/7b01a64e97e4f0eb77887537e1ad18820f00bef9/lib/Attribute.js#L100-L147

I think we need to go in and figure out the intent of those new types that aren't documented and figure out if they shou

[2018-10-16 04:57] fishcharlie commented on #434
I think @jignesh248 was having this same issue. Feel free to answer these questions if you have that information @jignesh248 and if you are indeed having this same issue. That way we can debug further.

[2018-10-16 05:20] fishcharlie commented on #81
Dynamoose has gone through a lot of changes recently including the release of Dynamoose version 1.0.0. Due to that I'm closing this issue for now. Please test if this is still an issue on the latest version of Dynamoose, and you still run into problems please open a new issue and fill out all the fields in the issue template so we can properly debug, and mention this issue number in the new issue.

[2018-10-16 05:20] #81 closed

[2018-10-17 12:00] sahilkanani1812 opened #448 "Getting an error 'Attribute "address" of type "M" has an invalid value of "[object Object]"' in version 1.0.1"
### Summary:

I have one nested field 'address' in my collection which then will be converted to "M" type. But when I tried to Insert document with v1.0.1 it thrown an error 'Attribute "address" of type "M" has an invalid value of "[object Object]"' but when I tested the same with v0.8.7, it worked perfectly.

Please check the below stack trace

### Stack Trace
[code]

### Environment:

Node.js ve

[2018-10-17 14:56] fishcharlie commented on #448
@sahilkanani1812 I think in order to debug further I'll need to see your schema, model, and the code you are running that is producing that error.

I think it'd also be helpful to see the raw DynamoDB object in your table that is causing the error.

At first glance, it looks like you are trying to get a `M` type out of DynamoDB, but it is actually stored as a string.

In Dynamoose version 1.0.0 th

[2018-10-17 21:37] jderose9 commented on #230
This no longer seems to be the case.

I am basically trying to force all custom fields into a single nested object.
[code]
This gets stored as a string regardless of useDocumentTypes value

[code]
This is stored as a map, but due to useDocumentTypes: true, which I wanted to keep the rest of the document from being polluted with unknown fields, the map always ends up empty.

I saw that saveUnknown

[2018-10-17 21:58] fishcharlie commented on #230
Dynamoose has gone through a lot of changes recently including the release of Dynamoose version 1.0.0. Due to that I'm closing this issue for now. Please test if this is still an issue on the latest version of Dynamoose, and you still run into problems please open a new issue and fill out all the fields in the issue template so we can properly debug, and mention this issue number in the new issue.

[2018-10-17 21:58] #230 closed

[2018-10-17 23:00] dobrynin commented on #448
I am also running into this bug. The error happens for me when I try to call `SomeModel.scan().exec()`. I have `{saveUnknown: true}` in the options provided when creating `SomeModel`. The error occurs when de-dynmofying the second record. One of my unknown attributes that I am fetching from dynamodb is a Map. When the first record is parsed, the unknown attribute is added to the Schema attributes.

[2018-10-17 23:01] fishcharlie commented on #448
@dobrynin Can you please provide the information I requested above?

As well can you run `export DEBUG=*` then reproduce the issue and copy the entire log results in here?

[2018-10-17 23:46] dobrynin commented on #448
So I figured out what the problem is. We have a deeply nested field `dynamoObj.topLevelField.otherField[0].anotherField[0].relevantField`. The first object that dynamoose encounters encounters a number as the value of `relevantField` so it sets that type to be Number in the schema. Unfortunately, our data is not perfectly type consistent for every field across different records. The second object

[2018-10-18 04:46] fishcharlie commented on #448
@dobrynin The whole point of Dynamoose is to have strict typing and have a defined schema for your items. Let's pretend you have two DynamoDB objects.

[code]

and

[code]

No matter if you have that `name` property defined in your schema or not, and no matter if you have `saveUnknown` enabled or disabled, this will cause problems.

Dynamoose is designed to ensure your data follows strict patterns

[2018-10-18 04:47] fishcharlie commented on #448
@sahilkanani1812 Was the above comment by @dobrynin the same problem you were having or were you having a different issue?

[2018-10-18 05:57] sahilkanani1812 commented on #448
@fishcharlie I guess I am having different issue. I mean I am getting the error only when I change my dynamoose version from 0.8.7 to 1.0.1. If I set my dynamoose version back to 0.8.7, same code runs without an error.

Sorry I may not be able to provide the whole code but i can provide the portion which is creating an issue. So basically I have my collection of Users and I need to add address of

[2018-10-18 05:59] sahilkanani1812 commented on #448
Should I make useDocumentTypes and useNativeBooleans to false to get it worked across all the dynamoose versions?

[2018-10-18 16:11] ReeSilva commented on #445
I believe that this is the same that was occurring on #230 and, after test I confirm that the bug continue occurring.

[2018-10-18 20:48] Brutalbeard commented on #445
I was seeing some similar issues. Arrays weren't working for me. They were coming out as one big string just like he showed in the initial post.

[2018-10-19 20:48] fishcharlie commented on #448
@sahilkanani1812 I would try that, yes. Report back after you try that.

@sahilkanani1812 I don't believe so, but I could be wrong

[2018-10-22 17:17] fishcharlie commented on #434
I would really love to get this fixed. But I'm still unable to reproduce this issue. I will be closing this issue soon if there is no activity and no additional information about how to reproduce this issue.

[2018-10-23 05:50] pkonneker commented on #360
Looks like the pr referenced here was merged. So can probably close this.

[2018-10-23 15:02] #360 closed

[2018-10-25 18:01] dolsem commented on #211
@brandongoode, @fishcharlie. @expatiating is right. It is possible to scan secondary indexes in DynamoDB. Here's [another link](https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/SQLtoNoSQL.Indexes.QueryAndScan.html). It is explicitly stated in the last paragraph, _"You can also perform Scan operations on a secondary index, in the same way that you would do so on a table."_ Has this

[2018-10-26 00:47] dolsem opened #453 "Index gets re-created on every restart without good reason"
### Summary:

Here's the issue I spent a long time solving. I delete the table and restart my app. The table gets created instantly along with the email GSI, but the requestIndexKey GSI is stuck on "Creating" in the DynamoDB console for several minutes (sometimes up to 10 minutes). In some cases the app crashes as a result of a timeout. In other cases it completes before the timeout and I can use

[2018-10-26 00:49] dannymarino commented on #453
wow. great work! you're a master!

[2018-10-26 03:16] fishcharlie commented on #453
@dolsem Thanks for reporting! I have a few questions so I can work on debugging this.

- Does this problem only occur when using the actual AWS DynamoDB service? Or does problem occur when using local DynamoDB as well?
- You said `Finally I was able to identify the source of the issue` and `I fixed the order and got rid of the problem`. Can that easily be converted into a PR? If so, is there a rea

[2018-10-26 04:05] fishcharlie commented on #211
@dolsem Maybe I don’t understand well enough. But what is the benefit of scanning vs querying on an index? I was always under the impression that query’s had better performance and the only reason you would use scan over query is if you didn’t have an index for the given attribute.

From my understanding there is no feature currently in Dynamoose that allows this feature. A PR would be awesome tho

[2018-10-26 13:57] dolsem commented on #211
@fishcharlie if you have a sparse index, the scan operation might not be that costly, depending on your data model. Moreover, I don't think there's a way to query ALL elements with query. If your data is not separated into chunks by using hash key + range key (so you use only hash key), I believe your query will always return a single element, because you need to explicitly set the value of the ha

[2018-10-26 14:00] fishcharlie commented on #211
@dolsem But how would that be different than querying the table itself? I thought that all of the data from your standard table are replicated across to your indexes. So how would scanning an index produce different data than just scanning the table itself?

[2018-10-26 14:09] dolsem commented on #453
Sorry for being unclear. I haven't looked at the Dynamoose code yet. The issue I identified and solved was in my own code. I simply changed the order of attributes in that array in my schema to the order in the array that comes from remote. Unfortunately, I likely won't have time in the next two weeks to help solve this problem in Dynamoose.

Yes, this happened when I connected to the AWS service.

[2018-10-26 14:55] fishcharlie commented on #453
@dolsem Ok, I will see if I can find some time to reproduce this and try to see what is going on.

[2018-10-26 15:19] dolsem commented on #453
@fishcharlie also, it seems like after I change the order of items so that it matches remote, index creation becomes very fast.

[2018-10-26 15:50] fishcharlie commented on #453
@dolsem What do you mean by changing the order of items?

[2018-10-26 17:34] dolsem commented on #453
@fishcharlie I use debug output to look at the order of items in the projected attributes array of the index that comes from remote. I change the array in my schema definition, so that the order is the same.

[2018-10-27 15:56] dolsem opened #454 "Corruption of set value with multiple concurrent save operations."
### Summary:

I encountered a truly bizarre bug. I have a schema with a `set` function defined on a hash key for a global index (`requestIndexKey`). When I put a single item everything goes as planned, and the values in the database are the same as the ones I create the item with. However, when I initiate 25 put requests concurrently (with individual `save`s and not with a `batchPut`), the value t

[2018-10-29 16:39] fishcharlie commented on #453
@dolsem I **believe** I have fixed this problem in PR #455. Can you please test that PR before I merge it in and let me know if it fixes your problem or not?

Also, we need to get some tests written for this PR. Kinda struggling conceptualizing how to do that. Any input on that would be really awesome too.

[2018-10-29 16:45] fishcharlie commented on #454
@dolsem Is this something that is happening consistently? Or is it an intermittent bug?

Is there anyway you can write a test for this and submit a PR for that, and I can take a look at trying to see what is going on here? Currently the code you provided doesn't save anything `concurrently` it looks like. So getting a failing test as a PR that I can work off of to debug this would be super helpful

[2018-10-30 19:03] dolsem commented on #453
@fishcharlie okay, I will test it and see if I can capture the problem with a test. But I'll need several days before I can get to it. Thanks for looking into this!

[2018-10-30 19:06] dolsem commented on #454
@fishcharlie yes, it seems to be consistent, I tried it at least five times, all with the same result. I'll write a test once I can get to it.

[2018-10-30 19:15] fishcharlie commented on #453
@dolsem No problem! Just keep me posted. Hopefully that fixes it for you.

[2018-10-30 19:17] fishcharlie commented on #454
@dolsem Got it. In the meantime I will try to see if I can reproduce it. Are you just using some type of for loop to do this? Or are you doing like a `map` on an array to create promises?

[2018-10-31 14:47] Aedalus commented on #216
Would you be open to a PR if I tried to tackle this? I'd like to try to tackle this to remove the dependency on Q, ideally using native async/await when possible and the native util.promisify otherwise.

[2018-10-31 15:58] fishcharlie commented on #216
@Aedalus, @mogwai is correct, `async`/`await` work currently. I'm 100% open to a PR for that tho. I would say to just keep the PR at just removing the Q dependency to start, and using the native util.promisify. I think doing a rewrite to use `async`/`await` internally would be more massive. That being said, I'm open to that PR as well, I just would like to keep PR's as small as possible so they ar

[2018-10-31 23:06] Aedalus commented on #216
So I believe I'm making good progress. Refactored a few of the `Q.defer/deferred.promise.nodeify(next)`, and all unit tests are still passing.

However I had one gotcha that I'm still trying to figure out how I want to approach. Node throws a `UnhandledPromiseRejectionWarning` whenever a native promise isn't caught. (Same happens with Bluebird I believe). This results in `console.errors` whenever

[2018-10-31 23:10] fishcharlie commented on #216
@Aedalus Is this all internal or user facing?

[2018-11-01 00:53] Aedalus commented on #216
This would all be internal. My goal would be to avoid having to use any util.promisify/callbackify for the end user so the API wouldn't change.

[2018-11-01 00:58] fishcharlie commented on #216
@Aedalus That sounds good. Option 3 sounds best then. `async`/`await` will happen at some point internally for this package, so if we want to do it now, I'm fine with that. So long as it's not user facing that all sounds fine.

Wanna also look at this thread (https://github.com/dynamoosejs/dynamoose/pull/325#issuecomment-388313279)? I'm planning on working on that PR a little bit more, that is the

[2018-11-01 01:17] Aedalus commented on #216
I'm checking out the plugin architecture. Looks pretty solid to me. What are some of the use cases that you are looking to use plugins for? Also, what is the function of the 'priority' of plugins? I would expect all plugins to fire at the same time for events. Otherwise it seems more like middleware than a plugin?

Also, is there a reason to use prototype syntax over class syntax?

[2018-11-02 00:43] Aedalus commented on #216
Just wanted to give a brief update! I've got it working on my fork over at https://github.com/Aedalus/dynamoose. I'm trying to hunt down one or two last uncaught rejected promises which are logging to std err, but otherwise everything is looking good. Hoping to have a PR in over the weekend. Tried to change the absolute least I could while removing Q, and I'm hoping to go back in a future PR and c

[2018-11-02 15:16] fishcharlie commented on #216
@Aedalus Sounds good! Looking forward to reviewing the PR and getting that in.

[2018-11-02 17:50] dolsem commented on #454
@fishcharlie sorry for a late response. I was sending requests to my server, which is using express, so that function was called for every request. But yes, I think creating an asynchronous function and instantiating an array of promises should be effectively the same.

[2018-11-06 00:53] Aedalus commented on #216
Just opened a PR here: https://github.com/dynamoosejs/dynamoose/pull/456

Please let me know if you need me to make any changes, or have any questions!

[2018-11-12 01:31] fishcharlie commented on #454
@dolsem Having some trouble reproducing this.

Below is the code I'm using.

[code]

When I look at the index in the database I see the following results.

[code]

Any ideas what is different about your configuration vs mine?

[2018-11-12 01:31] fishcharlie commented on #453
@dolsem Any chance you get around to testing this?

[2018-11-12 01:31] fishcharlie commented on #448
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-11-12 01:31] #448 closed

[2018-11-12 01:32] fishcharlie commented on #434
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-11-12 01:32] #434 closed

[2018-11-12 14:32] robinandeer opened #457 "Using a field named "type" when defining a List of Map"
### Summary:

Not able to use a field named "type" in the schema definition for a List of Map.

Using it on the "root level" in the schema works fine.

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

[code]

Basically the model understands that there are objects in the array but fails to parse/return any of the fields defined in the sc

[2018-11-12 17:33] fishcharlie commented on #457
@robinandeer I'm not able to test this right now. But the problem at first glance defiantly looks to be the fact that you are using `type` as a property name. Changing that should fix your issue.

In teams of supporting this in the future, without thinking about it a ton, I don't see a way to add this functionality easily. You might be able to do something with the `saveUnknown` property. But I do

[2018-11-13 20:48] dolsem commented on #16
I would like to help with this. Suppose we add a boolean schema option `optimisticLocking` and when it's true we maintain a field called '_version'. Should this field be exposed to the user? If yes, should it just be a slightly special attribute like timestamps, which the user can manipulate and write custom definition for? Personally I think we should probably just hide it completely. Can't think

[2018-11-13 22:05] fishcharlie commented on #16
@dolsem I see the purpose of Dynamoose to be to make it easier to use DynamoDB and functionality like this. I don't see any reason to expose complexity unless there is a good reason for it. That being said, it might be beneficial for advanced or strange use cases to optionally expose it. But only if the developer wants to take advantage of it. Not sure if that would be more complicated to build in

[2018-11-14 11:03] dolsem commented on #16
@fishcharlie well I can do either, so let me know what makes most sense to you. Personally I view it as a core feature, because databases are often accessed concurrently, and there needs to be a way to ensure concurrent writes work correctly. However, if you think it's best to make it into a plugin, I can do that, no problem.

[2018-11-14 15:54] fishcharlie commented on #16
@dolsem Part of me wants to say that we need testing of that plugins PR. BUT I think integrating it directly into Dynamoose is the correct path to take in my opinion.

[2018-11-14 16:50] dolsem commented on #16
@fishcharlie I'm a bit confused: by direct integration you mean not choosing the plugin path, right? Then how's testing of the plugins PR relevant to this context? Or are you saying, ideally it should be a plugin, but only given the plugins PR has no issues and can be merged?

[2018-11-14 17:40] fishcharlie commented on #16
@dolsem Sorry for the confusion. It should be implemented directly into this repository and codebase. Not as a plugin.

The only benefit I see to going down the plugins route is that it would give us more testing of that system. Which isn't enough of a benefit to go down that path in my opinion.

Feel free to work on this and submit a PR if you want 😃

[2018-11-14 17:59] dolsem commented on #16
Okay, got it.

[2018-11-15 09:35] Nikhil2508 opened #458 "Dynamoose Performance Issues"
### Summary:
I am trying to compare dynamodb native and dynamoose performance. I ran a test of 500vU per second via jmeter. I am running an ec2 instance c5xL with amazon linux. I am seeing a huge latency when I perform the same test with dynamoose. Also the throughput achieved with dynamoose is quite low than that with native dynamodb connection (AWS-SDK). I have attached the test results screensh

[2018-11-15 11:14] nauhil opened #459 "The 'AND' does not work in Query.js"
### Summary:
![Alt text](https://monosnap.com/image/KM9RBmL4Q9at2H6f1UYnubnZDr4cI1.png)

### Current output and behavior:
Query result has two items

### Expected output and behavior:
Should just only one item

### Environment:

Operating System: MAC OS
Operating System Version: 8.11.3
Node.js version (`node -v`):
NPM version: (`npm -v`):
Dynamoose version: 1.1.0

### Other information (if applica

[2018-11-16 11:54] devotox opened #460 "Parallel Scans"
### Summary:
I can't be fully sure at the moment but wanted to see what you thought.

There may be an issue with parallel scans where when one segment finishes it starts again since it leaves an undefined in the lastKey returned. and thus makes parallel scans infinite

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

### Expected output

[2018-11-16 16:30] devotox commented on #460
Will do. That was my plan over the weekend.

Was just asking as a question to see if this was something you think was possible based on my undefined theory.

"Meeting all your software solutions needs"
Devonte Emokpae
Managing Director | DTOX Consulting

M: 07447903346
E: me@devonte.io

On 16 Nov 2018, 16:24 +0000, Charlie Fish <notifications@github.com>, wrote:

[2018-11-16 16:35] fishcharlie commented on #458
Oh man, that isn't good at all. I expect Dynamoose to be slower than AWS SDK directly since it is doing more work, but I think we can work to improve those numbers. I don't think it should be that bad.

Few things. First I would read issue #327. That `describeTable` call can slow things down. So I would verify that is all correct.

Second, I would try to run `export DEBUG=dynamoose*` and run it ag

[2018-11-16 16:37] fishcharlie commented on #460
Sadly I don't. I haven't actually used the parallel function before. Let me know how things go, and after we get further information I can try to help further.

[2018-11-17 21:21] fishcharlie commented on #458
@Nikhil2508

Awesome! Let me know how that goes.

I'm not sure what you mean by that. Remember, NoSQL database solutions are not like SQL database solutions. So the concept of a connection doesn't really exist in DynamoDB. In something like MySQL you have to connect and disconnect to the database server. That isn't the case for DynamoDB. So I'm really confused about what you mean by `concurrent co

[2018-11-18 15:40] nauhil commented on #459
It does works.  Thanks

[2018-11-18 15:40] #459 closed

[2018-11-18 17:42] fishcharlie commented on #459
@nauhil Awesome! Glad it worked for you. Please let me know if you have any other questions or run into any more problems.

[2018-11-19 07:45] robinandeer commented on #457
Thanks you for the answer @fishcharlie!

I'm trying to migrate from a different backend but supporting the old API (same fields etc.) Otherwise I think it's not do much of a drawback to reserve "type" from being used as a field name.

I will run the output through a function to remap the object in the mean time.

[2018-11-22 05:50] fishcharlie commented on #458
Few updates. This is for sure a problem with Dynamoose. I tested the following code snippets for AWS-SDK and Dynamoose.

- [Dynamoose test](https://gist.github.com/fishcharlie/5d5c284351a1e5a45108e44534c74d13)
- [AWS-SDK test](https://gist.github.com/fishcharlie/af416ea10984efdd9499e174bf13ef75)

For 10k records:

- Dynamoose took **256.616 seconds**
- AWS-SDK took **14.217 seconds**

For 1k recor

[2018-11-22 06:19] fishcharlie commented on #458
Also related issue: #52.

Just ran some tests on an AWS instance as well and got the following results:

[code]

So it looks very similar between Dynamoose and AWS-SDK.

Also, not sure if this made a difference, but added the following lines as suggested in #52 to both AWS-SDK and Dynamoose.

[code]

[2018-11-23 04:33] fishcharlie commented on #457
@robinandeer Fair enough. Not sure how you want Dynamoose to handle this tho. From our perspective, since we use type internally, I'm not sure how you want us to handle this other than what is currently happening.

If you have an idea for that feel free to submit a PR and we can review it.

Closing this for now. Feel free to comment if you still have questions.

[2018-11-23 04:33] #457 closed

[2018-11-25 20:37] fishcharlie commented on #454
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-11-25 20:37] #454 closed

[2018-11-26 18:32] fishcharlie commented on #460
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-11-26 18:32] #460 closed

[2018-11-27 13:41] neko1101 opened #461 "Does Dynamoose do table reference like Mongoose?"
Hey guys, hope you doing well...

Just wondering how can we do the table reference, example using mongoose:

[code]

Any workaround or something?
Cheers~

[2018-11-27 16:34] fishcharlie commented on #461
@neko1101 Without more context about what you are trying to do, I'm kinda only guessing here. But is [Model.populate](https://dynamoosejs.com/api#modelpopulateoptions) what you are looking to do?

[2018-11-27 19:12] neko1101 commented on #461
@fishcharlie exactly what im looking for!
Basically I'm trying to reference the owner ID of documents in a table with Users table so I don't need to query 2 times to get the documents with owner data inside it.

I've been searching for it with a wrong keyword. "model.populate" is the one.
Cheers!

[2018-11-27 19:21] fishcharlie commented on #461
@neko1101 Awesome!! Glad that’s what you are looking for. Let me know if you have any other questions or run into any problems with Dynamoose.

[2018-11-27 23:23] fishcharlie opened #462 "DynamoDB Transaction Support"
### Summary:

Today AWS announced [DynamoDB Transaction Support](https://aws.amazon.com/blogs/aws/new-amazon-dynamodb-transactions/). This ticket is for tracking adding support for that into Dynamoose.

Please feel free to comment with questions, suggestions, or comments about this functionality.

### Other information (if applicable):

- https://aws.amazon.com/blogs/aws/new-amazon-dynamodb-transa

[2018-11-27 23:32] fishcharlie opened #463 "[LONG TERM] Migrate to AWS SDK version 3"
### Summary:

A little bit ago AWS announced a [developer preview of AWS SDK version 3 for JavaScript](https://aws.amazon.com/blogs/developer/new-aws-sdk-for-javascript-developer-preview/). Once this release becomes official and stable we should migrate to using the new version.

Until then we should work on creating a branch and PR to test functionality with this latest version, so when the final

[2018-11-28 02:35] fishcharlie commented on #462
Thinking about implementing `dynamoose.transaction(items[, options][, cb])`. We could also have `dynamoose.transact` as an alias for that. For example, something like this:

[code]

[code]

If you use all `get` methods in the items parameter by default it will default to using `TransactGetItems`, otherwise we will use `TransactWriteItems`. That can be changed by passing a `type` option into the `o

[2018-11-28 02:36] fishcharlie commented on #462
Currently it looks like `TransactWriteItems` supports a feature called `ConditionCheck` which doesn't really have a Dynamoose option. So we need to make sure we support that option.

[2018-11-28 02:38] fishcharlie commented on #462
Support for this feature should be implemented into the JavaScript AWS-SDK tomorrow (November 28th) (https://twitter.com/dynamodb/status/1067596298050691072).

Once that drops I will play around with this feature and hopefully get a PR up shortly.

I'm personally looking forward to adding this functionality to Dynamoose, and hope Dynamoose can get it integrated very quickly.

[2018-11-28 02:38] fishcharlie commented on #463
This will have to be a breaking change to Dynamoose

[2018-11-28 05:39] fishcharlie opened #467 "Community Feature Feedback"
I would love to get some input from the community about what things you believe are most important for the future for Dynamoose. I have listed some ideas below about potential future goals for Dynamoose.

I would love to get some feedback about which of the items below you'd like to see most, and if you have any other ideas you'd like to see from this package I'd love to hear those too (even more

[2018-11-28 20:00] fishcharlie commented on #462
We could use something like the following to eliminate the problem of having those actions be run instantly.

[code]

Basically just adding a `transaction` property to the model, and having the methods on that. Those methods instead of running the action, will return a DynamoDB request JSON object, that can then be sent to DynamoDB.

[2018-11-28 22:03] fishcharlie opened #470 "DynamoDB On-Demand Support"
### Summary:

Today AWS announced [DynamoDB On-Demand Support](https://aws.amazon.com/blogs/database/amazon-dynamodb-on-demand-no-capacity-planning-and-pay-per-request-pricing/). This ticket is for tracking adding support for that into Dynamoose.

Currently users can pass in [throughput](https://dynamoosejs.com/api#options) into a Dynamoose schema to set the amount of throughput they want when cre

[2018-11-29 15:59] mogwai commented on #335
@fishcharlie I'd almost finished my implementation when I last worked on the plugin so I continued where I'd left off. Considering that Q promises will be removed in favour of something else I choose to avoid using them entirely. instead, I manually override the scan function, injecting my logic to return cached values.

Features I'd like to add some of which are already added:

- Pass specific ca

[2018-11-29 16:22] fishcharlie commented on #335
@mogwai Awesome!!

So few suggestions. First, I would be hesitant to override the native Dynamoose scan function. Of course, at the end of the day, it's your choice. But I can't see how removing Q in favor of native JS promises will cause problems there. So like if there is a valid result in your cache, I do agree with resolving early, and overriding the rest of the Dynamoose function. But if ther

[2018-11-29 21:56] mogwai commented on #335
I think that as long as it doesn't affect the way that other plugins work, it should be ok. If it ends up effecting them, then I will change it.

I don't think we're discussing the same thing regarding Q promises and native promises. I'm specifically talking about the _emit call being used here:

[code]

Would `deferredMain` be replaced with a native promise?

------

I think this isn't as çlean.

[2018-11-29 22:05] fishcharlie commented on #335
@mogwai In terms of promises. Got it. Yes. I can see that being an issue. I'm going to do my best to ensure PR #456 will not break anything. So I would have the assumption that it will get resolved or some solution will happen before that gets merged in. Plugin support is a higher priority than removing the Q dependency.

That style sounds great! Do you think there is anything that I need to imple

[2018-11-30 08:57] vincentkwok opened #474 "Missing lastKey for scan filter expresion"
### Summary:

`scan()` with filter expression returns found models [code](https://github.com/dynamoosejs/dynamoose/blob/master/lib/Scan.js#L92) without last key.

It cannot fit for case with data exceed 1MB (scan limit), and to have more rounds of scan then.

[2018-11-30 09:14] dmitrirussu commented on #199
Hi guys you can solve your issue using AWS-SDK... dynamoose does not have deep parse for your json...
[code]

[2018-11-30 16:08] fishcharlie commented on #335
@mogwai Awesome! Yeah that is why it's going to launch in beta. Keep me posted if you have any additional feedback.

[2018-11-30 16:09] fishcharlie commented on #164
@mogwai I think it would be a one time thing. But maybe I could add an option for listening for changes. Originally my use case would be better fit for one time thing. But listening for changes is interesting too.

[2018-11-30 16:38] fishcharlie commented on #199
@dmitrirussu I'm very confused about your question or problem. One thing that recently I figured out. If you are using `Map` or `List`. You have to pass in a `map` or `list` property. I also believe the types, `map` and `list` have to be strings.

See https://github.com/dynamoosejs/dynamoose/issues/230#issuecomment-361412970, for more information.

Also see #445, and #446.

Overall this is an area

[2018-11-30 17:09] fishcharlie commented on #474
PR open at #475. @vincentkwok, wanna review that and let me know if it fixes your issue and give any feedback you might have?

[2018-11-30 19:55] mogwai commented on #18
Add this to the list of plugin ideas?

[2018-11-30 19:57] mogwai commented on #335
Ok I've written the basic tests for this plugin. Probably best to move discussion to the plugin page. You should be able to `npm i dynamoose-caching` and use it now :)

[2018-11-30 19:57] #335 closed

[2018-11-30 20:23] fishcharlie commented on #335
@mogwai Awesome! Beta support for Dynamoose will be released in the next version (#464). After that users won't have to use a forked version of Dynamoose to use your plugin.

[2018-11-30 20:23] fishcharlie commented on #18
@mogwai I think it's referenced there.

[2018-11-30 20:41] #18 closed

[2018-11-30 20:42] #470 closed

[2018-11-30 21:56] fishcharlie opened #476 "RAW Transaction Item Support"
### Summary:

Currently with transaction support we attaching the model object to each transaction object. We should refactor the code to get the model from Dynamoose itself when it gets registered. That way users can pass in raw transaction items instead of relying on Dynamoose's methods.

This also requires updating the documentation.

### Type (select 1):
- [ ] Bug report
- [ ] Feature suggesti

[2018-11-30 21:56] fishcharlie commented on #476
https://github.com/dynamoosejs/dynamoose/pull/472#discussion_r237788459

[2018-11-30 21:58] fishcharlie opened #477 "Improve filtering expired items"
### Summary:

We should refactor how filtering out expired items works.

See https://github.com/dynamoosejs/dynamoose/pull/472#discussion_r237795230 for more information.

@jutaz might tackle this at some point.

We should also maybe make a function to handle it to make the code more DRY.

Need to make sure this gets handled throughout the codebase.

### Type (select 1):
- [ ] Bug report
- [ ] Fea

[2018-11-30 21:59] jutaz commented on #476
Another cool thing that this could allow - potentially model-less queries. I don't know if there's any benefit to that _conceptually_, but that would be something that's interesting to play with.

[2018-11-30 22:00] fishcharlie opened #478 "Add ConditionCheck Support to Dynamoose Transactions"
### Summary:

Add `ConditionCheck` support to Dynamoose transactions.

### Type (select 1):
- [ ] Bug report
- [x] Feature suggestion
- [ ] Question
- [ ] Other suggestion
- [ ] Something not listed here

### Other:
- [x] I have read through the Dynamoose documentation before posting this issue
- [x] I have searched through the GitHub issues (including closed issues) and pull requests to ensure th

[2018-11-30 22:01] fishcharlie commented on #476
@jutaz That sounds like a really interesting idea to play around with. Might be separate from this. But super interesting idea! Maybe make a separate issue for it?

[2018-11-30 22:06] fishcharlie opened #479 "Refactor after DynamoDB Local supports Transactions"
### Summary:

Currently DynamoDB Local doesn't support DynamoDB Transactions. We are using a lot of hacky methods to get around this. Once DynamoDB Local supports Transactions, we need to go through and remove that hacky code.

### Other information (if applicable):

- https://twitter.com/char_fish/status/1068347718928523267
- https://twitter.com/tonypetrossian/status/1068353458326069248

### Type

[2018-11-30 22:37] fishcharlie commented on #159
@mogwai Wanna give this a shot in the new Dynamoose Plugin Beta system, and let me know if it's possible or if I need to make any changes to the API to make this happen, along with any feedback you have?

[2018-12-01 01:54] #462 closed

[2018-12-01 01:55] #474 closed

[2018-12-01 01:57] #453 closed

[2018-12-01 07:11] dbclkclk opened #480 "Issue running project locally: Cannot read property 'name' of undefined"
### Summary:

I am trying to insert a record into my dynamodb table however, getting error.

### Code sample:
#### Schema

Schema: `user.js`
[code]

#### Model
`models/index.js`
[code]

#### General
[code]

### Current output and behavior:

[code]

### Expected output and behavior:

Should generate the table and create the record

### Environment:

1. "dynamoose": "^1.2.0",
2. npm: 4.6.1
3. node:

[2018-12-01 13:15] neko1101 commented on #461
@fishcharlie i have problem implementing this. I have a playground directory with dynamoose schema shown below:

User schema:
[code]

Blog Schema:
[code]

Query Using Scan:
[code]

What i im trying to get is the all the blog posts and have the googleID populated from the users collection.

Can you help or give me some clue on how to use populate properly?

[2018-12-01 17:45] fishcharlie commented on #461
@neko1101 Are you getting an error with this? What is the current result?

I have never actually used the `Model.populate` method before. But few things stand out that I would try.

First, I would try returning the `posts.populate` method call. For example:

[code]

If that still doesn't work. The documentation uses examples for `get` and not `scan`. So I would try something like the following:

[

[2018-12-01 17:51] fishcharlie commented on #480
@dbclkclk I have attached the line that is failing below.

https://github.com/dynamoosejs/dynamoose/blob/master/lib/Model.js#L425

This sounds like kinda a major bug. Is there any chance you could write a test case for this and submit a PR. This test case should fail when you submit the PR. That way I can try to debug it and see what is going on.

---

Actually, I just realized something. In your

[2018-12-01 17:59] fishcharlie commented on #159
Closing this issue has it has been migrated to our new plugin ideas repo.

https://github.com/dynamoosejs/dynamoose-plugin-ideas/issues/1

[2018-12-01 17:59] #159 closed

[2018-12-01 17:59] fishcharlie commented on #164
Closing this since it has been migrated to our new plugin ideas repo.

https://github.com/dynamoosejs/dynamoose-plugin-ideas/issues/2

[2018-12-01 17:59] #164 closed

[2018-12-01 18:07] fishcharlie commented on #244
Closed in #325

[2018-12-01 18:07] #244 closed

[2018-12-01 18:09] fishcharlie commented on #16
@dolsem Actually I changed my mind on this. Unless someone has a strong case for being in Dynamoose directly, I think a plugin would be best suited for this task.

I'm closing this issue and moving it to the plugin ideas repo.

https://github.com/dynamoosejs/dynamoose-plugin-ideas/issues/3

[2018-12-01 18:09] #16 closed

[2018-12-01 18:13] fishcharlie commented on #129
Although these are still good ideas. I'm closing this issue for now. It has been inactive for quite a while. If anyone wants to make PRs for this stuff, I'd be more than happy to review and help get it in.

[2018-12-01 18:13] #129 closed

[2018-12-01 18:15] fishcharlie commented on #134
Due to the fact that this issue is very inactive, and mongoose dropped it a release. I'm closing this issue for now. I'm totally open to integrating it into the library, so long as it's not a breaking change, and the default remains the same as what it is now.

If anyone wants to take that on, feel free to submit a PR.

[2018-12-01 18:15] #134 closed

[2018-12-01 18:17] fishcharlie commented on #272
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-12-01 18:17] #272 closed

[2018-12-01 18:20] fishcharlie commented on #313
@yoitsro I'm not sure that would be compatible even if the API was the same. It could be, but at first glance I doubt it. If you wanna submit a PR for this, I'd be more than happy to review it. But if you don't submit a PR for it, I can't guarantee that it will use the same API as mongoose's. But I think it would be a nice goal to have.

[2018-12-01 18:34] dbclkclk commented on #480
@fishcharlie thanks much! This plugin rocks!

[2018-12-01 18:34] #480 closed

[2018-12-01 18:35] fishcharlie commented on #480
@dbclkclk Glad to hear you like it! Please continue to create issues if you have any questions, suggestions, feature requests, or anything else. Or PRs work also haha. Good luck in your future coding adventures!

[2018-12-01 21:05] fishcharlie commented on #458
After talking to @Nikhil2508 more. It was determined that the latency is now working as expected between AWS-SDK and Dynamoose. Sounds like there are still problems with high CPU usage. According to @Nikhil2508 that is a problem with both Dynamoose and AWS-SDK. Therefore since this is not a Dynamoose specific issue, I’m closing this for now.

If anyone else has any problems with similar issues, pl

[2018-12-01 21:05] #458 closed

[2018-12-01 21:07] fishcharlie commented on #421
@brennhill Is there any chance you can create a failing test case for this, then submit a PR for that? The PR will be marked as failing the tests. Once you do that, I will checkout that PR, and do some further investigation.

[2018-12-01 21:10] fishcharlie commented on #182
Not sure this is as big of an issue anymore since we are defaulting to true for useNativeBooleans. If it is, feel free to make the argument here, and we can reopen this.

Otherwise going to close for now, due to that, and the amount of inactivity this issue has seen.

[2018-12-01 21:10] #182 closed

[2018-12-01 22:38] fishcharlie commented on #207
Hoping this is possible with the new plugins system. Therefor migrating to the new plugin ideas repo.

https://github.com/dynamoosejs/dynamoose-plugin-ideas/issues/4

[2018-12-01 22:38] #207 closed

[2018-12-02 06:18] dbclkclk opened #488 "How to access the actual data from a Query"
### Summary:

I'm trying to get a list of items from my dynamodb instance however, the data I'm getting is in this format:

[code]

From dynamodb docs, it said the return type of a query should look like this

[code]
I"m not seeing the `items` key in the response using dynamoose.

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

[code]

[2018-12-02 07:07] fishcharlie commented on #488
@dbclkclk I'm assuming you are talking about [this page](https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html#API_Query_ResponseSyntax)?

That is for DynamoDB, and not Dynamoose. Behind the scenes Dynamoose is parsing out that response from DynamoDB and cleaning up the objects you get back to give it to you in a very clean fashion. We also run checking on the object and st

[2018-12-02 07:11] dbclkclk commented on #488
@fishcharlie thanks for the response. My objective is to get the actual list of objects from the response. Based on what I'm seeing in the response using Dynamoose, I dont know how to retrieve it. I'm using GraphQL and I want to pass the list of objects to `connectionFromArray()`.

[2018-12-02 07:17] fishcharlie commented on #488
@dbclkclk I'm still confused about what the problem is. Let me see if some examples would help.

So, in Dynamoose you can run the following (as you mentioned):

[code]

That will print something like the following (as you mentioned):

[code]

Now. In DynamoDB directly, you would need to `console.log(categories.Items)`. That isn't required in Dynamoose tho.

So if I `console.log(categories[0]);` in

[2018-12-02 07:31] neko1101 commented on #461
Hey! The 2nd example worked for ```scan```
I was thinking to use Promise.all and ```foreach()```, but your example is more neat using ```map()```

The 1st example only work using ```get```
No wonder all the example of populate only using ```get```

And thanks for the ```export DEBUG=dynamoose*```. Really helpful and this should be in the doc.

Cheers!

[2018-12-03 01:03] fishcharlie commented on #461
@neko1101 I could have sworn I replied to you earlier. But for some reason it's not showing.

That's awesome it's working! Can you let me know what the result was when using your code, and my first suggestion? I feel like maybe our code could be improved to support my first suggestion.  So knowing what the result was would be helpful. Did it throw an error? Just fail silently? Or what happened?

I

[2018-12-03 11:59] neko1101 commented on #461
@fishcharlie below is my playground folder if you wanna replicate this.

I'm using DynamoDB AWS + lamda + [serverless](https://github.com/serverless/serverless) and not the dynamoose.local() anymore.

playground/User.js
[code]

playground/Blog.js
[code]

playground/populate.js
[code]

if you want to run locally specify playground/.env
[code]

if you want to run it in lamda, just attach DynamoDB IA

[2018-12-03 20:34] fishcharlie commented on #461
@neko1101 What was the result tho? I don't have a ton of time to test that code right now. I was just hoping to know what the result was. 😃

[2018-12-03 20:42] #476 closed

[2018-12-03 21:47] fishcharlie opened #491 "Restructure condition syntax"
### Summary:

It would be great to restructure the condition syntax for Dynamoose to make it easier for newcomers to DynamoDB to use the conditions system.

### Code sample:
#### General
[code]

### Dynamoose Plugins:

- [ ] Yes, I believe that one or multiple 3rd party Dynamoose plugins are effecting this issue
- [ ] No, I believe this issue is independent of any 3rd party Dynamoose plugins I'm u

[2018-12-03 22:02] yoitsro commented on #313
Thanks for that @fishcharlie. @japier initially raised the issue here https://github.com/yoitsro/joigoose/issues/23

@japier, how would you feel about giving this a shot?

[2018-12-03 23:02] fishcharlie commented on #313
@yoitsro I didn't realized you maintain the Joigoose project until just now. I would be more than happy to work on this so long as you are available to review a potential PR and ensure that it fits with your project.

[2018-12-03 23:10] fishcharlie commented on #313
Just opened a PR for this @yoitsro. Still need to add support for some of the other schema method options. But after it's complete I will ping you on that PR and maybe you can review it and let me know if you have any suggestions about how I did things, and if you think it'll work with your project.

#492

[2018-12-04 05:35] neko1101 commented on #461
@fishcharlie Sorry about that :sweat_smile:

The result is in the comment in populate.js.

Lets be clear.
The result of scan() + populate() will give error like "post.populate is not a function".

In order to make it work, use your example to loop the scan result with populate.

The result of get() + populate() works as usual.

Let's close this issue. :ok_hand:

Cheers!

[2018-12-04 19:00] fishcharlie commented on #313
@yoitsro This will not be fully compatible with your project. I will attempt to get it as close as possible. But we are currently passing the model in as the 2nd parameter to the function, so for the callback solution, it will have to be the 3rd parameter.

[2018-12-04 19:45] yoitsro commented on #313
Quite the dilemma! I _could_ try and do something to determine whether the user is using Mongoose or Dynagoose and determine which parameters should be where, but this feels kinda hacky.

The alternative would be to have a configuration option which the user would have to manually specify. This feels better but is still not an ideal solution.

I know this doesn't directly concern you, but your opi

[2018-12-04 20:16] fishcharlie commented on #313
@yoitsro I feel like trying to determine if it's Mongoose or Dynamoose would be best. I could also add an option to `disableModelParameter` which would default to `false`, but you could set it to `true`, if that would help you.

Let me know what would be best for you.

I still have the goal of getting this to work. Obviously a Dynamoose user wants it. So trying to provide what I can to help make i

[2018-12-04 20:50] yoitsro commented on #313
I can see the benefit of modifying in Dynamoose as it'll mean compatibility with other packages related to Mongoose validation will also work with Dynamoose.

Would adding the `disableModelParameter` option cause any significant adverse effects for you?

[2018-12-04 20:56] fishcharlie commented on #313
@yoitsro I think that should be fine. I'll ping you on that PR when I'm ready for you to take a look at it and review compatibility.

[2018-12-05 00:04] #478 closed

[2018-12-05 00:06] #292 closed

[2018-12-05 00:08] fishcharlie commented on #23
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again with the information @brandongoode asked for above.

[2018-12-05 00:08] #23 closed

[2018-12-05 00:08] fishcharlie commented on #110
@craigsketchley Want to try to get a PR submitted for this? 😃

[2018-12-05 01:45] fishcharlie commented on #155
This is due to the following section of code:

https://github.com/dynamoosejs/dynamoose/blob/61e27104e3ca8fafac76003bd06c637af98599b0/lib/Model.js#L994-L1024

Since the default of that option is false. So unless you override that option to true, it will never do the required check.

I think the solution might be to split up the required and default logic. So we check for if it's required regardles

[2018-12-05 06:34] fishcharlie commented on #425
Closing as duplicate of #193

[2018-12-05 06:34] #425 closed

[2018-12-05 06:38] fishcharlie commented on #279
@judahb I think this might be possible with the [`dynamoose.setDDB`](https://dynamoosejs.com/api#dynamoosesetddb) method. If not let me know and I can reopen this issue.

[2018-12-05 06:38] #279 closed

[2018-12-05 10:26] rish-16 opened #494 "Redesigning new website"
Hello,

I am currently redesigning and redeveloping the dynamoose website as stated in ROADMAP.md
<img width="1280" alt="screenshot 2018-12-05 at 6 24 43 pm" src="https://user-images.githubusercontent.com/20137995/49507286-2057d500-f8bb-11e8-9c47-9133b863dcb6.png">

Any inputs are welcome :)

Cheers,
Rishabh

[2018-12-05 11:32] s-takehana opened #495 "Model.batchPut(items, {updateTimestamps: false}) doesn't work"
### Summary:

`Model.batchPut` `updateTimestamps` option doesn't work.
`updatedAt` is always updated.

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

`updatedAt` is always updated.

### Expected output and behavior:

`updatedAt` is not updated.

### Environment:

Operating System:
Operating System Version:
Node.js version (`node -v`):

[2018-12-05 15:09] fishcharlie commented on #494
@rish-16 ❤️ the design!!

Just replied at the link below.

https://github.com/dynamoosejs/dynamoose/pull/496#issuecomment-444517943

[2018-12-05 17:59] fishcharlie commented on #495
@s-takehana Without more information and a code sample I really can't help with this. Although you filled out a lot of the issue template, a lot of key parts you left blank (the code sample section).

One thing that might help you, is the test showing this code working:

https://github.com/dynamoosejs/dynamoose/blob/61e27104e3ca8fafac76003bd06c637af98599b0/test/Model.js#L2514-L2539

If you have mo

[2018-12-05 17:59] #495 closed

[2018-12-06 05:01] dbclkclk opened #497 "Querying index returns unknown result set."
### Summary:

I have an index called `ServiceIdIndex` that I'm trying to query (with *Projection*:true). The result from the query doesn't have the attributes of my model with values.

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

[code]

### Expected output and behavior:

One single result with all the attributes (with values) from

[2018-12-06 06:18] s-takehana commented on #495
@fishcharlie Thank you for your reply.

### Code sample:

[code]

#### LOG1
[code]

#### LOG2
[code]

#### LOG3
[code]

[2018-12-06 06:38] fishcharlie commented on #495
@s-takehana Hmm. Very strange. Let me see if I can reproduce this tomorrow. It looks like those items are getting recreated because it’s updating the `createdAt` property as well.

If you get a chance. Mind looking through that test I posted and let me know if anything stands out as being problematic, or reason why it might be giving a false positive?

[2018-12-06 06:46] fishcharlie commented on #497
@dbclkclk In order to use query you must pass in the [`Query.exec`](
https://dynamoosejs.com/api#queryexeccallback) method as the last option. That signals to Dynamoose that you are done with your query. Otherwise Dynamoose has no way of knowing when you are done adding filters and all of that. Try the following code:

[code]

[2018-12-06 06:53] fishcharlie commented on #155
I think that last option will work. I wrote an example for it. Just have to clean up the code quite a bit, and submit a PR for it.

[2018-12-06 06:56] dbclkclk commented on #497
@fishcharlie ok much. Lastly, `.query("ServiceIdIndex")` meaning using the global index name doesn't seem to work. When I pass in the attribute name `.query("id")` then it works...thoughts?

[2018-12-06 07:00] fishcharlie commented on #497
@dbclkclk See #489. Just not documented yet. In the query, you pass in the attribute name as the parameter. You can use `Query.using` to specify the name of the index you want to query.

[2018-12-06 07:02] dbclkclk commented on #497
@fishcharlie makes sense, thanks.

[2018-12-06 07:02] #497 closed

[2018-12-06 07:07] fishcharlie commented on #497
@dbclkclk No problem! Let me know if anything I said doesn’t work or if you have any other questions or anything like that.

[2018-12-06 11:16] sabreenakp opened #498 "Dynamoose connection to AWS dynamoDB is https or http?"
### Summary:
I am using dynamoose with Node.js to connect to Amazon DynamoDB. I come across some detail finding of security around the connection establishment. Could you please give details on the same?

How does the connection work?
Is it HTTP or HTTPS?

### Code sample:

dynamoose.AWS.config.update({
  region: config.aws.region
});

Dynamoose version:

0.8.7

[2018-12-06 15:58] fishcharlie commented on #110
Not quite sure what needs to be done to get this working. @brandongoode any input?

[2018-12-06 16:34] fishcharlie commented on #498
@sabreenakp This is not a Dynamoose question. Dynamoose just uses the underlying AWS-SDK, and doesn't handle connections at all.

[2018-12-06 16:34] #498 closed

[2018-12-06 17:46] annabunches commented on #33
Amazon just announced support for server-side transactions in dynamodb, and their example code is specifically in the javascript sdk. Time to revisit this?

https://aws.amazon.com/blogs/aws/new-amazon-dynamodb-transactions/

[2018-12-06 17:47] annabunches commented on #33
Oh never mind y'all are already on top of this :)

[2018-12-06 17:48] fishcharlie commented on #33
@annabunches This has been released as of [Dynamoose version 1.2.0](https://github.com/dynamoosejs/dynamoose/releases/tag/v1.2.0).

#472

[2018-12-07 07:08] dbclkclk opened #500 "Issue querying with .In method"
### Summary:

How to get single result using `scan` or `query` from a list of param values?

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

[code]

### Expected output and behavior:

Should return a single record.

### Environment:

Operating System:
Operating System Version:
Node.js version (`node -v`):
NPM version: (`npm -v`):
Dynam

[2018-12-09 05:16] dbclkclk commented on #500
@fishcharlie tried that and getting this error

`(node:19517) UnhandledPromiseRejectionWarning: ValidationException: Query condition missed key schema element: serviceId`

Using this query:

     var feature = await Feature.query("type").eq("base").filter("id").in(featureIds).exec();

As you can see, I've setup a global index on `type` with rangeKey `id` (see my schema above in my original post) b

[2018-12-10 06:09] xiaoyufan commented on #165
Any update on this?

[2018-12-10 13:14] leanderr commented on #230
This is such a common use-case. For a project of this popularity I find it hard to believe these issues stay unsolved :-(

[2018-12-10 14:19] leanderr commented on #445
Is there any workaround yet? I feel like working with objects is such a basic feature there shoudn't be any issues on it... Are there any old version that this would not occurr on?

[2018-12-10 14:32] fishcharlie commented on #165
@xiaoyufan No updates on this. Feel free to work on it and submit a PR.

[2018-12-10 14:34] fishcharlie commented on #445
I think this is just a documentation update and will require no code changes. There is a comment on #230 that goes over details about lists and maps. I think we just need to update the documentation to give more detail about this.

[2018-12-10 14:35] fishcharlie commented on #230
@leanderr How is this unresolved? As I mentioned above, I think @jderose9’s comment is correct and has successfully worked for me. What is the issue?

[2018-12-10 15:42] leanderr commented on #230
`var testSchema = new Schema({
    address1: {
        type: 'map',
        firstName: String,
        lastName: String
    }
},

    {
        useDocumentTypes: true,
        saveUnknown: ['address1'],
    }
);

var Mod = dynamoose.model('LeadTable03', testSchema);

var concreteLead = new Mod({
    address1: {
        firstName: "fn",
        lastName: "b"
    }
});`

->  One or more parameter va

[2018-12-10 17:39] fishcharlie commented on #230
@leanderr See https://github.com/dynamoosejs/dynamoose/issues/230#issuecomment-361412970 and the following test:

https://github.com/dynamoosejs/dynamoose/blob/e4e0eeb4e3fdee80f02d41306ed92f952510cf02/test/Schema.js#L82-L168

---

It's really hard to read your code due to the lack of good formatting, but from what I can gather you need to change your schema to the following:

[code]

---

I have w

[2018-12-10 18:18] leanderr commented on #230
Thank you so much for your help.

[code]

Fail Saving { ValidationException: One or more parameter values were invalid: Type mismatch for key address1 expected: S actual: M
    at Request.extractError (/var/task/node_modules/aws-sdk/lib/protocol/json.js:51:27)

Deleting "saveUnknown...." will fail as well. Also Using Combinations of 'map', 'Map', Map, 'obj', 'Obj', Object'... Working on a PR. Will

[2018-12-10 18:22] fishcharlie commented on #230
@leanderr Oh that is for sure your problem I think. In Dynamoose you can’t combine types. Especially with the “saveUnknown” property. Just won’t work. The whole point of Dynamoose is having strict typing for Dynamoose. So yes, it will fail if you are trying to use multiple types for one property.

[2018-12-10 19:04] fishcharlie commented on #230
@leanderr You said:

I assume that means your table looks something like the following:

[code]

(hopefully I got my syntax and everything correct)

---

^ that is not allowed in Dynamoose. You can't have one document property be a string, and another be a map. In Dynamoose currently, a `map` is different than an `object`. That is something I find very confusing and took me a while to wrap my head

[2018-12-11 06:31] leanderr commented on #230
The tested example you provided in dynamoose/test/Schema.js will save the Map as a String to the Database...

[code]
Saves each map as Strings into the DB

[2018-12-11 14:42] jderose9 commented on #230
@leanderr That's because you have useDocumentTypes: false. As per the doc, the default type for arrays and objects is 'S' unless useDocumentTypes: true.

https://dynamoosejs.com/api#attribute-types

[2018-12-12 17:29] batmanppc opened #503 "ON_DEMAND breaks table creation with global secondary index"
### Summary:

Create table fails if throughput set to ON_DEMAND and table includes a global secondary index.

### Current output and behavior:

MultipleValidationErrors: There were 2 validation errors:
* MissingRequiredParameter: Missing required key 'ReadCapacityUnits' in params.GlobalSecondaryIndexes[0].ProvisionedThroughput
* MissingRequiredParameter: Missing required key 'WriteCapacityUnits' i

[2018-12-12 17:32] fishcharlie commented on #503
@batmanppc Do you mind sharing a concrete example of this? Or even better creating a failing test case for this and submitting a PR? Or the best option, do you wanna try to fix this and submit a PR? Haha.

[2018-12-12 17:34] batmanppc commented on #503
@fishcharlie Yes, absolutely have plans to. Just wanted to get the issue logged in case someone else ran into it.

[2018-12-12 17:37] fishcharlie commented on #503
@batmanppc Awesome!! Thanks so much!

[2018-12-13 02:41] #503 closed

[2018-12-14 14:39] BramSikkens opened #505 "Dynamoose problem with AWS Lambda & ClaudiaJS"
### Summary:
Hi!

I have ran into a little problem with dynamoose and awsLambda. As a framework for my API I use ClaudiaJS Express. Developing locally everything works, but when I upload my server to AWS Lambda I get the following error
<img width="590" alt="screenshot 2018-12-14 at 15 25 43" src="https://user-images.githubusercontent.com/16198438/50008555-dbb3f400-ffb4-11e8-8773-36b4a13fe4f9.png"

[2018-12-14 15:02] fishcharlie commented on #505
@BramSikkens Are you sure you are running Node.js version 9.4.0? That error REALLY sounds like you are running a older version of Node.js that does not support async await. Dynamoose requires Node.js version 8 or above since we take advantage of newer syntax that isn’t supported on older versions.

[2018-12-14 15:16] BramSikkens commented on #505
Hi!

Oh my god.. I was not realising that AWS Lambda's default configuration was not on the latest node version!

Thank you for your support!

[2018-12-14 15:21] fishcharlie commented on #505
@BramSikkens No problem! I’m going to close this now. Please let me know if you run into any other issues or have any other questions!!!

[2018-12-14 15:21] #505 closed

[2018-12-15 16:06] BramSikkens commented on #137
Is it possible to populate a list?
For example you have a schema with
`pets:[ {
petid : String
}]`

[2018-12-15 21:05] expatiating commented on #211
@fishcharlie & @dolsem glad there is renewed interest in this a year later! :)

@fishcharlie there are very efficient use cases to perform a sparse index **scan**.
For instance, you have an ordering system and want to display on the dashboard all unfulfilled orders based on a parameter `openTimeIndex`, which you've set up as a secondary index. When the orders come in you set `openTimeIndex: <unix

[2018-12-15 22:58] fishcharlie commented on #211
If someone wants to try to implement this I'd be happy to review a PR.

[2018-12-16 23:43] #313 closed

[2018-12-16 23:44] fishcharlie commented on #500
Closing this due to no recent activity. If this is still a problem or you have questions please feel free to comment again and we can try to help further.

[2018-12-16 23:44] #500 closed

[2018-12-17 12:07] BramSikkens opened #507 "Populating an array of objects **help wanted**"
Hi!

I have a question about populating. I saw that you updated the code to use populating like mongoose, but there is still no documentation.

I have the following schema

`
[code]

*programs* should be populated with a Program model. The schema for the program looks like this
[code]

So basicaly a physio should be stored like this  with *2 programs*
[code]

The json response looks like this

[co

[2018-12-17 12:39] lucianopf commented on #137
Thanks buddy, and I'm sorry for not replying! 😬

The documentation is way better than I actually thought hehehe

[2018-12-17 21:33] fishcharlie commented on #507
@BramSikkens Few things before I get to your question. First, adding `**help wanted**` to your title doesn't really serve any purpose and takes away from the focus of your question that you are really asking. At the end of the day if you file an issue on GitHub, chances are you are looking for help, support, or at the very least a reply. So in the future, please try to keep your issues focused and

[2018-12-17 21:33] #507 closed

[2018-12-17 22:12] BramSikkens commented on #507
First of all, thank you for the reply. I fairly new to the whole issue thing so, I didn't really know how I it was the proper way to ask a question. I added the help wanted to clarify that it was not an issue, but a question. It was not my intention to push for your attention.

I was reading an issue about the implementation of the populate method, like mongoose. The only thing missing was the doc

[2018-12-17 22:35] fishcharlie commented on #507
@BramSikkens Totally understand!

Hopefully that works and feel free to create more issues as you have more questions, bug reports, suggestions, etc. And as always PRs are always welcome! haha

Good luck!

[2018-12-19 07:04] tomofumi0003 opened #508 "updated_at filter does not work"
### Summary:
updated_at filter does not work.
(created_at filter works)

### Code sample:
#### General
[code]

### Current output and behavior:
Count(all): 10
Count(createdFilter): 10
Count(updatedFilter): 0

### Expected output and behavior:
Count(all): 10
Count(createdFilter): 10
Count(updatedFilter): 10

### Environment:
Dynamoose version: 1.3.0
Dynamoose Plugins: no use

### Dynamoose Plugins:

[2018-12-19 10:56] BramSikkens opened #509 "Removing references in object when parent object is removed"
### Summary:
Hi
In mongoose there is the possibility to remove all of the references in an object when  the parent object of that reference is removed. This is done by the .remove middleware. Is this also possible in dynamoose?

Let's use the follow example
### Code sample:
#### Schema

I have a dogowner with multiple references to dogs.
This is stored in a table dogowners in dynamodb
[code]

Then

[2018-12-19 18:09] fishcharlie commented on #509
@BramSikkens This is not currently possible in Dynamoose. Might make a nice [plugin](https://dynamoosejs.com/api#plugins-beta) tho.

I'm not sure if this fits your exact situation, but you could look into see if you can make that attribute an index to speed it up and not have it be quite as heavy.

Overall tho, I would say this is not totally designed for DynamoDB. You are getting into some pretty

[2018-12-19 18:09] #509 closed

[2018-12-19 19:06] fishcharlie commented on #508
@tomofumi0003 Thanks for reporting this! Wanna check out PR #510? That PR should fix it. If you wanna test it and review it that'd be awesome.

[2018-12-20 11:50] ydvsailendar commented on #211
um i am using query in place of scan using secondary index here is my schema `//Service Schema.
var dynamoose = require('dynamoose');

var ServiceSchema = new dynamoose.Schema({
  id: {
    type: String,
    index:{
      global: true,
      name: 'ServiceIdIndex'
    }
  },
  name : {
    hashKey: true,
    type: String
  },
  description: {
    type: String,
    default: "Once a company has acce

[2018-12-20 12:07] ydvsailendar opened #511 "dynamoose query with secondary index"
### Summary:
I am trying to query using secondary index the implementation looks ok but i am not sure.

### Code sample:
#### Schema
[code]
// Code here
[code]
// Code here
[code]

[2018-12-20 17:22] fishcharlie commented on #511
@ydvsailendar I'm very confused about what the issue is. There is a major lack of good formatting in the issue template you filled out, which makes it very hard to understand what is going on.

I'm going to be closing this issue for now. Please edit your question to be more clear and give more details about what the issue actually is, along with formatting of the issue template so it's easier for

[2018-12-20 17:22] #511 closed

[2018-12-20 17:36] BramSikkens commented on #509
@fishcharlie  Thank you for your response!

I did the whole day searching the web about differences between noSQL and SQL. It seems that being to relational is not really an argument to not go for a noSQL database. Sorry that I can't give a full explanation why but that is what the expert on from AWS Re:Invent was saying :p I will do some further research on what the big advantages/disadvantages a

[2018-12-21 01:17] ydvsailendar commented on #511
@fishcharlie i have tried updating the requirements if i miss any details that might be helpful please let me know. Thank you for the insight since this is my first time i was a bit unsure.

[2018-12-21 03:35] ydvsailendar opened #512 "query using secondary index reference to old issue #511"
### Summary:
I am trying to query using secondary index the implementation looks ok but i am not sure. The schema below contains my query to the service model using the secondary index that i have created and since this query was meant to return all services with enabled: true.

### Code sample:
#### Schema
[code]
#### Model
[code]
#### General
[code]

### Current output and behavior:
[code]

###

[2018-12-21 03:37] ydvsailendar commented on #511
https://github.com/dynamoosejs/dynamoose/issues/512

[2018-12-22 06:01] glenarama opened #513 "Recommended method for creating tables"
What is the recommended method for Table creation?

The Docs recommend that create be disabled for production environments, and relying on a query to create the table causes a timeout for the query.

The new option for On demand billing simplifies table config a lot - I was trying to find a table.check and table.create based on the model (With prefix name) but cannot find such a method.

[2018-12-22 09:41] BramSikkens opened #514 "Infinite loop with async validation (usercheck/query)"
### Summary:
Hi I'm using the validate method in my schema. The validate method uses an async function to check if a user exists based on an id. When I use the function outside the validate it works and I receive  a true/false based on the existence of the user.
When I use it in the validate method of the schema I get an enormous loop.

### Code sample:
#### Schema
[code]
###Model
I would save it

[2018-12-23 00:38] fishcharlie commented on #514
Async schema methods require Dynamoose version 1.3.0. You can see the release notes below.

https://github.com/dynamoosejs/dynamoose/releases/tag/v1.3.0

[2018-12-23 00:38] fishcharlie commented on #513
For production I would just create the table manually before deployment.

[2018-12-23 00:38] #513 closed

[2018-12-23 00:40] fishcharlie commented on #512
Are you using DynamoDB? Have you verified to ensure the index has been created?

[2018-12-23 12:02] BramSikkens commented on #514
Hi!
I updated the package and now I get the error

[code]

Is this a known issue after the update? I did not had this before.
I do my configuration like this:

[code]

[2018-12-23 17:02] fishcharlie commented on #514
@BramSikkens I highly doubt that is an issue with 1.3.0. Probably was an issue for you in 1.2.0 but just didn’t surface since that other problem was happening.

First ensure that configure is the very first thing that happens in your code. Before you create any schema or model or do ANYTHING related to Dynamoose.

Second change your code to the following:

[code]

It kinda looks like the backticks

[2018-12-23 22:10] BramSikkens commented on #514
@fishcharlie One last question, I think the original problem was that I use, User.query in the validate method of the User schema. Causing a loop.
Is there a way to query the User in a User schema, or should I find another way

[2018-12-23 23:36] fishcharlie commented on #514
@BramSikkens After looking at this again I think you are 100% correct. What I said before about the Dynamoose version and configuration thing is still valid.

Sadly I don't know how to fix this off the top of my head. All of that logic is SO intertwined and makes several calls to different methods all to product the infinite loop.

It would probably require building an option on the query to skip

[2018-12-24 05:08] ydvsailendar commented on #512
I am using a package name dynamodb-localhost and I did remove and start so I am sure.

[2018-12-24 05:13] fishcharlie commented on #512
@ydvsailendar The error `The table does not have the specified index: enabledGlobalIndex` means that the index has not been created on the table. So there must be some type of problem with that. I would try deleting the table and recreating it using Dynamoose. Or you can use DynamoDB directly.

You could also try running `export DEBUG=*` before running your node application. That will cause Dynamo

[2018-12-24 05:13] #512 closed

[2018-12-25 20:38] dbclkclk opened #515 "Cant seem to update my existing record"
### Summary:

I'm trying to update my existing record however, my unmodified version of the record is still being shown.

### Code sample:
#### Schema
[code]

#### Model
[code]

#### General
[code]

### Current output and behavior:

The DB isn't updating my existing record and querying for this record returns the original (unmodified value).

### Expected output and behavior:

Update the record

#

[2018-12-26 20:06] dobrynin opened #516 "Sets not working"
### Summary:
I cannot get DynamoDB String Sets to work. I have not tried Number Sets but I assume they are also affected.

### Code sample:
#### Schema
{
    mySet: [String],
}

I do not have a great understanding of the whole codebase, but I managed to solve my issue by removing `util.isArray(typeVal)` from the conditional at the beginning of this code block in `Attribute.js`. I'm not sure if thi