[2014-04-25 11:56] brandongoode opened #1 "Add Support for Improved Query Filtering and Conditional Updates for DynamoDB"
Add support for Amazon's updates to Query and Update

http://aws.typepad.com/aws/2014/04/improved-queries-and-updates-for-dynamodb.html

[2014-05-11 01:19] brandongoode opened #2 "Add support for promises"
Use Q package to support both callback and promise logic.

[2014-05-14 12:30] brandongoode opened #4 "Async callback for table created with model creation"
Have an async callback when `create=true` on model creation.  Emit even `"created"` on creation.  Have create callback listener as optional last arg for `dynomoose.model(..., createListener)`.

[2014-05-17 12:58] brandongoode opened #5 "Set global defaults for .model"

[2014-05-18 19:26] #1 closed, assigned to nobody

[2014-05-18 19:26] #4 closed, assigned to nobody

[2014-05-18 19:26] #5 closed, assigned to nobody

[2014-05-18 19:54] #2 closed, assigned to nobody

[2015-01-12 13:37] rtm opened #10 "Versioning issue with aws-sdk"
I notice the published version (the one you get with 'npm install', with the tag 0.3.1) still refers to an earlier version of aws-sdk (2.0.0-rc.17), but that a commit from six months ago bumps aws-sdk up to 2.0.10. WIth the published version, I am running into some AWS-related issues that i think might be related to node 0.11. I changed my package.json entry to say '"dynamoose": "git://github.com/

[2015-01-12 20:27] brandongoode commented on #10
I've been planning to update the release for some time (something like 6 months) but keep forgetting to do it.  Thanks for bringing it to my attention.  I using the repo directly to verify changes are stable; however, you shouldn't need to.  I'll push an update shortly.

[2015-01-12 21:19] brandongoode commented on #10
0.3.2 is published to npm.

[2015-01-12 21:19] #10 closed

[2015-01-29 13:16] brandongoode opened #11 "Update Global Secondary Indexes"
Global Secondary Indexes (GSI) enable you to perform more efficient queries. Now, you can add or delete GSIs from your table at any time, instead of just during table creation. GSIs can be added via the DynamoDB console or a simple API call. While the GSI is being added or deleted, the DynamoDB table can still handle live traffic and provide continuous service at the provisioned throughput level.

[2015-07-29 21:39] blakebyrnes opened #13 "Implement BatchGet"
Would be really nice to have BatchGet available as a feature when reading multiple keys at once.

This is the API they're using at dynamite (for reference)

client.newBatchGetBuilder()
    .requestItems('user', [{'userId': 'userA', 'column': '@'}, {'userId': 'userB', 'column': '@'}])
    .requestItems('phones', [{'userId': 'userA', 'column': 'phone1'}, {'userId': 'userB', 'column': 'phone1'}])

[2015-07-30 01:18] brandongoode commented on #13
@blakebyrnes - It's been on my todo list for a long time, but I just haven't had the time.

@ricardopinto has added the functionallity in his fork:
https://github.com/ricardopinto/dynamoose#modelbatchgetkeys-options-callback

If @ricardopinto does a PR, I would be happy to merge it.

[2015-07-30 10:28] ricardopinto commented on #13
Hi! I've sent a PR with batch operations implemented. https://github.com/automategreen/dynamoose/pull/14

[2015-07-31 01:36] brandongoode commented on #13
Thanks -- I'll merge it in shortly

[2015-07-31 11:33] brandongoode commented on #13
I published npm version 0.4.0 with batch functionallity.

Special thanks to @ricardopinto & @khamasaki. They did all the work.

[2015-07-31 11:33] #13 closed

[2015-07-31 11:34] brandongoode opened #15 "scan.consistent"
You can now make consistent reads by setting the 'ConsistentRead' parameter when you run the Scan operation. Consistent reads means that the Scan operation will include changes from all writes that are acknowledged before the Scan operation is started. Scanning a table with consistent reads makes it easy to include the latest updates when backing up or replicating your DynamoDB table. To make cons

[2015-08-18 23:57] benjcooley opened #16 "Support for optimistic locking"
.NET and Java DynamoDB sdk support optimistic locking using conditional constrainst and a special annotated numeric 'version' field in the schema.

This could be implemented in dynamoose via uuid and a tagged 'version' field in the schema.

[code]

Whenever a record is updated and the '_version' field is passed, dynamoose will automatically add a conditional constraint to ensure the write only suc

[2015-08-19 00:00] benjcooley opened #17 "Add nested JSON support via update expressions."
The current implementation uses the old API to support modifying attributes only at the top level (which is perfectly fine for the most part).

DynamoDB however has supported full nested JSON data structures in addition to update expressions that could arbitrarily modify data at any depth of the attribute tree.

For certain scenarios supporting nested structure modification can avoid the overhead

[2015-08-19 00:02] benjcooley opened #18 "Support for plugins"
MongoDB mongoose supports replicating updates to an elastic search cluster using https://github.com/taterbase/mongoosastic, which is implemented as a plugin.

Might be nice to be able to do this with dynamoose as well.

Again, can implement and potentially submit as a PR.

[2015-08-19 01:49] brandongoode commented on #16
A PR would be great.  The feature will be very useful. Thanks.

[2015-08-19 01:59] brandongoode commented on #17
I haven't had time to really look into the details of using the newer nested structures. Most of my tables were created prior to the JSON data structures being supported. I'll have to take some time to understand the differences.

[2015-08-19 02:15] brandongoode commented on #18
Sounds like another great idea.  Again, PR would be great.

[2015-09-23 15:59] rkoberg commented on #2
Can we plug in any promises library similar to how mongoose does it?
[code]

[2016-01-01 07:18] theparkland opened #22 "Support Atomic Counters in Update $SET"
http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.Modifying.html#Expressions.Modifying.UpdateExpressions.SET.IncrementAndDecrement

From what I can tell operations like `SET Price = Price - :p` are not supported.  Only `SET Price = :p`.

[2016-01-01 13:24] brandongoode commented on #22
You are correct.  Would using the $ADD operator work?
https://github.com/automategreen/dynamoose#modelupdatekey-update-callback.

[2016-04-05 20:38] Laucsen opened #23 "Multiple validations with multiple error message"
This Idea came from mongoose. It can be integrated with front-end on the future to automatically show a message to users.

So, it would be good if there are multiple validation functions, to show different messages to different errors.

[2016-04-07 00:54] brandongoode commented on #23
I like the idea.  Do you want to take on making the changes and creating a PR?  If not, could you provide a couple code examples?

[2016-05-09 21:12] Vurk opened #28 "Map and List attributes"
Hi, is there any way to set the attribute value to DynamoDB Map and/or List? When I insert a new item with an array of objects, it is set to String in DynamoDB but the same item, inserted directly to DynamoDB set the attribute to Map. The same way with List.

Thanks

[2016-05-10 00:30] brandongoode commented on #28
Yes.

Here's the test case you can use as an example:

https://github.com/automategreen/dynamoose/blob/b9830d3b5c2334dba31ceb7b3081bea44162c541/test/Schema.js#L108-L123

[2016-05-11 20:11] Vurk commented on #28
Hi, I have setup my schema as the example but it is still saving the map type as string in dynamodb. This is my schema:

Schema = new Schema({
      id: { type: String, require: true, hashKey: true },
      createAt: { type: String, require: true },
      code: String,
      date: { type: Date, require: true },
      user: {
        type: 'map',
        map: {
          name: { type: String, requi

[2016-05-12 03:04] darthapple opened #29 "Timestamp fields suport like createdAt and updatedAt"
What about have support to createdAt fields and updatedAt fields like others? CreatedAt  automatically saves datetime when record was created and updatedAt a datetime when record was last saved.
This maybe achieved using a New option when a define a schema.

[2016-05-12 11:58] brandongoode commented on #29
Good idea.

We could model it after mongooses timestamp option: http://mongoosejs.com/docs/guide.html#timestamps

If you want to add a createdAt field today it can be done like this:

[code]

The new option would be something like this:

[code]

[2016-05-13 17:47] darthapple commented on #29
@brandongoode I'll implement in the way you have suggested, whenever, with these two syntax:
1) In this case we can set the name of _timestamp_ fields (_\<fieldname\>_):
[code]

2) In this case the field will use default names: _createdAt_ and _updatedAt_
[code]

[2016-05-13 18:14] brandongoode commented on #29
@darthapple  - by "I'll implement it" are you saying you are going to create a PR?  That would be great, but not required.

[2016-05-13 18:15] darthapple commented on #29
Yes, this is the idea? What do you think about?

[2016-05-13 18:23] brandongoode commented on #28
@Vurk - Sorry I left out a step.  You need to set the opotion `useDocumentTypes` to `true`.

https://github.com/automategreen/dynamoose/blob/b9830d3b5c2334dba31ceb7b3081bea44162c541/test/Schema.js#L215

I really you do a better job with the Readme -- PR for missing documentation is always welcome.

[2016-05-13 18:27] brandongoode commented on #29
Yes that's great.  The only change is it needs to be in the options section of the Schema.  I had it in the wrong section too.

[code]

[code]

[2016-05-13 18:32] darthapple commented on #29
OK. n problem. Today at night I'll create a PR with code.

[2016-05-15 11:55] #29 closed

[2016-05-17 08:29] Vurk commented on #28
All works perfectly. Thanks!

[2016-05-17 08:29] #28 closed

[2016-06-11 02:18] craigsketchley opened #32 "Query should always return an array?"
Hi,

I may be doing something wrong but it's my understanding that calling query on a model should return an array of the items. If that's the case then shouldn't it return an empty array when no items are found for that query? I think currently it's `undefined`.

At the moment I have to check if the returned value is defined every time I call query (unless I'm doing it wrong):

[code]

It'd be ni

[2016-06-11 02:19] craigsketchley commented on #32
Great library btw. This is the reason I finally started using DynamoDB.

[2016-06-12 01:28] brandongoode commented on #32
Thanks

It should always return an array.  The array will be empty if no results are found.  I just double checked.

The only time it would be undefined is if an error happened.  Can you add a test to see if err exists.

[2016-06-16 15:14] tony-gutierrez opened #33 "Transactions support"
It would be nice to support transactions as outlined in the official AWS SDK for Java.

There is a push to get them added to the JS SDK here: aws/aws-sdk-js#1004

[2016-06-16 15:26] tony-gutierrez opened #34 "Custom table names"
Is there a way to override table names?

[2016-06-16 16:54] brandongoode commented on #34
Sorry.  No.  DynamoDB does not support changing the table name. You would have to create a new table and copy the data over.

[2016-06-16 16:56] brandongoode commented on #33
I'll keep an I on the AWS change.

[2016-06-16 16:58] tony-gutierrez commented on #34
I wasnt thinking an alteration to the name, I was more thinking a custom name before create. Vogels supports this.

[2016-06-16 17:05] brandongoode commented on #34
You can add a prefix to the name using a prefix option.

Can you point me to a Vogels example?

[2016-06-16 17:12] tony-gutierrez commented on #34
In Vogels, the name of the class and the table name are more divorced. Here's an example schema:

[code]

[2016-06-16 17:15] tony-gutierrez commented on #34
In reality the prefix option will probably be sufficient for what I'm trying to do. I cant seem to find it documented.

[2016-06-16 17:43] brandongoode commented on #34
I need to add that to the documentation.

You can set the prefix in two ways.  Either per schema or globally.  I normally use the global method.

Globally:

[code]

Per table:
[code]

[2016-06-17 15:15] #34 closed

[2016-06-30 12:27] elgubenis opened #35 "can you search any key with .get?"
hi, i'd like to know if the key someone is querying for using .get needs to be indexed, or if any key can be searched withing .get? I'm new to dynamodb and had trouble creating a schema where i used .get({ email: 'username@domain.tld' }), it did not return anything even though the records were there.

I use dynamoose with the serverless framework, dynamoose already works for me for creating items

[2016-06-30 12:30] elgubenis commented on #35
this is my register function:

[code]

I never get to the 'User already exists' part, it always creates a new item, even though the email im looking for already exists.

[2016-06-30 12:34] brandongoode commented on #35
Only the hash key and range key of the main index can be used with `.get(...)`.  For all other indexes you need to use query or queryOne.

[code]

[2016-06-30 12:35] elgubenis commented on #35
oh nice, would not using a rangeKey for searching by email slow down the fetch?

[2016-06-30 12:40] brandongoode commented on #35
rangeKey is more for when you have identical hash keys.  Say comments on a blog post where the hash key is the blog post id and the range key is the comment id.  You use just the hash key to get all the comments and the range key when you need a single comment.

The global index is correct for your use case.  Query is very efficient and fast.  Scan is not as efficient.

[2016-06-30 12:43] elgubenis commented on #35
thank you very much for your help and advice @brandongoode! I used mongoose a lot, so switching to dynamo with dynamoose  was 'almost' like a breeze, there are still some differences and caveats of dynamo I need to learn, but so far it looks promising.

[2016-06-30 13:13] elgubenis commented on #35
I got an error, using this scheme:

[code]

[code]

I still did something wrong huh?

[2016-06-30 13:18] elgubenis commented on #35
got it:
[code]

[2016-06-30 13:18] #35 closed

[2016-06-30 13:19] brandongoode commented on #35
You type much faster than I.  Glad you got it working.

[2016-06-30 16:20] elgubenis commented on #35
can you recommend a way to make a relationship? in my case a user can have many templates, (one-to-many)

[code]
my thought was that the user needs to be a rangeKey?

[2016-06-30 16:21] elgubenis commented on #35
maybe, like this?
[code]

[2016-06-30 17:25] elgubenis opened #36 ".select"
are there any plans on writing a .select method? like the .select form mongoose, do you have any workaround for that? @brandongoode, since im using dynamoose with lambda it would be really cool to to use as less memory as possible, so when i fetch 100 objects but just want certain keys of every item, is that even possible with dynamodb?

[2016-06-30 18:38] brandongoode commented on #35
That's pretty much how I do it.  I normally name the the hashKey something like `userId` so I know what it references.

[code]

[2016-06-30 18:58] brandongoode commented on #36
The dynamoDB equivalent to select is to list the attributes to get (http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Query.html#DDB-Query-request-AttributesToGet).  This is done with the `attributes` query option,  https://github.com/automategreen/dynamoose#queryattributesattributes.  It is an array of the names of the attributes you want returned.

Also, since you're using Lambda

[2016-06-30 19:37] elgubenis commented on #36
should've read your documentation more carefully, sorry, thank you also for your recommendation. dynamoose doesn't (yet) support nested schemas, is that correct?
something like:
[code]

[2016-06-30 20:19] elgubenis opened #37 "{ timestamps: true } option not working ae"
i have the following schema with the timestamps options set to true, but when i create a new Model of that schema and save it, the timestamps are not saved/set.

[code]

[code]

example response:
[code]

[2016-06-30 20:28] elgubenis commented on #37
i also did an example using the .create method, but with the same result 🔢

[code]

[2016-06-30 20:50] brandongoode commented on #36
That's correct -- no nested schema support.

[2016-06-30 20:57] brandongoode commented on #37
The timestamps option was just added last month and is not in the released version.  I've been meaning to publish version 0.5.  Can you try using the repo directly.

[code]

[2016-07-01 22:47] reselbob commented on #37
Yeah, I was struggling all afternoon with this, until I read this post. Tell me please, when do you anticipate the bits to be on NPM?

[2016-07-01 23:00] reselbob opened #38 "Implementing data dependent behavior to a Schema or a model?"
Help? If you can?

Is there any way I can do this:

var User  = new Schema({
ssn:{
    type: string,
    hashKey: true
},
firstName: {
    type: string,
   required:true
  },
  lastName: {
    type: string,
    required:true
  },
 userName: {
    type: string,
    default: function() { return this.lastName + this.firstName }
  }
});

It seems that *this* executes in the scope of the attribute. I a

[2016-07-02 02:13] brandongoode commented on #37
Published v0.5.0 to NPM

[2016-07-02 02:40] brandongoode commented on #38
The default function cannot reference the current model values.

If you do not need the userName attribute stored in DyanmoDB you could use a virtual.

[code]

If you do need userName stored in the DB then I would use a static model function (this is what I do).

[code]

[2016-07-02 02:41] elgubenis commented on #37
thats the spirit! 👍 thx

[2016-07-02 02:41] #37 closed

[2016-07-02 20:38] reselbob commented on #38
Thank you. Let me take your tripe excellent thinking for a spin.

[2016-07-02 20:44] reselbob commented on #38
Just to make sure I am understand things correctly:

var User = dynamoose.model('User', userSchema);

User.new = function (user) {
  user.userName = user.firstName + ' ' + user.lastName;
  return User.create(user);
};

// Then use the "new" method to create a user
User.new({ssn: "123456789", firstName: "Brandon", lastName: "Goode"})
.then(function(bgUser) {
  console.log(bgUser.userName); // shoul

[2016-07-03 11:32] brandongoode commented on #38
You're correct.  I defined each schema in its own file and export the model.

[code]

[2016-07-04 17:17] reselbob commented on #38
Thank you for the help. I really, really appreciate it.

[2016-07-06 00:36] reselbob opened #39 "Getting error: ConditionalCheckFailedException: The conditional request failed"
Hi:

I want to generate a lot of populated Dynamoose models based on the same Schema. I have a helper function for making a model, like so

[code]
I load up a bunch of model promises into an array, like so

[code]

And make a call like so:
[code]

When I make it so that the for loop only generates one model, all is good. But, when I go to two models (```i < 2```), I get the following error:

[code

[2016-07-06 04:02] reselbob commented on #39
It appears that the issue might be that I am assigning the default value of the userId in the schema, like so:
[code]
When I assign the userId at model creation time, all is well, like so:

[code]
This is not optimal. I am hoping to make hashKey value assignment opaque to the programmer. My preference is for it to happen automatically. Otherwise, bad things might happen down the road.Tell me pleas

[2016-07-06 06:46] reselbob commented on #39
The work around I came up with is to assign userId as part of the User.new method. Seems to work.

[code]

[2016-07-06 11:43] brandongoode commented on #39
The default value can either be a value or a function.  In your case, you've passed the value output of a call to `uuid.v4()`.  If you just pass the function `uuid.v4`, it will work as you're expecting.

[code]

[2016-07-06 15:38] reselbob commented on #39
Duh

[2016-07-06 16:30] #39 closed

[2016-07-11 22:18] mbalex99 opened #41 "How to achieve geospatial"
In mongoose you can do this for a schema attribute:

[code]

How do you achieve geo queries with dynamoose.

Awesome library by the way.

[2016-07-14 03:47] davidhouweling opened #42 "Use version ^2.1.0 instead of 2.1.* of AWS-sdk"
Is there a particular reason you've locked it down to 2.1.* rather than just using ^2.1.0.

I would imagine a company such as Amazon would understand semver and therefore would not break this within the 2.* range. This impacts on other libraries that may use ^2.3.0 for example, in that they are using two individual AWS-sdk instances, rather than the same instance.

[2016-07-14 11:54] brandongoode commented on #42
There was no real reason.  Feel free to send me a PR with the change.

[2016-07-15 12:08] #42 closed

[2016-07-19 09:07] davidhouweling commented on #2
Could we have an example of how to use this as a promise based library out of the box? Unless we are expected to use bluebird and promisifyAll the library (which is a bit annoying).

[2016-07-19 16:29] brandongoode commented on #2
@davidhouweling - The main example uses the promise support.

https://github.com/automategreen/dynamoose#example

If you have a specific use case, I would be glad to help get it working for you.

[2016-07-20 00:33] davidhouweling commented on #2
@brandongoode surpised i missed that, i guess it is because all the examples after that use callback approach. It would be nice if `.scan` and `.query` also supports it. I understand you have `.exec(callback)` but would be nice to just have it as `.exec().then(...)`.

[2016-07-22 00:32] reselbob opened #44 "Doing a check for an existing item and if not, make a new one"
Hi:

I am trying to make check for an item in a table and if it exists return it. Otherwise make it.

I am in the land of confusion. Maybe you can help me?
If is my approach:
[code]

I fear I doing something very wrong in terms of Promise construction and chaining. The code seems to go off into spinning hell. Any help that can be provided to help me out will be greatly appreciated. Triple thank yo

[2016-07-22 16:44] brandongoode commented on #44
You may be missing a `.then` to handle the `return tenants[0]` and the `return Tenant.new(fig)`.  I don't think the save after the `Tenant.new(fig)` is needed.

Try adding a then at the end:

[code]

[2016-07-22 17:04] reselbob commented on #44
Thank you, Brandon

[2016-07-22 17:46] brandongoode commented on #44
sorry -- left out the exec

[code]

[2016-07-22 18:13] brandongoode opened #45 "Improve Documentation - Help Needed"
Documentation (or writing in general) is my Achilles heel.

If you notice any features that need better documentation. Please let me know.

**As always PR would be great**, but just letting me know what needs better documentation would get very helpful.

I've been told that Promise support needs better examples, #2.  What else?

[2016-07-22 18:16] reselbob commented on #44
Sorry, still not happen

I modify your code to return the promise like so:
[code]

Then try to exercise the code in a test like so:

[code]

then I get the error:
Cannot read property 'then' of undefined

Probably some sort of gross programmer error. Also, will the new Tenant returned, if a tenant does not exist be in the datastore, or do I need to call .save() on the new tenant

[2016-07-22 18:19] brandongoode commented on #44
You need to return the promise from `getDefaultTenant()`.

[code]

[2016-07-22 18:22] reselbob commented on #44
YES!!!

[2016-07-22 18:24] brandongoode commented on #44
All take that as it's working :-)

[2016-07-25 14:47] fishcharlie opened #46 "Inconstant in Updating Items"
I'm trying to run the code below to update the value of `mynumber` for the User where userid matches the main element. Problem is about half the time it works perfectly and updates just fine. The other half of the time it doesn't update the user record at all and the `mynumber` value just stays the same. If it was failing all the time I would think it was a problem on my part but it works perfectl

[2016-07-25 15:29] brandongoode commented on #46
There could be several reason it's failing. Most likely DynamoDB rejected the save.

Can you log the err and provide the output.

[code]

[2016-07-25 15:38] fishcharlie commented on #46
`err` is always returning null. Even when it doesn't work.

[2016-07-25 15:44] brandongoode commented on #46
Can you provide your schema for User and add a log of the user object before the save?

[2016-07-25 16:24] fishcharlie commented on #46
Logging the user before hand works perfectly has the correct value. I did realize that in my app it's checking the value before it actually finishes saving (and runs the callback). BUT that doesn't explain why in the AWS console it doesn't even update.

I have attached my user schema below. I have removed a lot of the unnecessary fields. Been working to isolate the issue as much as I can.

    var

[2016-07-25 16:37] brandongoode commented on #46
Any chance your preforming a save after with the old value.

You can try running it with DEBUG on.  That will show what is sent to AWS.

[code]

[2016-07-25 17:13] fishcharlie commented on #46
I'm defiantly not changing `mynumber` and saving after the save I'm talking about. BUT I might be running a save and changing other values after the fact. Would that cause an issue? If so I can just build some call backs to wait until the first save is done.

Below is the output of the most interesting part of the debug. I found. Both of the following sections were printed one after another. Looks

[2016-07-25 20:30] brandongoode commented on #46
It could be the save on the other values.  When you call `.save()` all attributes in the current object are written.  If you call `User.update(key, {mynumber: xyz})` only the updated value will be written to DynamoDB.

[2016-07-25 20:34] fishcharlie commented on #46
I could have sworn I tried update and that didn't work (but I could be wrong). But I was able to fix it by adding callback functions. Tried it about 6 times or so and it seems to be working. Of course could still be failing but 6/6 seems pretty good. If I run into another issue I will be sure to create another. Thank you SO much @brandongoode for your help!!

[2016-07-25 20:34] #46 closed

[2016-07-25 20:35] brandongoode commented on #46
Great!  I'm happy its working.

[2016-07-29 13:43] elgubenis opened #47 "npm version != git release?"
hey,

i stumpled upon a version 5 on npm, but when i install it i can find nothing from the 0.5 release, example the word "timestamp" inside lib/Schema.js, did you maybe not publish the same source as you released in git?

[2016-07-29 13:44] elgubenis commented on #37
see #47

[2016-07-29 13:47] elgubenis commented on #47
your advice using the git repo directly:

[code]

works obviously, but it would be cool to have the npm 0.5 version working aswel, could you republish?

[2016-07-29 13:49] brandongoode commented on #47
That's not cool -- Let me check to see what I did wrong.

[2016-07-29 14:04] brandongoode commented on #47
I failed to pull the PR updates to the computer from which I did the npm publish.   This left out several PRs, timestamps being one, from the 0.5 release.  The 0.6 should now have them.

[2016-07-29 14:12] elgubenis commented on #47
thank you very much.

[2016-07-29 14:12] #47 closed

[2016-07-29 14:22] brandongoode commented on #47
@elgubenis -- thanks for letting me know about the issue.

[2016-08-01 20:24] elgubenis opened #48 "model.toJSON()?"
hi,

im looking for a way to re-use the json of 1 model to create another one, how could that be accomplished right now without using any 3rd party library?

[2016-08-01 20:58] brandongoode commented on #48
I'm not sure I follow.  Do you want to create a new record with the same schema?

If you do, you would set the key values and save the model.  If the key values change it will create a new record.

[2016-08-01 21:01] elgubenis commented on #48
i would like to create a new model, with a different schema, (having some keys in common) using the data/json of the old model,

like Template.get().then(remplate => new File(template).save())

[2016-08-01 21:04] elgubenis commented on #48
i did this,
[code]
and it works

[2016-08-01 21:37] #48 closed

[2016-08-01 21:50] elgubenis opened #49 "Do nested queries work?"
example: Contract.query('users.email').eq('test@domain.tld')

[2016-08-01 22:53] brandongoode commented on #48
Great solution -- thanks for sharing.

[2016-08-01 22:55] brandongoode commented on #49
Unfortunately they do not work.  Can you share your Schema?  There may be another way.

[2016-08-02 15:26] fishcharlie opened #50 "Updating element with blank array"
In my schema I have an array element and currently I'm trying to update that property to a blank array. For some reason in the Amazon Web Services console it just doesn't even have that element.

Right before the update call the body JSON element includes `{array: []}`. Inside the update callback function the new element doesn't include array at all.

In AWS console it's undefined. Instead of upda

[2016-08-03 16:39] brandongoode commented on #50
Depending on how you have the Schema set you could have it write a JSON String

[code]

[2016-08-03 17:13] fishcharlie commented on #50
var ContentSchema = new dynamoose.Schema({
        _id: String,
        title: String,
        user: String,
        array: Array,
    });

Is my example schema. I'm not sure how exactly I would do `JSON.stringify` since I am setting more then just the array.

I also have a Stack Overflow question [here](http://stackoverflow.com/questions/38727869/dynamoose-dynamodb-update-saving-empty-array-as-nu

[2016-08-03 17:15] fishcharlie commented on #50
Also I was able to figure out a temporary fix when after saving the content using the update method at the callback setting `array = []` then running `content.save();` and that seemed to work. That is really a band-aid fix tho since it's having to make two separate save requests.

[2016-08-03 17:34] brandongoode commented on #50
Ok.  I follow now.   The save uses the `JSON.stringify`; however, the update has different logic.  Update will remove the element if it's an empty array.   Below is the code in question.

https://github.com/automategreen/dynamoose/blob/18edb0173090325139e5c5ac5a63765c7d7cff78/lib/Model.js#L396-L397
[code]

[2016-08-03 18:00] fishcharlie commented on #50
Awesome. Sounds like making a fork and removing `|| (Array.isArray(val) && val.length === 0)` from that line and using that fork would work best for my use case. Since my workflow is different then what is assumed by Dynamoose. Thanks again so much for your help!

[2016-08-03 18:00] #50 closed

[2016-08-03 18:15] brandongoode commented on #50
If you wanted to make the functionality configurable, I would be happy to merge a PR.

[2016-08-08 16:09] fishcharlie opened #52 "DynamoDB keeping sockets open/keepAlive"
I submitted [this question](http://stackoverflow.com/questions/38413328/amazon-web-services-dynamodb-requests-slow) on Stack Overflow a bit ago trying to figure out why my requests were going so slow.

Someone suggested to set `keepAlive: true` option when setting up the DB/connection.

Does Dynamoose provide an option for this or a way to set it?

[2016-08-08 17:29] brandongoode commented on #52
The AWS connection can be configured directly.

[code]

[2016-08-08 17:36] brandongoode commented on #52
Another performance impact can be caused by initializing the schema.  In my production environments, I use the following:

[code]

This prevents dynamoose from validating the table.

[2016-08-08 17:46] fishcharlie commented on #52
Great thanks so much. Will look into those and do some performance tests and hopefully it improves!

[2016-08-08 17:46] #52 closed

[2016-08-08 17:50] brandongoode commented on #52
Any time.  Let me know how the testing goes.

[2016-08-16 22:22] reselbob opened #53 "Can one query a virtual attribute?"
For example, can I run a query against, `isExpired`?

[code]

[2016-08-17 01:50] brandongoode commented on #53
Sorry, you cannot.

You would need to write a query or scan.  You could create a `findExpired` for the Model

[code]

[2016-08-17 05:05] reselbob commented on #53
Thank you!

[2016-08-17 05:05] #53 closed

[2016-08-17 05:15] reselbob opened #54 "Is is possible to override model.delete()?"
I am hoping to do something like the following:

[code]
the call I want to make is as follows:

[code]

But, when I do, it does not seem to bite.

[2016-08-17 12:50] brandongoode commented on #54
You would need to overwrite `Challenge.prototype.delete`

Something like this may work (not tested):

[code]

[2016-08-17 13:59] reselbob commented on #54
Thank you!

[2016-08-17 13:59] #54 closed

[2016-08-17 14:22] reselbob commented on #54
I tested it. Seems good.

[2016-08-18 04:17] craigsketchley opened #55 "Boolean type maps to String?"
Hey,

Just wondering what I'm missing, how come you're mapping Boolean types to String in DynamoDB? I thought DynamoDB supported a Boolean type?

[2016-08-18 04:19] #32 closed

[2016-08-18 13:04] brandongoode commented on #55
Dynamoose predates support for Boolean types in DynamoDB.   I've been thinking about adding a option to toggle the behavior.  I do not want to change the current default behavior as it would break the existing deployments.

[2016-08-18 18:00] reselbob opened #56 "Does dynamoose support the notion of beforeSave and afterSave events?"
I want to be able to support an attribute that describes the over all state of a Model instance just before it is saved, as shown below. Tell me please, does dynamoose support beforeSave and afterSave events/methods.... if not, might you point me in a direction where I can make this happen. Thanks in advance!

[code]

[2016-08-18 18:21] brandongoode commented on #56
Nothing exist for the use case you have.  You can have set/get function per attribute in the schema definition, but the function does not have the model as this.

set: function
Adds a setter function that will be used to transform the value before writing to the DB.

get: function
Adds a getter function that will be used to transform the value return from the DB.

[2016-08-18 18:33] reselbob commented on #56
So, is I were to do the `set()` as below, would `set()` be called whenever the model was saved?

[code]

[2016-08-18 18:36] brandongoode commented on #56
It would be called, but you can't reference the model from within the function.  `this.dob` and `this.gender` would be undefined.

[2016-08-22 00:33] fishcharlie opened #57 "Model Unique"
So in MongoDB and Mongoose it automatically has a section for id. Doesn't seem like Dynamoose/DynamoDB has an option for that. So far I've been creating a random string every time I save a new record that is the ID.

One of the problems with that is if the ID ever overlaps with another ID then that is a problem. Is there a way to set that to be `unique: true`? According to the documentation there

[2016-08-22 01:59] brandongoode commented on #57
Here's what i do for my IDs:

[code]

[2016-08-22 02:00] fishcharlie commented on #57
So what would happen if by some random chance it generated the same id for multiple records?

[2016-08-22 02:54] brandongoode commented on #57
That depends on what command you use.  If you use `.save` or `.put` it will overwrite the existing record.  If you use `.create` it will error because the table key will be duplicated.

You can also call `.save` with the option `{overwrite: false}`.  This is what `.create` does by default.

[2016-08-22 17:31] codestorm1 opened #58 "Need some help with indexing"
I have a table whose schema is shown below.
I need to be able to look up a score item by gameId and userId, to update a user's score.
I also need to be able to look up items by score to fetch items in score order, to show a leaderboard.

I've tried different index/hashKey/rangeKey combinations, but haven't been able to get both queries to work.

Thanks in advance,

Bryan

var schema = new Schema({

[2016-08-22 18:04] brandongoode commented on #58
First I would flip the hashKey and rangeKey.  I would also have score be a local index (I'm assuming the top score query would be based on a gameId)

**Disclamer** I have not tested this and there are probably typos

[code]

[2016-08-22 20:28] codestorm1 commented on #58
That did the trick, thanks very much!

[2016-08-22 20:28] #58 closed

[2016-08-23 07:08] davidhouweling opened #59 "Example on querying Date field"
Could you provide an example of how to perform a query on an established date field? This is what I have so far, but it errors out with the exception `A value provided cannot be converted into a number stack: ValidationException: A value provided cannot be converted into a number`.

Originally I tried passing just the `Date` object which didn't work, and as reading the docs go, it mentions that yo

[2016-08-23 17:16] brandongoode commented on #59
`Date.now` is a function.  You need to use `Date.now()`.

You can use the `between` query.   Or you can use `.filter` to limit the results.

[2016-08-24 00:07] davidhouweling commented on #59
Sorry, i tried to dumb it down a bit by abstracting the fact I was using `moment.js`. With the below though, it just hangs. `exec` callback never gets fired.

One thing to also note is that I have not yet put anything in the table. Do you think that could also be a problem?

[code]

[2016-08-24 01:06] brandongoode commented on #59
That looks correct.  Can you share your Schema?

[2016-08-24 01:11] davidhouweling commented on #59
[code]

[2016-08-24 11:36] brandongoode commented on #59
The issue is the query requires you to use the `.eq` for the hash key.  For you example, you should use `.scan`.    Sorry - I should have noticed this quicker.

Also, the you don't need to call `.valueOf`.  You can just pass the moment objects.

[2016-08-25 07:20] davidhouweling commented on #59
I think better error handling might be more appropriate for those scenarios, instead of it just hanging? Thanks for the assistance though.

[2016-08-29 07:01] #59 closed

[2016-08-29 17:59] brandongoode commented on #59
Sorry, missed your earlier reply.

Completely agree about the error handling.  That's what took me so long to notice.  I would have expected a `QueryError` to be thrown.

[code]

[2016-09-01 20:41] reselbob opened #60 "Building a query dynamically?"
I want to build a search query dynamically using Dynamoose that depends on the parameters sent to me.

for example, if I am passed `startDate` only, I want can do

[code]

But if by chance I get `status`, of course I can build the query:

[code]

But say I have some conditions where I may or may not be passed a parameter, `scoutMaster`.

Is there a way I can dynamically append the `and` clause con

[2016-09-01 23:50] reselbob commented on #60
Might I have to use a conditional expression?

[2016-09-02 00:02] reselbob commented on #60
What, I can build the query dynamically this way:
[code]

by constructing the query object dynamically?

[2016-09-02 00:42] reselbob commented on #60
Dynamic query object construction seems to be a viable approach.
[code]

However, I am at a loss as to how do date comparisons. Seems the query object attributes for `le`, `ge` and such only support numbers.

[2016-09-02 11:50] brandongoode commented on #60
The best way to build a dynamic query (or scan) is to use the query (or scan) object.   In this case you man need to use `.scan`.  Query expect a `.eq` after the range key for the table or index.

[code]

[2016-09-02 14:53] reselbob commented on #60
Thank you!

[2016-09-02 16:57] reselbob commented on #60
Also, this is probably tangential, but I still have this problem. When I execute this:
[code]
I get this error:

_**A value provided cannot be converted into a number**_

Seems that the `ge` operator does not like dates. If I am correct, is there a work around?

If am in error, what do I need to differently?

Thanks in advance.

[2016-09-02 19:12] brandongoode commented on #60
The error is not correct.  This issue is related to the fact that a query requires an `eq` for the hash key.

This needs to be corrected as several other have had the same issue. #59

[2016-09-02 19:14] brandongoode opened #61 "Fix query error message when missing EQ"
The error message that is reported when a query is missing the `.eq` for the hash key is incorrect.
See #60 and #59.

[2016-09-02 19:15] #49 closed

[2016-09-02 19:16] #36 closed

[2016-09-02 19:17] #38 closed

[2016-09-02 19:24] brandongoode commented on #41
First, sorry for not replying earlier.  I somehow overlooked this issue.

I don't know much about mongoDB geo queries, but you may be able to accomplish the same thing with DynamoDB maps.

[2016-09-02 19:24] #44 closed

[2016-09-02 19:25] #57 closed

[2016-09-02 19:25] #56 closed

[2016-09-05 16:42] zkhalapyan opened #62 "Integrate with Joi?"
Implementing custom validation functions is tedious — having integration with [Joi](https://github.com/hapijs/joi) would let us delegate some of the heavy validation logic to another module.

You can see example setup in Vogels: https://github.com/ryanfitz/vogels#define-a-model

Is this something people would be interested in?

[2016-09-06 12:47] brandongoode commented on #62
Sounds like a great idea.  We may be able quickly make it work with the current `validate` options.

Something like (untested):

[code]

[2016-09-08 17:47] reselbob opened #63 "Problem supporting multiple where clauses"
Hi:

I have a Dynamoose statement that looks like this:

[code]

When `startKey` is `undefined` the `.between` filter is not respected. All `entries` are returned.

When I eliminate the `.between` filter, like so:

[code]

The query behaves as expected.

When I overwrite the startKey like so:

[code]

I get the following error which is very long and listed below. I must be doing something very wro

[2016-09-08 21:34] brandongoode commented on #63
Looks like another case where the error messages need to be improved.

`.startAt` required the `LastEvaluatedKey` from the `.exec` response. It isn't used with `.where`.

Here's a working example from some of my code:

[code]

[2016-09-09 05:02] reselbob commented on #63
Thank you!

[2016-09-09 16:22] reselbob commented on #63
Also, does `query` support the example you illustrated above?

[2016-09-10 01:19] brandongoode commented on #63
More or less.  You would use `.filter` in place of `.where` and you would need a `.eq`  for the hash key.

[2016-09-12 04:52] fishcharlie opened #64 "DynamoDB Local HTTPS Error"
I keep getting the following error when trying to run DynamoDB locally. Looks like the tests Dynamoose run just fine and run DynamoDB locally as well. So I'm not sure why it would be giving me this error here. Any ideas?

[code]

[2016-09-12 05:00] #64 closed

[2016-09-12 17:48] reselbob commented on #63
Help?

Back to getting the MultipleValidationError

Here is the startKey: `{"userId":{"S":"8ecf8d68-b759-4952-86f0-abda8d369c66"},"entryDateTime":{"N":"1473529538162"},"entryId":{"S":"9a96996a-5391-408a-bdb0-563d34da3939"}}`
Here is the code
[code]

When I run without a startKey, all is well. Help>

[2016-09-13 01:38] brandongoode commented on #63
That's odd.  It looks correct.

Is the `MultipleValidationError` the exact same as before: `InvalidParameterType: Expected params.ExclusiveStartKey to be a map`

[2016-09-13 04:58] reselbob commented on #63
Here is the error dump:

Error querying entries for userId: df9b559a-47cc-4b5d-ba6d-49c6de1cc7ee, error: MultipleValidationErrors: There were 297 validation errors:
* InvalidParameterType: Expected params.ExclusiveStartKey to be a map
* InvalidParameterType: Expected params.ExclusiveStartKey['0'] to be a structure
* UnexpectedParameter: Unexpected key '0' found in params.ExclusiveStartKey['0']
* I

[2016-09-13 10:16] brandongoode commented on #63
The error looks like the start key may be wrapped in an array.

Could you run the code with the environment variable `DEBUG=dynamoose:query`?

Look for the message "DynamoDB Query: ..."

[2016-09-13 16:13] reselbob commented on #63
Here is the debug dump

[startKey-debug-01.txt](https://github.com/automategreen/dynamoose/files/470267/startKey-debug-01.txt)

[2016-09-13 16:19] brandongoode commented on #63
I see the issue. The startKey must be a object, but you're passing in a JSON String.  Replace `startKey` in a `JSON.parse(startKey)` and it should work.

Here's the key being passed in as JSON.

Tue, 13 Sep 2016 16:11:23 GMT dynamoose:query DynamoDB Query: {"TableName":"ChallengeEntry","KeyConditions":{"userId":{"AttributeValueList":[{"S":"1788195d-431f-4ddc-9cfe-256f4763bd7b"}],"ComparisonOperato

[2016-09-13 17:12] reselbob opened #65 "How to query a property in a map?"
Hi:

I have a model with  a map, like so:

[code]

Tell me please, would my WHERE clause be as follows:

[code]

[2016-09-13 18:27] reselbob commented on #63
Yep, that works!

[2016-09-13 19:58] brandongoode commented on #65
Sorry, that will not work.  DynamoDB does not support ScanFilters for "attributes of type List or Map".

Dynamoose would have to be updated to make use of the new FilterExpression.

[2016-09-13 23:47] reselbob commented on #65
Guess it's an opportunity to make a contribution

[2016-09-14 12:03] brandongoode commented on #65
That would be great. I'll be glad to help if you have any questions.

[2016-09-16 18:23] reselbob opened #66 "Deploying new and modified indexes without having to delete and restore tables?"
Hi:

It seems that whenever I add a new index to a model, or modify an index, I get errors in the console that say, to paraphrase, "Index not in table".

Thus, I nuke the table from AWS and start over.

This is OK for DEV and TEST, but won't do in PRODUCTION.

Tell me please what is the best practice for adding/modifying indexes in Dynamoose models that allow for deployment on existing tables in A

[2016-09-17 20:22] brandongoode commented on #66
Originally DynamoDB didn't let you add indexes, but the ability to add indexes has existed for 18 months now.  I really need to go back and add the logic (just short on time).  I have an open issues to add this: #11.

For now, you can go into the DynamoDB console and add the index manually.

[2016-09-18 01:13] reselbob commented on #66
Thank you!

[2016-09-22 14:08] Shalimov opened #67 "[Question] Is there ability to use some sort of join?"
Right now, I have to provide relation between stored records and I would like to use some OOB mechanism to join appropriate records, so my question is:
Is there ability to do it via existed API?

[2016-09-22 16:54] James-Firth opened #68 "Validation on query/get?"
I'm using the `.get` and `.query` functions to find data in my db.

If I pass a value that fails the validation for that Model/Schema the `get` throws an error (uncaught by the `catch` in the Promise) and crashes my server.

Why is it that the error is thrown in such a way the Promise doesn't catch it? Or is there a better way for me to be handling this?

My current solution is to wrap those looku

[2016-09-25 11:55] brandongoode commented on #67
There is no built-in method to accomplish this.  You could use the `set` function to transform an object to its key before saving and then use the `get` function to retrieve the object from the key.

[2016-09-25 11:57] brandongoode commented on #68
Sounds like a bug, I'll try to duplicate it.  Can you provide the code that causes the crash and the attribute schema validation?

[2016-09-25 12:18] brandongoode commented on #68
I'm pretty sure I know where the issue is.  I'll try to get a fix in this week.

[2016-09-25 21:59] James-Firth commented on #68
Sure here's a summary of the spots in my code that seem to be causing issues and awesome! Glad you have an idea of where to look.

I've got a user schema that contains a v4 UUID that uses a regex to validate it's a proper UUID
[code]
I set the model named `User` and whenever I did `User.get({ id: userID });` where `userID` is *not* a v4 UUID it would throw an error so I had to put it in a try/catc

[2016-09-26 12:03] Shalimov opened #69 "[Question] How do I get latest element by createdDate field?"
Is there an optimal way how to get latest element by date?
Cuz get all records from table seems not really good.

[2016-09-26 12:20] brandongoode commented on #69
My approaches is to use the date as a range key then use `queryOne()` with `descending()` to get the latest.  Here's and example from my code:

[code]

[2016-09-26 12:29] Shalimov commented on #69
Thanks for your prompt reply) It is really helpful!)

[2016-09-26 14:56] Shalimov commented on #69
One more question to clarify:
How to set rangeKey for timestamp createAt or updateAt, cuz in schema config I use timestamp option

[2016-09-26 15:02] brandongoode commented on #69
Good point -- I don't think you can using the timestamp option.

You'll have to manually define the two attributes.

[code]

[2016-09-26 16:28] Shalimov commented on #69
Thx again, it is good. What do you think about the following: So right now I have records in table without indexes on (createAt, updateAt), are the some issues after I change the scheme to provide indexes? Does dynamodb apply indexes automatically for existed records?

[2016-09-26 16:38] brandongoode commented on #69
That's a limitation of the local indexes. Per Amazon "Local secondary indexes are created at the same time that you create a table. You cannot add a local secondary index to an existing table, nor can you delete any local secondary indexes that currently exist."

You can create a global index manually (i.e. dynamoose can't create it after the table is created) and have the createAt field be the ra

[2016-09-27 05:39] zaun opened #70 "Access to other values in validate function"
I have a model that includes two attributes:

[code]

What I would like to do is is add a validate function to the `value` attribute that would be something like this:

[code]

Is such a thing possible?

[2016-09-27 11:34] Shalimov commented on #69
Do I need to use ```.and``` when use several conditions in filter,
and what type of data should I use in filter for timestamps (Date or  simple Timestamp(Number))

[code]

[2016-09-29 12:34] arulsiva opened #71 "how to create password?"
var Schema = dynamoose.Schema;
const authTypes = ['facebook', 'google'];
var UserSchema = new Schema({
  _id: String,
  email: {
    type: String,
    hashKey: true
  },
  name:String,
  hashedPassword: String,
  provider: String,
  role: String,
  salt: String
});

UserSchema
   .path('hashedPassword')
.validate(function(hashedPassword) {
 if(authTypes.indexOf(this.provider) !== -1) {
  return re

[2016-09-30 14:13] brandongoode commented on #70
First  - sorry for the slow response.

Today, it is not possible.  The validate function does not have a reference to the current model as the model is not fully built when validate is called.

[2016-09-30 14:30] brandongoode commented on #71
Sorry for the slow response.

Are you looking to just validate the password or generate one?

To validate it you would add a validate function to the `hashedPassword` attribute:

[code]

If you want to generate a the hash from a password, you could use a virtual attribute:

[code]

[2016-10-05 20:47] frankbolviken opened #72 "dynamoose.local() does not work"
Hi,

When adding the dynamoose.local() config, it still connects to AWS dynamodb instance.

What am I missing?

F

[2016-10-05 21:56] #72 closed

[2016-10-05 21:57] frankbolviken commented on #72
Silly me was not issuing dynamoose.local() in the correct place.

[2016-10-09 16:30] jottinger commented on #11
brandon, if I understand the issue, basically what needs to happen is this:

* on model initialization, get the metadata from dynamo
* if the dynamo metadata doesn't match the model (and the model is set to.. 'create,' I guess?)...
  * if index exists, delete it
  * create index with model metadata

Would that be an accurate summary of what needs to happen?

[2016-10-10 00:17] brandongoode commented on #11
@jottinger Yes that's the idea.  Does this mean you're thinking of creating a PR?

[2016-10-10 01:50] jottinger commented on #11
I'm just now getting into Dynamoose - my plan is to do so, but I'm just now
dipping my toes in.

On Sun, Oct 9, 2016 at 8:17 PM, Brandon Goode <notifications@github.com>
wrote:

[2016-10-10 11:59] brandongoode commented on #11
Cool.  It's a change I've been meaning to make for a while, but haven't had the time.

[2016-10-11 16:56] jottinger commented on #11
brandon: what's the nature of the GSIs such that they're not being managed properly? I assume it's not as simple as adding an `index:true` to the schema...

[2016-10-11 17:20] brandongoode commented on #11
@jottinger  I'm not 100% sure I understand the question.  The issue is when you add `index` after the table was created.  Dynamoose will compare the schema against the table & indexes in DynamoDB and if they do no match will throw an error.   It should be possible to modify the global indexes on DynamoDB to match the schema.

[2016-10-11 17:27] jottinger commented on #11
Okay. What I did was create a table ("Song") with no indexes... save data into it. Then I created another file with the same schema, except with a few columns with `index:true`, saving data into THAT. I had no problems with it.

Does the problem only occur on AWS deployments? Do local dynamo installations not have the problem?

[2016-10-11 17:33] jottinger commented on #11
And it looks like that's the case: local dynamo deployment is different than remote in terms of functionality. Gee, thanks, AWS. :)

[2016-10-13 20:30] James-Firth commented on #68
Hey @brandongoode just wondering if you'd had a chance to work on this at all?

[2016-10-15 20:37] brandongoode commented on #68
Thanks for the reminder -- I'll work on the fix now.

[2016-10-15 20:48] #68 closed

[2016-10-15 20:50] James-Firth commented on #68
Awesome thanks! Glad it was a quick fix :)

[2016-10-18 14:10] jottinger opened #74 "Convert to ESLint"
JSHint is no longer actively maintained, while ESLint is - and IMO, ESLint is a lot nicer to work with in any event. Not a high priority issue.

[2016-10-24 11:52] brandongoode commented on #74
I'm cool with the switch.  Looks like you have a branch with the changes already.

[2016-10-24 13:10] #11 closed

[2016-10-25 16:27] jpinkster opened #77 "[Question] Typescript Support"
Has anyone created a typings file for this project yet? I thought I saw one but cannot find it.

[2016-10-25 16:55] brandongoode commented on #77
I do not know of one.  If you find (or create one) I would be glad to link to it.

[2016-11-15 03:16] Hunrik opened #79 "Input collection contains duplicate"
I`m trying to update a record but I keep getting this error:

[code]

My code is:
[code]

I have no idea what the _p2  is. I tried the `.save()` method too, but it gave a similar error about duplicates

**Update:**
Ok, so I solved the problem.
The p2 is the price field. And the problem is that I`m trying to save an already existing value into the Number Set field. And what I did not realise was th

[2016-11-15 10:41] #79 closed

[2016-11-23 05:01] rvaidya commented on #77
@jpinkster Did you ever find those definitions?  Since dynamoose uses plain javascript objects for save and get, it seems like it's the best mapper out there to use with Typescript for strongly typed models.

[2016-11-27 13:11] levarne opened #80 "I would like to query passing an object in this way, like mongoose."
**I currently have this:**
`dynamoose.query('accountId').eq('123456789890').where('created').between('2016-12-24',` `'2016-12-24').exec()`

**I want to do this:**
 `query = {`
            `'accountId': {`
                    `'eq': query['id']`
          `  },`
           ` 'created': {`
                    `'between': [query['startDate'], query['endDate']]`
        `    }`
        `}`
 `dynamoose

[2016-11-29 13:10] jerometea opened #81 "Projection on primary key"
Hello,

I have an user table and the primary key is the username. I want to query on the primary key and project only the firstname and the lastname. But when i do the query on the username Dynamoose retrieves all the attributes.

**The user schema :**

var userSchema = new Schema({
	username : {
		type : String,
		hasKey : true,
		index: {
			global:true,
			name:'firstname-index',
			project:['f

[2016-11-30 19:10] rvaidya commented on #77
@brandongoode I've been working on my own version of typings, would you want to incorporate them into the repo or would you prefer them to be in DefinitelyTyped?

I don't think they're correct yet so I'd be reluctant to publish them to DefinitelyTyped.

[2016-11-30 19:14] rvaidya opened #82 "Support for Promises for functions with callbacks"
It would be useful to add support for Promises for the functions with callbacks (ie. query.exec, scan.exec, etc)

[2016-12-01 08:35] JohanWillfred opened #83 "Boolean field default value"
I have a schema like this
`new Schema({
        id: {
            type: String,
            hashKey: true
        },
        code: {
            type: String,
            trim: true,
            required: true
        },
        currency: {
            type: String,
            trim: true
        },
        deleted: {
            type: Boolean,
            default: false
        }
    },
    {

[2016-12-01 14:29] brandongoode commented on #80
@levarne - You can use an object, but it's not well documented. You have to define what the hash and range keys are in the object.

It would look something like this:

[code]

Sorry for the slow response.

[2016-12-01 15:57] brandongoode commented on #81
The reason you receiving all attributes is because 'username' is the hash key.  Dynamoose defaults to using the main table.

Here's where the logic is default to the main table:
https://github.com/automategreen/dynamoose/blob/951cc453a04b7316dbd273aaccfaeac797d9b792/lib/Query.js#L80

[2016-12-01 16:01] brandongoode commented on #82
It does.

Here's an example:

[code]

[2016-12-01 16:05] brandongoode commented on #83
You are correct.  It will be stored in DynamoDB as a string.  Dynamoose will convert it back to a boolean when it loads the value.

Dynmoose predates DynamoDB's support for booleans.  I've been meeting to add a flag that would allow you to configure if the attribute used a native Boolean or was converted to a String.

[2016-12-01 16:18] brandongoode commented on #77
@rvaidya & @jpinkster

I'm not overly familiar with Typescript (understand the basics, but I've never used it).  So I'm not sure I know where the best place to have the typings.  I don't mind them being within this repo or linking to an external repo.  My concern about them being within dynamoose is the ongoing support.

What are your thoughts?

[2016-12-01 16:36] jpinkster commented on #77
Well you have 2 options:

1. Create a repo under your account and then register them with typings (https://github.com/typings/registry: follow readme)

2. Fork https://github.com/DefinitelyTyped/DefinitelyTyped and create a PR to push them into here

I would do option 1 because then you get the credit and have full control

[2016-12-01 18:15] jerometea commented on #81
So is it possible to project just some attributes when I use the hash key ?

I may be wrong but "project" seems to not work.

In my DynamoDB Web Console I have this table :

Primary Key                                   2 GSI
username      | email | provider | firstname | lastname | password

By using the AWS Console I created 2 GSI on the firstname attribute :
- the 1st GSI projects all the attri

[2016-12-01 18:45] JohanWillfred commented on #83
@brandongoode Thanks for your response)

[2016-12-01 18:49] brandongoode commented on #81
Thanks for all the info. Sounds like a bug.  I'll run a few test myself.

[2016-12-01 19:57] jerometea commented on #81
Can you keep me informed when it will ok, thank you!

[2016-12-01 20:04] rvaidya commented on #77
Putting it up on DefinitelyTyped would require some cleanup and testing since they've got quality control for submissions, but that's probably the best way since others can contribute to it independently of the package itself.

I've created a Gist with the definition here, it's still missing stuff and I haven't been able to test Query/Scan yet.

https://gist.github.com/rvaidya/27017a6495fedc27282e

[2016-12-01 20:08] rvaidya commented on #82
Oh cool, I'll need to reflect that in the typescript definition

[2016-12-01 20:08] #82 closed

[2016-12-01 23:14] josiekre commented on #71
I'm trying to follow this example, but am getting an error: "Required value missing: hashedPassword"

    UserSchema.virtual('password').set(function(password) {
      var user = this;
      bcrypt.hash(password, 10, function(err, hash) {
        if (err) {
          return callback(err);
        }
        user.hashedPassword = hash;
      });
    });

Any idea why?

[2016-12-02 01:40] brandongoode commented on #71
I think it is the fact the set function doesn't wait for the `bcrypt.hash` to return.  It expects the set function to be synchronous.

Instead of a virtual you may want to use a static.

Here is more or less  what I do for my user model:

[code]

[2016-12-02 04:03] josiekre commented on #71
That's a good thought. I tried a version of your method to no avail. I went back to the original, and found a sync version:

    UserSchema.virtual('password').set(function(password) {
      this.hashedPassword = bcrypt.hashSync(password, 10);
    });

Still doesn't work. "Required value missing: hashedPassword" I'll keep hacking away. Let me know if you have any more thoughts.

[2016-12-02 13:51] brandongoode commented on #71
There may be an issue with the order virtuals setter are applied.  Still looking into that.

I know my method will work if you want to give that a try in the meantime.

[2016-12-02 18:20] josiekre commented on #71
Thanks. I've got it working with a simple static method.

    // Hash password
    User.hash = function(password) {
      return bcrypt.hashSync(password, 10);
    };

    // To create a user:
    var userData = {
      email: req.body.registerEmail.toLowerCase(),
      password: User.hash(req.body.registerPassword)
    };

    // Use schema's `create` method to insert document into database
    U

[2016-12-06 09:06] levarne commented on #80
wow thanks alot.

[2016-12-08 22:02] aloof-ruf opened #84 "Model.update() does not update 'updateAt' attribute."
I noticed that calling `SomeModel.update(...)` does not actually update the `updateAt` attribute created when you specify `timestamps: true` in a schema. For example:

**apple.js** (define our schema)
[code]

**index.js** (perform database operations)
[code]

Now, when I call `aws dynamodb scan --table-name Apple --endpoint-url http://localhost:8000` I receive:
[code]

Notice how the `updatedAt` a

[2016-12-08 22:19] aloof-ruf opened #85 "Model.update does not create 'required' fields, create 'createAt' or create 'updateAt' timestamps."
`Model.update()` works well when the desired item already exists in the database, but does not do the following when the item does not exist:

1. create any attributes set as 'required' (nor generate defaults)
2. create 'createdAt' or 'updatedAt' attributes/timestamps

For example:

**apple.js** (define schema)
[code]

**index.js** (perform database operations)
[code]

Then, the result when I run:

[2016-12-09 07:00] shineli1984 opened #86 "Use the same hash key on table in GSI"
https://github.com/automategreen/dynamoose/blob/master/lib/Query.js#L80
prevents from using the same hash key on table in a GSI.

Is there any work around for this?

[2016-12-16 03:13] shengt commented on #64
Got the same error here. How do you fix it?

[2016-12-16 12:54] brandongoode opened #87 "Help Needed - Collaborator"
If anyone is interested in helping support this repo, please let me know.  I need help answering questions, fixing issues and improving the documentation.

[2016-12-16 12:55] brandongoode commented on #86
Not today (PR welcome) -- Sorry for the slow response.

[2016-12-16 13:01] brandongoode commented on #85
Sorry for the slow response and thanks for all the detailed info. I'll look into fixing this as soon a can.

If someone want's to try to beat me to it, a PR would be welcome.

[2016-12-16 13:03] brandongoode commented on #84
Same root issue as #85.  We'll track it with that issue. Thanks.

[2016-12-16 14:12] brandongoode commented on #84
Reopening -- #85 will require some additional options that are different than just making sure updateAt is updated.

[2016-12-19 23:18] aloof-ruf commented on #85
I'd love to make a PR for it, but I'm stuck on one thing.

Off the top of my head, I can't think of any other way to enforce `required` than by passing defaults/previous values of required attributes with each update. However, if the required attribute is large enough this could make updates cost more (ie, use up more write units).

I'll use my 'apple schema' as an example. When I perform the 'hon

[2016-12-20 02:40] brandongoode commented on #85
That was the same thing I've been debating.  The nice thing about the update is the ability just to send the attributes that are updated.  Just sending the updates saves me on some of my projects. I don't want to lose that aspect of the update.

What I started thinking about doing was creating an option (schema or system) that would allow you to have an update fail if the key didn't exist.  Then y

[2016-12-20 16:47] aloof-ruf commented on #85
Okay, I've given this some thought and I think our options are:

1. Perform the updated by 'shimming-in' the required parts as I described (could cost users more, doing nasty things behind the scenes, but don't lose functionality)
2. 'Demote' the `required` attribute to something like `requiredOnCreate` that explicitly tells the user what's going on (not the best though, as the 'required' feature

[2016-12-20 19:42] aloof-ruf commented on #86
I have a suggestion for this issue. What if `index` accepted both an object defining the GSI/LSI or an array specifying multiple GSIs/LSIs on that particular attribute?

It could look something like this:

[code]

Default names could be appended with their position in the array, resulting in names like `attrNameGlobalIndex0`.

@shineli1984 @brandongoode what do you two think about this solution. I

[2016-12-20 21:57] brandongoode commented on #86
I like it.

We would also need a way to identify the index to use for a query.   What about `query.using(indexName)`?  The default would be the first index or the main table if the attribute is the table key.

[2016-12-20 22:13] brandongoode commented on #85
I agree.  A combination of 2 & 3 with the default behavior being the current behavior (at least for now - to prevent breaking existing code).

For the 'fail-on-update-create', we may be able to use the ConditionExpression to keep it from creating. This would not require any additional read/write units.  It would be the reverse logic of the `overwrite = false`  used in `.create`.

Option name ideas

[2016-12-20 22:59] aloof-ruf commented on #86
Alright, I'm moving on that PR right now. I'll use your `query.using(indexName)` idea as well.

[2016-12-22 20:26] joshuadutton commented on #85
I've been working with @aloof-ruf on this, and I would like to propose a 4th option:

DynamoDB `UpdateItem` is more flexible than `PutItem` and it also will create an item if it doesn't exist. I would like to change all the create, save, and put logic to use `UpdateItem` and use DynamoDB's `if_not_exists` function on each attribute that has a default value that is not provided. That way we will co

[2016-12-22 20:29] joshuadutton commented on #85
Documentation for `UpdateItem` with details on `if_not_exists`:

http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateItem.html

http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.Modifying.html

[2016-12-23 15:51] brandongoode commented on #85
`UpdateItem` and `PutItem` behave differently.  `PutItem` replaces the whole data structure, so if you remove attributes or add them, they are 100% in sync.  The `PutItem` logic aligns nicely with the create, save, and put actions.  This could be done with `UpdateItem` but would require you to have all the manual adds and removes in the update expression.

That being said, I've meant to move to us

[2016-12-29 08:13] jongnam opened #90 "Parallel Scan?"
my DynamoDB table has 10k+ items, and the scan() takes time. Meanwhile, DynamoDB supports parallel scan.

http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/QueryAndScan.html#QueryAndScanParallelScan
http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Scan.html

Does Dynamoose have plan to support it?

[2016-12-29 13:25] brandongoode commented on #90
I didn't have plans to add it, but now I do. No time comment yet.

I'm thinking something like `scan.pareallel(numOfSegments)`  and the results would be merged back into a single array and the `lastKey` would be an array that could be passed to `scan.startAt(lastKey)`.

What are your thoughts on how it should work?

[2016-12-30 18:10] jongnam commented on #90
Thank you Brandon.

Yes I am with your idea, and let me give few thoughts. I imagine a new method such as `parallelScan(numOfSegments)`. And under the hood, it executes `scan()` with additional parameters `segmentIndex`, and `numOfSegments`. The individual scan operation would behave the same as existing scan, including the `lastKey` behavior.  In the end, the `parallelScan()` would return the sin

[2016-12-30 18:28] jongnam opened #91 "batchPut with UnprocessedItems"
Can dynamoose automatically retry `batchPut` until it does not have any`UnprocessedItems`? This feature will let an app simply call `batchPut()` and presume it will retry put operations until every data is being saved.

After the call of dynamoose's `model.batchPut()`, it returns `UnprocessedItems` along with the data itself. the `UnprocessedItems` are the data that DynamoDB could not save due to

[2016-12-30 20:42] joshuadutton commented on #85
Thanks for the explanation. I didn't realize that `PutItem` does a replace if the object exists. Given that, I agree that create, save, and put actions should remain the same. Since you already check that all required fields are there before calling `PutItem`, the only advantage I see of using conditional expressions would be to have a conditional create that would only create an object if it does

[2016-12-31 03:41] mikeyjett opened #92 "Reference alternate tables depending on DEPLOYMENT_STAGE Label: enhancement"
Intended for use with Lambda.  Setting a GLOBAL changes the name of the table being referenced:

[code]

[2016-12-31 12:23] brandongoode commented on #92
Would using the prefix option work?

[code]

[2016-12-31 12:42] brandongoode opened #93 "New feature: scan.all()"
Add support for scan to recusivly scan while `lastKey` exists.

[code]

`delay` is the time between recursive scans.  Default: 1sec

`max` is the maximum number of recursive scans. Default: 0 - unlimited

[2016-12-31 12:43] brandongoode commented on #90
Sounds good.  I've opened a second issue, #93, to track scanning all items.

[2016-12-31 13:45] brandongoode commented on #91
I agree.

Need to be careful not to loop on valid failures.

I'm thinking of adding three options for the batch operations:  `retry`, `retryCount` and `initialDelay`.

`retry` if true would retry any UnprocessedItems. Default: false -- preserve current behavior
`retryCount` would limit how many time it attempts write the data. Default: 10
`initialDelay` would  be the first delay in milliseconds fo

[2016-12-31 13:47] #45 closed

[2016-12-31 14:17] #60 closed

[2016-12-31 14:18] #41 closed

[2016-12-31 14:20] #62 closed

[2016-12-31 14:21] brandongoode commented on #83
Closing will track under #55

[2016-12-31 14:21] #83 closed

[2016-12-31 14:24] #71 closed

[2016-12-31 14:25] #69 closed

[2016-12-31 14:28] #22 closed

[2016-12-31 14:30] brandongoode commented on #74
Tracking in PR #76

[2016-12-31 14:30] #74 closed

[2016-12-31 14:35] brandongoode commented on #84
Closed by #88

[2016-12-31 14:35] #84 closed

[2016-12-31 14:37] brandongoode commented on #85
Sounds like a good plan.  Looking forward to your PR.

[2016-12-31 14:39] #80 closed

[2016-12-31 14:39] #67 closed

[2016-12-31 14:40] #66 closed

[2016-12-31 14:44] #63 closed

[2016-12-31 19:46] mikeyjett commented on #92
Yeah, I think that will work fine.  Just hadn't seen that piece of code in `Dynamoose.prototype.model`.

Thanks!

[2017-01-01 23:24] #92 closed

[2017-01-03 06:34] breath103 commented on #77
is there anyone working on this? i'm building this now so it would be great if there anyone i can work with!

[2017-01-03 20:10] jongnam commented on #91
Glad to hear from you so quickly! Also would be great if this enhancement be applied to the `batchDelete()` as well.

[2017-01-04 00:48] breath103 commented on #77
which is i ended up making it hahha https://gist.github.com/breath103/24d19be98724bf3c88a5907f4d65dca6
i'm not gonna do further work now, but for anyone who need this here it is

[2017-01-06 23:54] reselbob opened #94 "Does Dynamoose do anything with local caching?"
Interested to know.

[2017-01-07 00:11] brandongoode commented on #94
Nothing to date.  There have been some conversations about caching with Redis or Memcached.  I think @benjcooley had done some work on this at one point in time (#21).

[2017-01-16 22:34] reselbob opened #97 "Does dynamoose support decimal values (float) ?"
If so, what is the data type called.

[2017-01-17 01:40] brandongoode commented on #97
Yep.  The `Number` type supports float.

[2017-01-17 11:25] brandongoode opened #99 "Add 'map' and 'list' type do documentation"

[2017-01-17 20:51] alejodaraio opened #100 "dynamoose in @types"
Do you will create the definition for typescirpt ?

[2017-01-18 18:43] strygin opened #102 "Automatic pagination/aggregation for Query and Scan"
I'm going to implement automatic paginated request wrapper built-in in Query and Scan, because of DynamoDB chuck's size limit of 1Mb. Even if you just need to get a `count` of matching rows (without returning any other data), Query and Scan cannot return correct results in a single request if it goes thru more 1MB of data (keys or rows) on its side for analyzing. For example `count` will be unaggr

[2017-01-18 18:51] strygin commented on #90
I will implement this. Probably this week.

[2017-01-18 18:53] strygin commented on #93
Why do we need delay? ;-\

[2017-01-18 19:02] strygin commented on #77
Cool, thanks! I need this. Can it be added to repo? We can't keep on Gist :)

[2017-01-18 19:06] strygin commented on #102
If you wonder which `count` I'm talking about, checkout this PR: #101

[2017-01-18 19:09] strygin commented on #100
Not in the repo yet: #77

[2017-01-18 20:05] brandongoode commented on #93
The thought behind the delay is to allow the request to be throttled.

[2017-01-18 20:11] brandongoode commented on #90
Cool thanks

[2017-01-18 20:12] brandongoode commented on #100
Closing -- tracked in #77

[2017-01-18 20:12] #100 closed

[2017-01-19 02:49] breath103 commented on #77
honestly best would be just re-write dynamoose in typescript (which i think really good idea) @strygin how do you feel like about that?

[2017-01-19 17:36] strygin commented on #77
I wouldn't do that, too much low-level code in dynamoose, it's practically a driver. I'd prefer native ES6-sugaring, getting rid of outdated stuff like `util.inherits()`...
Probably `d.ts` for IDE convenience is enough.

[2017-01-19 17:49] ngosala opened #103 "Regex support for map"
is there a regex support for map ? something like

attrib1: {
  type:'map',
  map: {
    "REGEX": { // should match arbitary keys
        type: 'list',
        list:[
        A: {type:String},
        B: {type: String}
       ]
    }
 }
}

should match

attrib1{
  "hello": [
    {
    "A": "123",
    "B": "abc"
    }
   ],
  "hi": [
    {
    "A": "456",
    "B": "xyz"
    }
   ]
}

[2017-01-19 18:46] brandongoode commented on #103
A while back @benjcooley had done some work on it and sent PR #21.  I overlooked it (entirely my fault), and it never got merged.  Now it needs some work to resolve the conflicts with newer changes.  The problem is finding the time to resolve the conflicts.

[2017-01-19 19:00] ngosala commented on #103
Ahh... yes I just saw the PR #21. I will be watching this space for updates. Thanks for quick reply.

[2017-01-20 01:30] breath103 commented on #77
hm.. that make sense, but also if you consider all the things we could do with typescript template class i feel like it's still considerable.
but anyway that's a HUGE work haha. i'm using dynamoose + typescript on production already, so i'll let you know after submitting that to @types.

[2017-01-30 01:16] treyhuffine commented on #87
I'm transitioning from other databases to DynamoDB / dynamoose. I'm not sure if I'm invested enough or experienced enough with the technology yet to become a collaborator, but I would be happy to submit PR's as much as I can until that point. I'm a huge fan of the package.

[2017-01-31 21:06] reselbob opened #104 "Help? Query bafflement"
Hi:

I am constructing a query:

[code]
In the table I can see **83** records according to userId and activityType defined. Yet, as I run the query, only **50** records come back, consistently

Here are the values for the variables:

`sKey = null`
`options.userId = '0444142e-8631-4443-8e84-bdc7c56719ad'`
`lim = 100`
`sDate = 'Wed Jan 31 2007 12:54:43 GMT-0800 (PST)'`
`eDate = 'Sun Jan 31 2027 12:5

[2017-02-01 14:46] brandongoode commented on #104
Amazon limits the query results to 1MB regardless of the limit. Depending on your data size it could be that 50 items are 1MB.  Check the results to see if there is a `lastKey`.  If there is, you'll need to make the same query with `.startAt(lastKey)`.

https://github.com/automategreen/dynamoose#querylimitlimit

[2017-02-01 14:48] brandongoode commented on #87
@treyhuffine - That would be awesome!

[2017-02-01 15:18] #97 closed

[2017-02-01 15:18] #94 closed

[2017-02-01 15:20] brandongoode commented on #102
I overlooked this.  That would be great.  Let me know if you need any help.

[2017-02-01 15:20] #103 closed

[2017-02-01 15:35] reselbob commented on #104
The data return is quite small. Would it be helpful to post the data here?

[2017-02-01 15:42] brandongoode commented on #104
I wonder if it could be the dates.  Are you using date strings or the `Date` object?

If you could share the data, that would be great.

[2017-02-01 15:43] brandongoode commented on #104
Also the schema would help.

[2017-02-01 16:00] reselbob commented on #104
[entry.txt](https://github.com/automategreen/dynamoose/files/745375/entry.txt)

[2017-02-01 16:01] reselbob commented on #104
The byte size of the return is : 392
info: { message: 'Responding 200 for getEntries',
  result: '{"lastKey":{"id":{"S":"d1d1e929-f89d-4a6e-be4d-17fe4a62f40f"}},"items":[{"id":"9f7f2b07-7641-4b61-90e8-d7796f03334e","entryDateTime":"2017-02-01T15:57:24.320Z","userId":"7848949a-aceb-41a8-8103-ffe100e6b287","clientName":"DEV","clientKey":"2","messageId":"e39a3155-8171-4747-98bb-d3b959e82d48","userNam

[2017-02-01 16:02] reselbob commented on #104
Does this help?

[2017-02-01 16:22] brandongoode commented on #104
So the 1MB is based on the number of items queried before the filters are applied.  Since you are using `.filter` the data may be hitting the 1MB limit.   Since `entryDateTime` is the range key, you could use `.where` instead of `.filter`.  `.where` is before the 1MB limit and `.filter` is after.

[2017-02-01 16:25] reselbob commented on #104
ok, let me try where

[2017-02-01 16:26] reselbob commented on #104
Like so:

[code]

[2017-02-01 16:26] brandongoode commented on #104
Yep

[2017-02-01 16:28] reselbob commented on #104
No cigar:

AssertionError: expected 4 to equal 20

[2017-02-01 16:28] reselbob commented on #104
let me take off the date clauses and see what happens

[2017-02-01 16:31] reselbob commented on #104
Also, I need to point out, I am working using the local dynamodb

[2017-02-01 16:32] brandongoode commented on #104
went from 1 to 4 -- progress ;-)

Try setting userId to null and leaving the dates.

[2017-02-01 16:33] brandongoode commented on #104
The user is another filter that may be causing the 1MB limit.

[2017-02-01 16:39] reselbob commented on #104
if (!options.activityType) {
        scan = Entry.scan('userId').eq(options.userId).limit(lim)
          .where('entryDateTime')
          .between(sDate, eDate);
      } else {
        scan = Entry.scan('quantityType').eq(options.activityType).limit(lim)
          .where('entryDateTime')
          .between(sDate, eDate)
         .and()
          //.filter('userId').eq(options.userId);
      }

No

[2017-02-01 16:41] reselbob commented on #104
nope:

AssertionError: expected 9 to equal 20

Let me go up against DynamoDB on AWS

[2017-02-01 16:45] brandongoode commented on #104
I missed the fact that you changed to scan.  Can you go back to the `.query` with the `.where`.  Scan treats `.where` and `.filter` as the same (i.e. as `.filter`).

[2017-02-01 16:47] brandongoode commented on #104
Something like:

[code]

[2017-02-01 17:00] reselbob commented on #104
Using the above, nope
AssertionError: expected 8 to equal 20

Let me bind to AWS

[2017-02-01 20:58] reselbob commented on #104
Yeah, I am replicating the bad behavior directly against AWS. Question: Do I need to be using an and() clause in this:

[code]

[2017-02-01 21:22] reselbob commented on #104
I have some more data:

I have a table with 57 eligible records.

This test, which is a configuration of the query:

[code]
returns the expected number of records
Number of items 57

When I drop  `const queryCount = 90`
Number of items 54

When I drop to 80,
Number of items 49

When I drop to 70,
Number of items 41

But, when I up to 200,
Number of items 57

maybe this helps.

[2017-02-01 21:34] reselbob commented on #104
But!!! When I turn off the activityType parameter, all is well, like so:

[code]

[2017-02-01 21:38] brandongoode commented on #104
Here's how the limit option works with filters which explains the behavior:

http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/QueryAndScan.html#ScanQueryLimit

[2017-02-01 22:59] reselbob commented on #104
Thank you for you kind patience with me.

[2017-02-02 01:06] brandongoode commented on #104
Glad to help

@strygin is already working on it, #102

[2017-02-07 04:56] remmons opened #106 "Querying Secondary Indexes"
I might be missing something in the docs but is there a way to specify a secondary index to query?

[2017-02-07 11:22] brandongoode commented on #106
Dynamoose will search for the secondary index based on the attributes in the `.query(hast_key)` and `.where(range_key)` statements.

[2017-02-07 11:30] #55 closed

[2017-02-08 02:17] remmons commented on #106
Cool. That all is making sense. When looking at Scan.js, it looks like all the secondary index hashKey logic is missing and it will only do full table scans. Testing it out by hard coding the IndexName attribute in the scanReq object gets the result I want but I'm not sure the best way to add this functionality into your library. Any suggestions?

[2017-02-08 02:20] brandongoode commented on #106
Scan always looks at the full table and doesn't use the indexes at all.

[2017-02-08 11:16] kcjl519 opened #107 "Does Dynamoose support saving non attribute data?"
I have defined some basic attributes of the model, for example.

[code]

But when I do something like

[code]

info, never gets saved. How can I save data that's not defined in the schema?

[2017-02-08 12:03] brandongoode commented on #107
Dynamoose doesn't support saving data not defined in the schema.

It could be done but would required modifying `Schema.prototype.toDynamo` and `Schema.prototype.parseDynamo` to handled all properties and apply a default `Object` attribute to the properties that don't match.

Something like the changes below. If you have time to test and document, I would be happy to merge a PR.

[code]

[2017-02-09 04:53] remmons commented on #106
Your right. Sorry about that, still a bit new to dynamo.

[2017-02-09 04:53] #106 closed

[2017-02-09 18:41] strygin commented on #102
Will work on it this weekend

[2017-02-11 06:47] kcjl519 commented on #107
Thanks! I'll have a look later next week.

[2017-02-11 11:35] mizchi commented on #77
FYI, I wrote flowtype definition file for myself (only for promise API). https://gist.github.com/mizchi/bc865dc0e68af33a96810116e1d529b1

[2017-02-17 02:47] craigsketchley opened #110 "MAX_BATCH_READ_SIZE?"
I'm getting some errors when I exceed the maximum item count from `batchGet` requests. I see you're chunking `batchPut` requests but not `batchGet`. I noticed you have `MAX_BATCH_READ_SIZE` [commented out](https://github.com/automategreen/dynamoose/blob/master/lib/Model.js#L10).

Anything I can help with?

[2017-02-17 11:44] brandongoode commented on #110
Ya, looks like an oversight.  If you would like to work on "chunking" the request, a PR would be great! Could you add a couple test cases for the "chunking" behavior too?

[2017-02-19 06:44] dpkshrma commented on #72
@frankbolviken I am facing the same issue, where did you specify `dynamoose.local()`? I tried putting it in the server script and models, neither worked. And, it's not showing any errors either.

[2017-02-20 04:01] kcjl519 commented on #107
I'm assuming I'd also have to modify Model.js Operations.getUpdateExpression ?

[2017-02-20 04:36] kcjl519 commented on #107
Upon some testing, it seems this involves a bigger change.

[2017-02-20 12:57] brandongoode commented on #107
I don't think any changes are needed in the `getUpdateExpression` function, but changes are needed to the 3 looks that inject the changes in to the `operations` object.

The `putAttr`, `deleteAttr`, and `addAttr` all need to have the same check applied as in `toDynamo` above:

[code]

If you push your the changes to your fork, I would be happy to look them over and see if i can spot the issue.

[2017-02-22 15:51] dpkshrma opened #111 "Incorrect number of docs retrieved on table scan with filter"
**How to replicate the issue?**
*Model name*: Vehicles
*Table count*: 50 rows where first 4 aren't registered
*Query*:
[code]

Should the number of docs returned not be 10 here since 46 docs match the filter? Please let me know if I am doing something wrong here.

[2017-02-23 02:41] breath103 opened #112 ""createRequired" option on Model.Update doesn't work"
such as
[code]
ignored. i can't really find any code that using that flag on repo also. is it a mistake? maybe simply not implemented yet but has docs already

[2017-02-24 21:56] Mojo90 opened #113 "AWS Error: One of the required keys was not given a value."
I have a weird error regarding getting data with dynamoose.
What I do is using [objectmodel](https://github.com/sylvainpolletvillard/ObjectModel) to define/validate my models. I can put/save elements via dynamoose to dynamodb but when trying to get an object an error occurs.

[code]

So I have a test file to first put data to dynamodb and after that get that data. I can see the data is written to

[2017-03-03 13:17] AlexanderFillbrunn opened #114 "ExclusiveStartKey not converted into DynamoDB Format in Query and Scan"
When using an exclusive start key in a scan or query, Dynamoose does not seem to convert this into a proper DynamoDB-Object. The code below produces an error.
[code]
This gives the following error:
[code]
Changing the exclusive start key manually to correspond to the format required by DynamoDB fixes the problem:
[code]
I think it would be consistent to not require the user to format the start key

[2017-03-03 20:00] AlexanderFillbrunn opened #115 "Query problem when hash key name is "hash""
I am currently writing some unit tests using a test table where the hash key name is "hash". Using a query like below fails because the query constructor looks for the property hash expecting something like `{hash: {<hashkeyname>: 'somevalue'} }`:
[code]
Is there any way this could be fixed so that "hash" does not become kind of a reserved word? If that's not possible, this behaviour should probab

[2017-03-07 20:59] brandongoode opened #116 "TTL Support"
Wow -- Finally TTL support.  No more date based tables to delete!

https://aws.amazon.com/about-aws/whats-new/2017/02/amazon-dynamodb-now-supports-automatic-item-expiration-with-time-to-live-ttl

 I'm thinking either as an option on the Schema that creates an attribute named `expires` (similar to the timestamp option).  The expires would be a modified `Date` type, because it needs to stored second

[2017-03-07 21:02] brandongoode commented on #115
Sorry for the slow response.

Yes you can fix it by using the following query format:

[code]

[2017-03-07 21:12] brandongoode commented on #114
Ya, I agree. (Again sorry for the slow response)

The startAt was designed to work with the `lastKey` returned in the scan and query results.  Both really should be converted.  Something to look at cleaning up in a future release.

[2017-03-07 21:41] brandongoode commented on #111
limit is applied before filters.   It's just how DynamoDB works.  It scans the first 10 items then filters the matches.

[2017-03-07 21:43] brandongoode commented on #112
createRequired is not in a npm published version of dynomoose.  It will be released in the next version.  For now, you'll need to reference the repo directly:

[code]

[2017-03-07 21:48] brandongoode commented on #113
You need to pass the key (`id`) as the first attribute in your object model or apply the hashKey option.

[2017-03-07 23:09] Mojo90 commented on #113
So I think it is hashKey as my Definition file for DynamoDB contains `"KeySchema": [{
    "AttributeName": "id",
    "KeyType": "HASH"
  }]`.

If I pass key `id` as first attribute
[code]
it does not work with the same error as described above.

[2017-03-08 00:11] brandongoode commented on #113
Can you change the order for the `constructor.definition`? When it walks
the schema the first attribute is used as the hash key.

On Tue, Mar 7, 2017, 6:09 PM Moritz Pfeiffer (Mo) <notifications@github.com>
wrote:

[2017-03-08 08:55] Mojo90 commented on #113
I did as described in my last comment. This is what I used as scheme for model, and there id is the first attribute, isn't it? And then as mentioned it fails with the same error.

What I did there quick and dirty for testing:
[code]

[2017-03-08 08:56] AlexanderFillbrunn commented on #116
As I understand it, the attribute that determines when the record expires is just a normal attribute, meaning it should also support validation, indexes, etc. Maybe something like this should also be allowed:
new Schema({ myexpiryfield: {type: Number, rangeKey: true}, ...}, { throughput: 5, expires: {attr: 'myexpiryfield'}});
Additionally I would suggest that if a new entry is created and the "exp

[2017-03-08 12:03] brandongoode commented on #116
Good ideas.  I agree.   We should support manually defined expires attributes.  The default ttl should only be applied if the attribute is null or undefined.

[2017-03-23 02:17] rex opened #119 "[Feature Request] Ability to provide specify format or generation of timestamps (ISO8601, specifically)"
I looked through all the code involved in timestamps and the issues involving timestamps and was a little shocked to learn that there is no way to specify the format of the timestamps. The schema defaults to `Date.now` but it would be absolutely incredible if we could specify something different, like `Date.toISOString`. A long string of numbers has no at-a-glance value whatsoever unless you are a

[2017-03-23 09:42] PaingSoe93 opened #120 "Need Help for Query"
This is simple json array.
[code]
I want to retrieve only id and name where type="Medium" like this
[code]
In aws-sdk i can use projectionExpression like this
[code]
**How could i retrieve by using dynamoose? Please Help me.**

[2017-03-24 01:05] brandongoode commented on #120
I assume type is a global index, since your using a query.

[code]

[2017-03-24 01:46] brandongoode commented on #119
First, sorry for the slow response (and sorry about the poor readme).

I think the ability to configure how dates are written and read would be a great add.  I originally chose the timestamp for its compactness and ease of sorting.  But it is a real pain to have to convert it every time I want to check something manually (I know I've done it a lot).

I'll look into the option to configure it, but

[2017-03-24 14:36] rex commented on #119
Hello @brandongoode! No worries on either count, I got things worked out and ended up just reading through the pertinent parts of the code (which, incidentally, is a pretty great substitute for a readme).

In a stroke of luck on my end, the current use case I (and my team) have for dynamoose ended up just being a single field `updatedAt`, which I defined as follows:

[code]

And I simply set that

[2017-03-24 15:01] brandongoode commented on #119
Glad you got it working.  I didn't take it as combative (we've all been there).

[2017-04-03 10:37] PaingSoe93 commented on #120
[code]

I want to query in zip code. In MongoDB i can use MulitKey Index  like {"address.zip" : "100036"} and aws-sdk can also use like this.  How could i use this operation in dynamoose? Thanks.

[2017-04-03 11:50] brandongoode commented on #120
I don't think dynamoose will support query nested attributes.  It *should* but that functionality has never been added.  PR anyone?

[2017-04-04 23:10] sdrioux commented on #107
Bump. Ran into this same issue.  This would be an awesome addition.

[2017-04-05 15:39] sdrioux opened #122 "Readme Update"
The Readme indicates that the index keyword of an attribute can be a boolean or object, however, it looks like it can also be an array of objects, if you want to add more than one index to a particular attribute.

[2017-04-11 03:19] vangorra opened #124 "Generated attributes: Pass current model to attribute default function."
It would be awesome if we could specify a default function for an attribute and get the current instance of the model as a parameter. That would allow us to populate the secondary index in a better way.
[code]

Seems passing the model here would do the trick:
https://github.com/automategreen/dynamoose/blob/108fcaa91fc1785dc4d3623231f6b7a16f877dc4/lib/Attribute.js#L280

More generically however, ha

[2017-04-11 14:44] PaingSoe93 commented on #120
Hi. Can i use ref in dynamoose? For Example

This is Category Schema

[code]

I want to refer category id to product schema like this

[code]
Does dynamoose support refer to other table? Thanks.

[2017-04-11 16:40] troyswanson commented on #87
I'm interested in helping but I'm still pretty new to DynamoDB in general.

Added myself as a Watcher so that I can get insight into everything that's going on.

[2017-04-12 01:21] brandongoode commented on #87
@troyswanson -- That's great.  Thanks for the support.

[2017-04-12 01:23] brandongoode commented on #122
Sorry for the slow response -- thanks for the input -- the Readme needs a lot of help.

[2017-04-12 01:41] brandongoode commented on #124
Passing the model sounds like a great idea.  Want to submit it as a PR?

Not sure I follow the forceDefault.  Would this overwrite the value with the default, regardless of if there's currently a value?

Also, default would not be in the index.  It should be applied directly to the attribute:
[code]

[2017-04-12 01:44] brandongoode commented on #120
No.  You would have to do it manually.

[2017-04-12 15:47] troyswanson commented on #120
I think it would be cool to have a "generated attribute" type, where the data in the attribute can be populated by the response of a function, similarly to how the validation routine works.

It would have to be smart enough to wait for a callback or process a promise, though.

@PaingSoe93 I did a similar thing to what you're wanting, but it had to be done in the logic of the controller, not the mo

[2017-04-12 15:51] troyswanson commented on #124
Is the idea for the generated value be stored in the DynamoDB table?

[2017-04-12 16:07] troyswanson opened #126 "Create project website (w/ documentation)"
A lot of projects are using the Wiki section of the GitHub repo for documentation lately.

Given the power of this project and the potential reach it has, something that has more features (sidebars, links, etc) might make sense to take advantage of.

[2017-04-12 17:08] PaingSoe93 commented on #120
Thanks @troyswanson. I'll try.

[2017-04-12 17:56] vangorra commented on #124
@troyswanson  Yes.

[2017-04-12 18:39] troyswanson commented on #124
Would it be possible for something like https://github.com/automategreen/dynamoose/issues/120#issuecomment-293621445 to be included with this?

[2017-04-12 18:54] vangorra commented on #124
That looks out of scope of what I'm trying to accomplish here.

[2017-04-12 18:55] brandongoode commented on #126
I've been wanting to move the documentation to its own GitHub Pages site, but just haven't had the time. I'll try over the next week, I'll go ahead and set up the structure and copy the current README.

[2017-04-12 19:18] troyswanson commented on #124
Fair enough.

[2017-04-13 06:48] yusufar commented on #102
@brandongoode when [this](https://github.com/automategreen/dynamoose/pull/101) is going to come as a new version?

[2017-04-13 11:39] brandongoode commented on #102
@yusufar No ETA on the release date.  I have to find some time to clean up some loose ends and then will be working on the next release.

For now, you can pull directly from the repo.  I try to make sure master is always stable, but I would recommend referencing a commit to make sure changes don't impact you.

[code]

[2017-04-13 23:39] cbarrese commented on #86
@aloof-ruf have you done any work on this?  We are looking for the same functionality, and we can  help contribute if you have already made some progress but don't have the time to finish it.

[2017-04-14 11:14] #107 closed

[2017-04-14 12:03] #77 closed

[2017-04-14 13:01] vangorra opened #129 "Project cleanups"
I browsing the code, I noticed a few things about the project structure and setup that could use some attention. I'd like to submit a PR with the fixes but would like to discuss the changed before making a bunch of changes.

- [x] Use explicit module versions in package.json - Currently it is using * as dependency versions. This make for totally unreliable builds as we don't know which versions of

[2017-04-14 14:33] brandongoode commented on #129
I agree completely.   The code needs some TLC.  My one request is to use separate PR for each main update.  It makes reviewing and merging a lot easier.

I switched some of my other repos to istanbul and coveralls.io.  However, I think codecov.io is a better option.

I've used both gulp and grunt, but am no expert with either.  So, if gulp works better with `dynamodb-local`, I'm cool with the chan

[2017-04-14 14:35] troyswanson commented on #129
Throwing my 🎩 into the 💍...

I'm happy to help with the documentation upgrades. I'm a (legacy) member of the Jekyll org and I've been doing Jekyll sites for many years now.

[2017-04-14 14:42] vangorra commented on #129
Great, will keep it all as separate PRs.

**CodeCov**
Just setup the account and give them access to this repo. I'll just need the token for the travis build step to upload the coverage files.
I'll also get Istanbul running.

**Documentation**
I was thinking about just being more explicit about return types and such. For example it's not clean if Model.get returns a model, plain object or dynamo r

[2017-04-14 14:46] troyswanson commented on #129
To start with on the documentation, I think we can move detailed usage docs into the GitHub Wiki. The README can be cleaned up to be more focused on quickly setting up dynamoose. Once a good structure for the documentation is set up in the Wiki, we can migrate that into a Jekyll site which will be automatically hosted by GitHub for free.

We can move the discussion around the documentation project

[2017-04-14 14:49] vangorra commented on #126
Woot! Looking forward to this!

[2017-04-14 14:52] brandongoode commented on #129
@troyswanson  -- Thanks, I've got a few Jekyll site but only touch the config ever once in a while.  I seem to have to re-learn it every time.

I agree we'll keep the documenation site updates on #126.

[2017-04-14 14:55] brandongoode commented on #126
I'm good with the two-step approach (README -> Wiki -> Jekyll), but I wouldn't mind going straight to the final jekyll site.

[2017-04-14 15:00] brandongoode commented on #126
So, since I was thinking about this, I decided to go ahead and register a domain.

dynamoose.com is taken so what is everyone's thought about dynamoosejs.com?

[2017-04-14 15:02] troyswanson commented on #126
Make it rain! 💵 💦

[2017-04-14 15:02] vangorra commented on #126
Well put. Make it rain!

[2017-04-14 15:04] brandongoode commented on #126
So is that endorsement of dynamoosejs.com?

[2017-04-14 15:04] troyswanson commented on #126
Yes.

[2017-04-14 15:09] brandongoode commented on #126
Done -- dynamoosejs.com is ours.  I'll work on getting the GitHub Pages setup with it.

[2017-04-14 15:10] vangorra commented on #126
Yep

On Fri, Apr 14, 2017, 8:04 AM Troy Swanson <notifications@github.com> wrote:

[2017-04-14 15:38] brandongoode commented on #126
OK.  http://dynamoosejs.com now points to the GH page.  Now we just need some content.

[2017-04-14 16:38] #86 closed

[2017-04-14 16:51] brandongoode commented on #85
Closed by #96

[2017-04-14 16:51] #85 closed

[2017-04-14 17:07] brandongoode commented on #126
As a placeholder, I just copied the readme over to the docs/index, but that's just temporary.

I wanted to take some time to brainstorm the new layout.

Here's what I'm thinking as a starting point.

Pages/Sections:
Index/Getting started
Configurations
Schemas
Models
Querys
Scans

Another option is to have a single page with a sidebar to sections.  This makes searching for something easier.

As fa

[2017-04-20 17:39] #124 closed

[2017-04-26 06:34] byronmejia commented on #126
Hey. So I've recently started using dynamoose and loving it.

Let me know how I can help out in anyway. Would love to help see this project grow.

[2017-04-26 06:37] byronmejia commented on #126
Also more than happy to help with creating a CI/CD pipeline to create documentation and auto upload to S3.

We use jsdocs at work, but more than happy to hear some better suggestions?

[2017-04-26 18:08] brandongoode commented on #126
@byronmejia -- Thanks offering to help.  I need all the help I can get.

We're in the process of moving the docs over to GitHub Pages.  I'm open to the pipeline option with jsdocs, but not sure how well it would work with GitHub Pages.  Plus, all the jsdoc comments would need to be added to the source.

[2017-04-28 07:50] byronmejia commented on #126
@brandongoode Yeah. Totally get what you mean. A few communities have comments for days in their repos. I personally am on the fence with with comments throughout source.

Depends what direction you'd like to take with that. Advantages of separating all the technical writing from the source code is it allows you to be more in depth without worrying about bloating the source. Also: super friendly f

[2017-04-28 20:14] chrisrijos opened #131 "Dynamoose error on create 'name is undefined'"
I am using version 0.7.0 of Dynamoose, When I invoke the create function from the Dynamoose model the library is returning the following error. I have tried just about everything and cannot seem to be pinpointing what is causing this.

` <pre>TypeError: Cannot read property &#39;name&#39; of undefined
            <br> &nbsp; &nbsp;at NewModel.Model.put (/Users/chrisrijos/SideProjects/aircraft-api/

[2017-05-02 05:09] rspl1006 opened #132 "Sample.js not working for AWS account."
I have run sample.js but it didn't create table and items in dynamodb table of my aws account

[2017-05-02 11:55] brandongoode commented on #132
Make sure your AWS credentials are set properly as environment variables.

AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY, and AWS_DEFAULT_REGION must be set.

[2017-05-02 11:55] brandongoode commented on #131
@chrisrijos Can you share your Schema?

[2017-05-02 11:59] rspl1006 commented on #132
Thanks it's working fine now,
Issue was region was wrong.

Thanks again for your quick reply.

[2017-05-02 12:02] rspl1006 opened #133 "Get all records"
How can I get all records using this component?

var TableNameSchema = new Schema({
  id: {
    type: String,
    KeyType: "HASH"
  },
  field_4: {
    type: String,
    trim: true,
    required: true,KeyType: "RANGE"

  },
  created_at: {
    type: Date,
    default: Date.now
  },
  updated_at: {
    type: Date,
    default: Date.now
  },
  user: {
    type: Schema.ObjectId,
    ref: 'User',

[2017-05-02 12:26] brandongoode commented on #133
Query requires a Key and is only for getting a subset of items.  Use `TableName.scan().exec(...)`

[2017-05-02 12:53] rspl1006 commented on #133
Thanks, it's working fine.
But If I want to scan by user= userID then how can I do using scan function.

[2017-05-02 13:07] rspl1006 commented on #133
TableName.scan('user').contains(req.body.userID).exec(function (err, data) {
});

Using this it's working fine.

Thank you Brandongoode.

[2017-05-02 17:34] chrisrijos commented on #131
`'use strict';

  var AWS = require('aws-sdk');
  var dynamoose = require('dynamoose');
  var chalk = require('chalk');

  var AircraftSchema = dynamoose.Schema({
    aircraftId: {
      type: Number,
      hashKey: true
    },
    model: {
      type: String,
      rangeKey: true,
      index: true,
      required: true
    },
    ownerId: {
      type: String,
      rangeKey: true,
      index:

[2017-05-03 06:56] joawan commented on #131
I experienced a similar thing. Fixed by rtfm, and `var AircraftSchema = new dynamoose.Schema({})`

[2017-05-03 11:36] oprearocks opened #134 "Table name pluralization -- similar to Mongoose"
I've been migrating from MongoDB + Mongoose to DynamoDB and I really appreciate the things this module does. I managed to do an almost seamless migration, with very little modification. One thing I'm missing in dynamoose is the default collection name pluralization Mongoose offered.

As far as most of the AWS DynamoDB training materials, tutorials and articles go, they all suggest using plural for

[2017-05-03 11:38] opreaadrian commented on #134
There is also the option of using the pluralize module on npm -- https://www.npmjs.com/package/pluralize. Looks like it has a decent amount of downloads.

[2017-05-04 19:35] chrisrijos commented on #131
@joawan even leaving a blank schema is still giving me the same problem. The error appers when CRUD functions are invoked from Dynamoose models.

[2017-05-04 20:59] joawan commented on #131
Yes, I had the same thing. It was due not having `new dynamoose.Schema({...})` and looking at the schema you provided, you are also missing `new`.

[2017-05-04 21:11] chrisrijos commented on #131
@joawan you were correct, sorry I overlooked it. Thank you, issue should be closed, this was support related and not an issue.

[2017-05-04 21:11] #131 closed

[2017-05-09 07:52] ajfisher opened #136 "Date querying"
I have the following schema and set up:

[code]

And I've inserted some data into that schema which I can retrieve with a simple:

[code]

I can also query against an email address and return the appropriate result:

[code]

Will return the expected result of a record or nothing.

What I'd like to do is try and query where I get all Customer records that were created after a certain date eg  > `20

[2017-05-09 11:04] brandongoode commented on #136
The issues you're running into are limitations of DynamoDB.

Query requires the exact value (`eq`) for the hashkey of the index.

You'll need to use `.scan`.

For example:

[code]

[2017-05-09 11:11] ajfisher commented on #136
Ahh, ok.

So the difference between query and scan is that query expects to work on
the partition key but scan can operate on other attributes on the record?
(And is slower as it has to look at all records and contents rather than
just those in a partition?)

Related question to this - if I use a local or global secondary index (such
as the index on created date in my example), what's the correct

[2017-05-09 12:45] brandongoode commented on #136
As long as there is only a single index associated with that attribute you don't need to use `using(...)`.  If you have multiple indexes for a single attribute, you would have to use `using(..)`.

[2017-05-09 12:50] brandongoode commented on #134
Sounds like a great addition.  Please make sure it defaults to the current behavior and has an option for pluralizing.  Also, add a couple test cases and document the option in the Readme.

Thanks

[2017-05-09 12:50] #133 closed

[2017-05-09 12:50] #132 closed

[2017-05-09 18:13] lucianopf opened #137 "Implement the populate methods from Mongoose."
# Reason
Since this is heavily inspired at Mongoose I think we should also implement the populate methods inspired by them.

This is their ref: [Official docs](http://mongoosejs.com/docs/populate.html)

Also that feature makes coding way faster without the need of implementing consecutive queries to get the full result.

# Proposal
Since I'm a new contributor I don't understand every aspect of thi

[2017-05-10 01:23] brandongoode commented on #137
Sounds great!

Thanks for breaking the change up into smaller parts.  It makes it much easier to review and merge.

[2017-05-10 02:28] ajfisher commented on #136
Thanks - can you explain that a bit more - I can have multiple indexes for a given attribute?

For example I could have an index that links email address and creation date and then another one that links email address and last updated date and both of these would apply to the email address attribute so I need to specify which one I'm talking about when I am making a query for "newly created record

[2017-05-10 02:31] ajfisher commented on #136
Also - tried reframing my query to a `scan` and that works as expected! Thanks for that.

[2017-05-10 10:47] brandongoode commented on #136
Yes, you're correct.

Here's an example schema from the test cases:  https://github.com/automategreen/dynamoose/blob/408adb1f404b57bf4254bf283a07f04ebad937e6/test/Query.js#L30-L40

And here the test of `.using`:
https://github.com/automategreen/dynamoose/blob/408adb1f404b57bf4254bf283a07f04ebad937e6/test/Query.js#L195

I'm always happy to have PRs for documentation updates. Thanks!

[2017-05-10 11:55] henhal commented on #64
I got the very same issue and it turns out it was my `httpOptions` used to resolve https://github.com/aws/aws-sdk-js/issues/862 that caused the problems. These options set up an HTTPS agent with TLSv1, and as a side-effect apparently disables HTTP.

Details:

This does NOT work (gives the "http not supported" message):

[code]

but this works:

[code]

The sneaky thing was I had the `httpOptions`

[2017-05-11 02:31] ajfisher commented on #136
Thanks for linking that test - that helps clarify this usage for me. Just to ask another question relating to this (index definition appears to cause me a lot of confusion it seems).

Taking this definition here in the first test:

https://github.com/automategreen/dynamoose/blob/408adb1f404b57bf4254bf283a07f04ebad937e6/test/Query.js#L30-L52

Here you've got an index attached to the `ownerId` hash

[2017-05-11 10:01] miguelduarte42 commented on #65
I had the same issue, and resorted to the underlying AWS SDK to make the scan directly:

[code]

[2017-05-11 11:02] brandongoode commented on #136
That's use case is a little redundant, but was just trying to test all possibilities.   It allows for you to query in both directions.

- `.query('ownerId).eq(...)` would return all the dog for an ownerId
- `.query('ownerId').eq(...).where('breed').contains('Terrier')` would return all Terriers for and ownerId
- `.query('breed').eq(...)` would return all dogs of a particular breed
- `.query('breed

[2017-05-12 22:44] gtg092x opened #139 "Publish 0.7.1"
Would it be possible to publish 0.7.1 to npm?

[2017-05-15 08:06] anjnaharsora opened #141 "how to achieve nested filters query?"
Friends.scan({
        or: [
            {and: [{userRef: {eq: {id: param.user}}, friend: {eq: {id: param.friend}}}]},
            {and:[{userRef: {eq: {id: param.friend}}, friend: {eq: {id: param.user}}}]}
        ]
    }
Example.

[2017-05-15 13:09] brandongoode commented on #141
Currently, this isn't supported in Dynamooose.  While DynamoDB does support this logic, it requires the use of a FilterExpression:

http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Scan.html#DDB-Scan-request-FilterExpression

Dynamoose uses the legacy ScanFilter which doesn't support nesting:

http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_Scan.html#DDB-Scan-req

[2017-05-15 14:26] anjnaharsora commented on #141
thanks @brandongoode

[2017-05-15 20:07] fishcharlie commented on #93
@brandongoode Close this issue? 😃 👍

[2017-05-15 20:52] #93 closed

[2017-05-16 01:30] brandongoode commented on #15
closed by #142

[2017-05-16 01:30] #15 closed

[2017-05-18 18:44] opreaadrian commented on #134
Sure thing! I will look into it and add everything you requested.

[2017-05-18 19:15] opreaadrian commented on #134
As far as I can see, Mongoose will drop pluralization in their next breaking change release.
As per https://github.com/Automattic/mongoose/issues/5209 and https://github.com/Automattic/mongoose/issues/1350 they plan on "killing it with fire".
How about we start a discussion and get more people to talk around this.

As far as I'm concerned, I only raised the issue because I was accustomed with the

[2017-05-19 12:58] brandongoode commented on #126
So I've been playing with the website this week and have something halfway presentable.

Let me know what you think.

https://dynamoosejs.com/

[2017-05-19 13:03] brandongoode commented on #139
The next release to be published will be 0.8.  You can use a commit hash for now.

[code]

[2017-05-19 13:12] brandongoode commented on #134
I'm still fine with having it as an option, but don't want it to be the default behavior.

[2017-05-19 14:58] #99 closed

[2017-05-19 15:07] #122 closed

[2017-05-19 15:25] #139 closed

[2017-05-19 15:27] #136 closed

[2017-05-19 15:27] #120 closed

[2017-05-19 20:28] JonathanBristow commented on #116
@brandongoode I'm really looking forward to being able to set TTLs via Dynamoose! Do you have an estimated completion time for 0.8.0?

[2017-05-20 01:30] brandongoode commented on #116
I'm looking forward to it too.  No exact time on the release, but it will be as soon as I have time.  The more help with PRs and such the faster.  There are only a few remaining items.

[2017-05-21 00:05] JonathanBristow opened #143 "Issues using the default option when defining the schema"
Hi,

I'm defining a schema with a uuid property as the hask key. I've also set th default value to be uuid().
 This function returns a a v4 uuid.

The issue I have is that if I call 'new ModelName(object here).save()' the same uuid is used.

I can't seem to get the model to regenerate and call uuid() again.

Could you point me in the right direction please.

Sorry for the lack of detail, I'm writi

[2017-05-21 12:20] #143 closed

[2017-05-22 09:53] opreaadrian commented on #134
That's better. I would have instinctively added it to the default behavior, just like Mongoose. So it will be opt-in rather than opt-out, like in the case of Mongoose.

Then, it will be an option of the `dynamoose#model()` function.

[2017-05-22 11:19] brandongoode commented on #134
Yes, sounds great.  It could also be set with `dynamoose.setDefaults` once and passed to all models.

[2017-05-22 11:24] opreaadrian commented on #134
Thanks for the heads-up. I'll keep that in mind.

On Mon, May 22, 2017 at 2:19 PM, Brandon Goode <notifications@github.com>
wrote:

[2017-05-22 15:59] Ravichandrane commented on #113
Hey I get the same error only in local :(

here is my model :
[code]
& my controller :

[code]

[2017-05-22 18:12] gmadole opened #144 "[Feature Request] AWS X-Ray support"

[2017-05-22 18:40] brandongoode commented on #144
It may work now.

Try this:

[code]

[2017-05-23 15:41] kjprice opened #146 "Create "map" attribute with unknown types"
Similarly to how we are now able to create attributes "on the fly", without having to define them in a schema; it would be nice to be able to create objects "dynamo maps" whose sub-attributes will be automatically computed.

Currently, if I try create a `map` type attribute (which is not already defined in the schema), it gets saved as type "S" and the object gets stringified.

So, assuming we hav

[2017-05-23 22:30] brandongoode commented on #146
Haven't had time to check, but what happens if you set both `saveUnknown` and `useDocumentTypes` to `true`?

[code]

[2017-05-24 11:16] lengk commented on #126
@brandongoode Looks good!

Missing docs on Schema.methods  and Schema.statics?

[2017-05-24 14:58] troyswanson commented on #126
The website looks great! Closing this issue since it looks awesome. Nicely done. 👍

[2017-05-24 14:58] #126 closed

[2017-05-24 23:27] lrcry commented on #141
Hi all

I think it would be a nice idea for now that dynamoose allows raw filter in scan i.e. `Model.scan(filter, options, callback)` where a new option `useRawAwsFilter` could be added, so that we could use what is currently supported in aws-sdk.

[code]

I would like to try to fork one to see how it goes.

Regards

Hans

[2017-05-25 10:55] brandongoode commented on #141
@lrcry That great.  I was thinking about this some over the past week and wanted to share my thoughts.

I don't think the `useRawAwsFilter` flag is needed. We could just assume if the `filterExpression` option is present then it should take priority.  We need to make sure to account for attribute names.  Also, in addition to passing in a filter option, I think having the scan building function too

[2017-05-25 17:10] Ravichandrane opened #150 "How to update without overwrite the item"
Hey,

It's possible to update an item without to overwrite ?
Something like this : https://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.html

[2017-05-25 17:24] Ravichandrane commented on #150
Oh finally I found the solution here : https://dynamoosejs.com/api#modelupdatekey-update-options-callback

[2017-05-25 18:47] kjprice commented on #146
The same thing. A string is created with the stringified JSON.

[2017-05-25 21:05] #150 closed

[2017-05-25 23:48] lrcry commented on #141
@brandongoode  This syntax you suggested seems similar to [this](https://github.com/clarkie/dynogels#scan). BTW I got the one I raised implemented just now.

Just wondering if it is enough for now as I can see that quite a few people need the nested scan.

[2017-05-27 11:27] #116 closed

[2017-05-27 11:48] brandongoode commented on #141
Yes, it is very similar.  A few minor differences around name and value definition.  My goal is to have it align the current implementation of conditions (really just filter expressions) in `.save` - https://dynamoosejs.com/api#modelputoptions-callback--modelsaveoptions-callback.

I try to make sure all query and scans can be build using and object or the helper function.

Please go ahead and subm

[2017-05-27 11:52] brandongoode commented on #146
@kjprice Thanks for trying.

Probably need to create an option at the attribute and schema levels to control the behavior.

[2017-05-29 13:23] piercus opened #151 "Be able to get the table Definition to generate CloudFormation definition from dynamoose schema"
Here is my use case :

I'm using Dynamoose on a AWSLambda function, and now i want to swicth to [serverless](https://serverless.com/framework/docs/providers/aws/guide/resources/) deployment library.

In serverless, we can define the Structure of our table inside `serverless.yml` as a [serverless ressource](https://serverless.com/framework/docs/providers/aws/guide/resources/).

So i want to generat

[2017-05-29 13:26] brandongoode commented on #151
Great idea.

I use lambda and serverless too.  I have taken the lazy approach of running a creation script locally to have dynamoose create a new table.  Then I disable the create for the lambda.

[2017-05-30 21:31] jderose9 commented on #141
@lrcry I'm looking forward to this... thanks for the effort!

[2017-05-30 22:00] jderose9 opened #152 "Nested property validation"
There is not currently any way to describe schema for nested objects or arrays of child objects, correct?

Something like:
[code]

Thanks!

[2017-05-31 06:13] chops318 commented on #137
This will be a great addition to dynamoose. What's the status on populate, if you'd like help, I'd love to try and implement. Thanks for the work!

[2017-05-31 11:16] lucianopf commented on #137
Yay, glad you like the proposal @chops318 ! 😁

Go for it buddy, I'm kindda stuck with a lot of work to be done and I might take longer than expected to finish this feature, so, help is always welcome!! =D

[2017-05-31 12:07] brandongoode commented on #152
It's supported, but you'll need to set `useDocumentTypes` to `true`.  There's no example in the docs (PR anyone?), but here's an example from the tests.

https://github.com/automategreen/dynamoose/blob/92994f17df68cb3a190cb84b7a97706403f841a4/test/Schema.js#L298-L343

[2017-05-31 16:21] troyswanson commented on #137
Would this eliminate the need for nested queries, e.g.:

[code]

/ref https://github.com/automategreen/dynamoose/issues/120#issuecomment-293621445

[2017-05-31 16:33] lucianopf commented on #137
@troyswanson Yeah yeah, definitely!!

My goal is to make:

`Product.get('id').populate('category')`

[2017-05-31 16:34] troyswanson commented on #137
AHH! I love it! Thank you!

[2017-05-31 17:49] chops318 commented on #137
That's my intention aswell. I'm pretty much going to model the API as close to mongoose as possible

[2017-05-31 18:50] jderose9 commented on #152
Awesome, thank you!

[2017-05-31 19:04] brandongoode commented on #137
@chops318 Thanks for offering to help.  I'm looking forward to your PR.

[2017-05-31 21:22] #90 closed

[2017-06-01 01:30] brandongoode commented on #141
@lrcry Do you know when you plan to have this PR ready.  I'm planning to release 0.8 sometime over the next week.  I would like to include this in that release if you think it will be ready.

[2017-06-01 01:31] brandongoode commented on #137
@chops318  Do you know when you plan to have this PR ready.  I'm planning to release 0.8 sometime over the next week.  I would like to include this in that release if you think it will be ready.

[2017-06-01 02:05] brandongoode opened #153 "Release 0.8 Planning"
It's been a while since the last release, so 0.8 will have a lot of updates.

- [x] Finalaize new features for 0.8
- [x] Create change log
- [x] Update depencancies
- [x] Update version and publish

## Change Log Notes (let me know if something is missing)

- useNativeBooleans #55
- saveUnknown #125
- Support for multiple indexes defined on the hashkey attribute of the table
- scan.all() #93 #140

[2017-06-01 03:48] mohamednizar opened #154 "New Attributes not getting update to the table."
I have a schema defined in the model, I added new fields to the schema, but on create or update the values are not getting saved.
[code]
In this schema deletedAt and timestamps are newly added.Find my dynamoss default values.
`dynamoose.setDefaults({ create: true, update: true, waitForActive: true, });`

What is the issue with this ?

[2017-06-01 10:22] brandongoode commented on #154
Are you using the current git repo or npm?  There are several improvements to timestamp updating that in the repo but not in the current version on npm (0.7).

Can you share some code where you're performing the updates to the model?

[2017-06-01 12:09] fishcharlie commented on #153
Just #61, #81, and #91 to go?

[2017-06-01 21:09] jderose9 opened #155 "Attributes are deleted when empty string passed as value even when required: true"
If I set an attribute in a schema to be required, set it to '' in the model, and then call .save(), the save fails due to the field being required (this makes sense to me).

If I pass that key with a value of '' to .update() it will success and delete the attribute from the document. The logic is that if the value is null, undefined, or '' then a delete operation is added to the update expression.

[2017-06-01 23:53] chops318 commented on #137
@brandongoode I will be done sometime this weekend. What do ya'll think about using the [bson module](https://www.npmjs.com/package/bson)  to generate the ObjectIds? Seeing as that is what mongoose uses, I figure we would follow suit.

[2017-06-02 01:26] brandongoode commented on #137
I would prefer not to populate ObjectIds.  With dynamoDB it really a hash/range key pair with the range optional.  There may not even be an ID attribute.  If someone wants to have keys auto-generated, they should use the `default` for the key attributes.

[2017-06-02 05:21] mohamednizar commented on #154
This is working with the schema I created, but this one I updated the schema.I'm using  ` "dynamoose ":"~0.6.0`.

I use to update using this query
[code]

[2017-06-02 06:29] mohamednizar commented on #154
On thing to be concern that the object of the success message contains new attributes.

![responce](https://cloud.githubusercontent.com/assets/8711284/26713516/bcba14f0-478a-11e7-838b-d4fa52a8aba9.png)

But the not saved in the dynamoss and can't query on those new data.

Thanks,
Nizar

[2017-06-02 10:31] brandongoode commented on #155
@jderose9 thanks for reporting the inconsistent behavior.

[2017-06-02 10:36] brandongoode commented on #154
I think the issue with the timestamp is your dynamoose version.  Can you try testing with the latest updates:

[code]

In your example code, I don't see deletedAt being set.

[2017-06-02 10:38] #152 closed

[2017-06-02 10:48] brandongoode commented on #153
@fishcharlie #61, #81, and #91 **may** get dropped from 0.8.  It really depends on if someone implements them before #141 & #137.  I going to try and get 0.8 published in the next week or so.

[2017-06-02 10:54] fishcharlie commented on #153
@brandongoode Looking forward to it. Looks like there is a lot of great features in this update.

[2017-06-02 14:04] lucianopf commented on #137
I agree with you @brandongoode, but we'll still need the `ref` to make possible the simpler version of the populate, don't you think?

Such as `Product.get('id').populate('category')`, cuz the model as defined that the `category` attribute has a model ref to it called `Category`

[2017-06-02 15:04] brandongoode commented on #137
@lucianopf Yes.  `ref` is needed to know which model to use.

[2017-06-04 06:52] asue opened #157 "Model db access methods don't have a catch on the waitForActive() method"
There doesn't seem to be a catch on the waitForActive on an access method, for example line 403 of Model.js when doing a get on a table.  The scenario is that the table does not exist so the waitForActive eventually throws an exception after its timeout, but it never bubbles up since it only has the then.

Suggest catching and rejecting it like
newModel$.table.waitForActive().then(get).catch(defer

[2017-06-04 08:41] lrcry commented on #141
@brandongoode @jderose9 I'm still tackling with some problem over there. Trying to get it in v0.8. Thanks

[2017-06-04 23:57] lrcry commented on #141
[#158](https://github.com/automategreen/dynamoose/pull/158/)

I've opened a PR here. Please feel free to tell me your thoughts.

Cheers ;)

[2017-06-07 11:42] mogwai opened #159 "Recording Update History"
## Summary
I want the version to show the changes that have happened to an entry, saving previous versions in a new row. Or, these oldVersions could be saved in the object itself if there is already a convention that uses the __v or _version field #16.

When compiling the model:

[code]

This would result in the schema having a __v field which specifies

[code]

## Requirements

- Queries to the d

[2017-06-07 13:13] Gregoirevda opened #160 "Query.in() not working as expected"
Knowing that the id is the HASH key, why doesn't this query work?

Model.query('id').in(ids).exec((err, hackEventDays) => {
}

[2017-06-07 13:36] troyswanson commented on #159
This is a cool idea! 👍

IMO, storing the previous version within the same object makes the most sense, in case you are using a unique ID as the hash key.

Maybe you could specify which fields need to be versioned? This can be done in the schema instead of the model creation.

[code]

Thoughts?

[2017-06-07 14:30] lengk commented on #159
Yes but if you do that, will all the fields selected be saved in the history or just what changed?
When querying the database this could increase bandwidth as a database gets older. Is there a way to query dynamo asking for a certain part of the object to not be included:

[code]

Agree with remove of updatedAt in the history field entries.

[2017-06-07 15:08] troyswanson commented on #159
This is a good point, and your method of dealing with that makes the most sense. I don't think what you're asking for is possible, however.

If I understand how throughput works in DynamoDB correctly, doing a `get` on a hash key field will transfer the entire document (indeed all documents that match the hash key) through the pipe. It's for this same reason that storing data in separate documents

[2017-06-08 09:28] Mayhem93 opened #162 "Searching in objects as a string"
So I have a field as *Object* in dynamoose schema (which eventually translates to a json string in dynamoDB) and I tried to scan with a filter after this field like so `Model.scan('objectTypeFieldName').contains('acct').exec()`

I know for sure my DB has items satisfying that filter (I also did the filter on the aws dynamodb dashboard and it's fine).

[2017-06-08 09:38] lengk commented on #159
Separating them like this seems to be the best way. I think that UserData should be User_History. Also I don't see why we can't call UserVersion just user. This means someone using it can easily see which table to look at.

Do you think that the User (UserVersion) table could include the most up to date version of the table. That way you would most of the time only need to query the one table? Als

[2017-06-08 11:14] brandongoode commented on #160
@Gregoirevda You'll need to use `.scan` instead of `.query` for your example.

[2017-06-08 11:18] brandongoode commented on #159
Great ideas and conversation.

One idea that I've been toying with as a major part of v0.9 is adding support for plugins.  I want to be able to support use cases such as this without having to modify the core functionality of dynamoose.

[2017-06-08 11:19] brandongoode commented on #157
Closed by #161

[2017-06-08 11:19] #157 closed

[2017-06-08 11:30] brandongoode commented on #162
That's a limitation of dynamoose.  It's converting `'acct'` into a JSON object. So DynamoDB is searching for `'"acct"'`.   There's a PR under development right now that could be used to address this issue, #158.  Once it is implemented v0.8, the next release, will support the following:

[code]

[2017-06-08 11:32] Mayhem93 commented on #162
@brandongoode Thanks !

[2017-06-08 11:34] brandongoode commented on #137
@chops318 If there is anything I can do to help let me know.

[2017-06-08 11:50] lengk commented on #159
@brandongoode This feature will not be necessary for everyone so probably best left for a plugin?

[2017-06-08 13:45] Gregoirevda commented on #160
Thank you for your response.

Is this part of the documentation still correct then?
https://dynamoosejs.com/api#scaninvalues

[2017-06-09 15:41] kiyonori-matsumoto opened #163 "Convert scan.eq('') to scan.null()"
Hi,
I'm using latest master version of dynamoose. (#be6f662afbe9f4ef55cbf818df2d23d70198a24f)
When I execute following scripts, a typeerror has occurred.
[code]

Please fix this if you can.

[code]

[2017-06-12 18:26] fishcharlie opened #164 "Clone Databases from DynamoDB to DynamoDB Local"
Currently I have a few models/databases setup in Dynamoose. I have a system variable to detect if the system is production or development. If it is development it uses DynamoDB Local, otherwise it uses the production version of DynamoDB.

On my development machine it would be great to have an easy way to clone those DynamoDB production databases to my local DynamoDB databases.

Maybe this is a fea

[2017-06-12 18:44] larrybek opened #165 "Update nested values"
I want to update nested value in my database.
Can anyone suggest best solution for it?

[2017-06-14 10:38] sabreenakp opened #166 "How to sort using scan ?"
is there any option to sort items according to some criteria using scan?

[2017-06-16 11:46] brandongoode commented on #165
The only option using dynamoose today is to get the full attribute, modify the nested value, and then update the entire attribute.

DynamoDB does support setting a nested attribute, but this isn't supported yet: http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Expressions.UpdateExpressions.html#Expressions.UpdateExpressions.SET.AddingNestedMapAttributes

[2017-06-16 11:51] brandongoode commented on #160
Yes, the documentation is correct, but it's referring to a query filter.  All queries require an `eq` with the hash key value.

The documentation isn't very clear about that.  I'll add updating the documentation to the todo list.

[2017-06-16 12:10] brandongoode commented on #163
Attribute values cannot be blank strings in DynamoDB.

Try using the following scan:

[code]

[2017-06-16 12:20] brandongoode commented on #164
Great idea.  It may be best to create a separate utility for this.  You could run a scan and batchPut in a loop.  The challenge will be creating two dynamoose instances for each DB. This may require some changes to dynamoose.

[2017-06-16 12:33] brandongoode commented on #166
DynamoDB doesn't support ordering for scan.  You'll have to order the results after or use query.

[2017-06-16 12:48] brandongoode commented on #61
Closed by #89

[2017-06-16 12:48] #61 closed

[2017-06-19 01:52] brandongoode commented on #141
Closes by #158

[2017-06-19 01:52] #141 closed

[2017-06-19 04:10] lrcry commented on #165
@brandongoode  @larrybek  I think it is a similar issue as the nested scan. Maybe we need to consider to update the whole library to use the document client to fully support nested features.

[2017-06-19 08:42] sabreenakp opened #168 "Add non existing element to array using dynamoose?"
HI,   How to add to an array such that not inserting any  existing element?
Could you please provide an example?

[2017-06-19 11:08] brandongoode commented on #168
You can use `batchPut` with `overwrite` set to false:

https://dynamoosejs.com/api#modelbatchputitems-options-callback

[code]

[2017-06-19 11:16] brandongoode commented on #165
@lrcry I agree.  Let's look at updating it in the 0.9 release.

[2017-06-19 11:18] brandongoode commented on #162
@Mayhem93 Would you mind trying this with the master branch.  #158 has been merged into master.

[2017-06-19 13:38] Mayhem93 commented on #162
@brandongoode Don't think I can very, I'm pretty busy with other stuff and I used a imperfect workaround for this. Will let you know once I get a chance to test.

[2017-06-20 07:01] sabreenakp commented on #168
@brandongoode thanks for the reply!

How to write batchPut inside an update??

this.update({itemId:id, activeFlag:true},{ $PUT: { friends:newFriends } }, function(err,res) {
        if(err) {
            cb(err, res);
        }
        else{
            cb(err, res);
        }
    });

above shown is my query i need to add new friends to friends field in my schema , add non existing new friends to

[2017-06-20 16:20] kiyonori-matsumoto commented on #163
@brandongoode
Thanks for your reviewing.
It works well, so, if I want to compare an attribute to local variables, should I have to check that the local variables is not empty string before I issue a scan query?

[2017-06-23 01:48] fishcharlie commented on #153
@brandongoode Any updates on this?

[2017-06-25 22:49] fishcharlie opened #170 ".scan parse error saveUnknown"
I'm trying to get Dynamoose to scan and return all items without really defining a schema. I don't really want to define a schema because I'm using this code in another application that is a secondary application.

At first I had the following code:

	// define the schema for our model
	var theSchema = new dynamoose.Schema({}, { saveUnknown: true });
	// create the model for projects and expose it

[2017-06-26 13:48] brandongoode commented on #153
@fishcharlie I've had a few high priority things that consumed 100% of my time over the past couple weeks.  I'm going to try to get this done this week.

[2017-06-26 13:56] brandongoode commented on #170
I've never tried that before.  I'll at least need to define the index key as it will check the table for the keys.

Could you create a failing test case and issue a PR with the test case?

[2017-06-26 16:45] fishcharlie commented on #170
@brandongoode I can't seem to reproduce it when building a new test case. I did figure out right before line 428 in Attribute.js console.logging `val` prints an actual result from the database. So for example if I have an item in the table `{"key1":"test"}` `val` in this case = `test` I believe. And in my case `test` starts with `F` so that is why I'm getting that error. Still not totally sure why

[2017-06-26 16:56] fishcharlie commented on #170
Also on line 181 of Schema.js I added a console.log of `dynamoObj[name]` and in that case above results in `{ S: 'test' }`. Then on line 482 of Attribute.js `this.type.name` is = to 'object'. So it's almost like it's trying to parse an object when in reality it's a string.

[2017-06-26 17:35] brandongoode commented on #170
What happens if you set `useDocumentTypes` to `true`?

[code]

[2017-06-26 17:50] fishcharlie commented on #170
@brandongoode Same thing.

    var theSchema = new dynamoose.Schema({_id: String}, { saveUnknown: true, useDocumentTypes: true });

[2017-06-26 18:18] bbqbaron opened #172 "Dynamic Capacity And Automated Updates"
Dynamo seems to recommend, and is increasingly adopting, the notion that table capacity should be dynamic (for instance, they've added [autoscaling](https://aws.amazon.com/blogs/aws/auto-scale-dynamodb-with-dynamic-dynamodb/) recently). Dynamoose seems to treat its throughput settings as non-negotiable: if, for instance, an index already exists but with different capacity, it tries to create a new

[2017-06-27 05:34] lrcry commented on #172
@bbqbaron  Just wondering how it works if we set `create: false` when we define the schema? Will it still create new indices?

[2017-06-27 05:37] lrcry commented on #153
Just wondering if nested scan is with v0.8 as well? #141

[2017-06-27 09:49] lengk opened #173 "Feature Request - Delete Table"
Would it be possible to create a Delete Table method so that an entire table can be deleted from the database?

[code]

[2017-06-27 13:07] bbqbaron commented on #172
It probably won't, but we do want it to create new indices IFF they don't exist--but excluding capacity from the equality check. Since Dynamo is embracing dynamic capacity, having capacity as a fixed quantity in your code base seems like it might be more and more of a problem. That's only my opinion, of course! But, if it doesn't change, we simply won't be able to use Dynamoose to manage our Dynam

[2017-06-28 16:52] troyswanson commented on #173
IMO, this project should be advocating for the use of CloudFormation to manage the existence, absence, and high level properties (eg: throughput, hash keys, etc) of tables in DynamoDB.

I think we're getting to a point where this concept should be decided one way or another, since a similar discussion has emerged in #172 as well.

[2017-06-28 17:02] troyswanson commented on #172
IMO the management of tables shouldn't be handled by Dynamoose, but that's my opinion.

CloudFormation is specifically designed to manage AWS resources -- this project should advocate for the use of that instead (again, IMO).

[2017-06-29 18:06] fishcharlie commented on #170
@brandongoode Any other ideas on this?

[2017-07-02 02:39] fishcharlie commented on #170
So on [this line](https://github.com/automategreen/dynamoose/blob/master/lib/Attribute.js#L428) `transform` seems to be set to `JSON.parse`. `val` = `"Fish"` (since that is the value in the database). `json` = `{S: "Fish"}` and `type` = `"S"` and `attr` is undefined. So it's trying to do `JSON.parse` on `"Fish"` which isn't right at all. That's why it says `SyntaxError: Unexpected token F in JSON

[2017-07-02 04:21] fishcharlie commented on #170
It also looks like [this line](https://github.com/automategreen/dynamoose/blob/92994f17df68cb3a190cb84b7a97706403f841a4/lib/Schema.js#L172) sets all `saveUnknown` attributes to be an Object type, *even* if the data type isn't an Object in the table. @cbarrese any thoughts on this? Looks like you did the pull request and wrote this code for `saveUnknown`. This really shouldn't default to an object,

[2017-07-02 19:42] brandongoode commented on #172
The throughput is only used for the initial creation of the tables. It is expected that the capacity will be variable.

@troyswanson -  I agree CloudFormation is the best way to manage anything in AWS. I would like to figure out a clean way to create one from the schema. See #151.

[2017-07-02 19:45] brandongoode commented on #173
I completely understand the request; however, deleting a table is initially not supported.  I don't want Dynamoose to be accused of deleting someone's table.

As for the CloudFormation, see #151.

[2017-07-02 19:55] brandongoode commented on #170
@fishcharlie -- I agree.

The issue is with the saveUnknown defaulting to an Object for parsing:
https://github.com/automategreen/dynamoose/blob/324c8faa57ed10f752bed008467b5eb5fd979da2/lib/Schema.js#L172

When coverting to a DynamoDB object it checks object's type:
https://github.com/automategreen/dynamoose/blob/324c8faa57ed10f752bed008467b5eb5fd979da2/lib/Schema.js#L142

We should inspect the Dy

[2017-07-02 19:57] fishcharlie commented on #170
@brandongoode So would changing [this line](https://github.com/automategreen/dynamoose/blob/324c8faa57ed10f752bed008467b5eb5fd979da2/lib/Schema.js#L172) from `attr = Attribute.create(this, name, Object);` to `attr = Attribute.create(this, name, typeof model[name]);` fix it, you think? If so I can quickly make a pull request and submit it.

[2017-07-02 19:58] fishcharlie commented on #170
@brandongoode This feature should get corrected before 0.8 if possible. I expected it to be more complicated than just changing what I mentioned above, but maybe not...

[2017-07-02 20:00] brandongoode commented on #170
`model[name]` would be undefined.  We need to look at the `dynamoObj[name]` type.

I agree -- I'll make sure it's in 0.8.

[2017-07-02 20:12] fishcharlie commented on #170
@brandongoode Awesome. Let me know if there is anything I can do to help. Not sure how much I can help out, as I don't really know how we could even start to get that type since it's not really stored anywhere. But really looking forward to this feature!! Will be super helpful in the current project I'm working on. So thank you very much!!!

[2017-07-02 21:03] brandongoode commented on #170
@fishcharlie  Just pushed the changes.  Let me now if that fixes your issue.

[2017-07-02 21:26] fishcharlie commented on #170
@brandongoode Thank you so much!! I’m currently away from my computer. Should be able to test hopefully within the next hour or so. Will let you know!

[2017-07-02 21:46] brandongoode commented on #153
@lrcry  Yes nested scan will be in it -- I'll add it to the change log

[2017-07-02 22:35] fishcharlie commented on #170
@brandongoode Looks like this works to some extent. Now getting `Unexpected token o in JSON at position 1`. I'm using a NPM package to debug using a Electron. I have attached the point that I just debugged right before it threw that error.

<img width="761" alt="screen shot 2017-07-02 at 3 33 08 pm" src="https://user-images.githubusercontent.com/860375/27773982-e7dc9a40-5f3b-11e7-8b81-5106a5be94e2

[2017-07-02 22:44] fishcharlie commented on #170
@brandongoode This was a problem in my database. I had a string `1` (which you might be able to gather from the image above. But this still seems like an edge case Dynamoose should (hopefully) be able to handle.

[2017-07-02 23:07] brandongoode commented on #170
@fishcharlie  - It should handle the number string.  I added one to the test case:
https://github.com/automategreen/dynamoose/blob/master/test/Schema.js#L791

[2017-07-02 23:09] fishcharlie commented on #170
@brandongoode Hmm. No idea why that was causing problems. It's strange it was a JSON error also. But changing it to a number in DynamoDB fixed it. Thanks so much!

[2017-07-02 23:09] #170 closed

[2017-07-02 23:13] brandongoode commented on #170
OK - I think I know what happened.  At some point in time, it gets set as a number in dynamoose.  Because it's a number it looks for the "N" attribute which doesn't exist because it is a string, "S".

[2017-07-02 23:14] fishcharlie commented on #170
@brandongoode Any ideas on how to fix or?

[2017-07-02 23:25] brandongoode commented on #170
For the processing of the unknown attributes to work, all the values for an attribute in the table must be consistent.

I'm assuming some of the values for the attribute were typed as String and some were typed as a Number in DynamoDB.

I'm not really sure how to handle this.

[2017-07-02 23:29] fishcharlie commented on #170
@brandongoode Yeah, everything was a string but one item had it accidentally as a string. I don't know the code base well enough to really advise here. But I'd say it's a really strange edge case (not sure how many databases have this in real world practice, but guessing pretty few).

[2017-07-02 23:30] brandongoode commented on #170
I think I'll leave alone for release 0.8 and see if any other have the same issue.

[2017-07-02 23:31] fishcharlie commented on #170
@brandongoode Now that this is taken care of will 0.8 be released this week then?

[2017-07-03 10:53] #153 closed

[2017-07-03 10:56] brandongoode commented on #17
Tracking in #165

[2017-07-03 10:56] #17 closed

[2017-07-03 10:59] brandongoode commented on #65
This is now supported in v0.8.0 - #141

[2017-07-03 10:59] #65 closed

[2017-07-03 11:08] #102 closed

[2017-07-03 11:08] #104 closed

[2017-07-03 11:10] #111 closed

[2017-07-03 11:10] brandongoode commented on #112
v0.8.0 has been released with this

[2017-07-03 11:10] #112 closed

[2017-07-03 11:12] brandongoode commented on #113
Is this still an issue with v0.8.0?

[2017-07-03 11:14] #115 closed

[2017-07-03 11:21] brandongoode commented on #144
@gmadole Did this work for you?

[2017-07-03 11:22] brandongoode commented on #154
This should now work with v0.8.0

[2017-07-03 11:22] #154 closed

[2017-07-03 11:26] brandongoode commented on #162
release v0.8.0 should now support this

[2017-07-03 11:26] #162 closed

[2017-07-03 11:29] brandongoode commented on #163
@kiyonori-matsumoto  I agree it is redundant. `scan.eq('')` automatically be converted to `scan.null()`.

[2017-07-03 11:32] #166 closed

[2017-07-03 11:33] brandongoode commented on #168
@sabreenakp  - where you able to get this working?

[2017-07-03 11:33] #172 closed

[2017-07-03 11:34] #173 closed

[2017-07-03 12:47] #70 closed

[2017-07-03 12:56] #163 closed

[2017-07-03 13:20] #160 closed

[2017-07-04 09:21] rnowosielski commented on #144
It did work for me.

[2017-07-05 13:46] gmadole commented on #144
@rnowosielski  Sounds promising!

@brandongoode My first attempt a couple months ago didn't work but it's likely because I'm doing something else strange. I haven't gotten back to it since then. I'll retry with a simpler environment.

[2017-07-06 11:43] brandongoode commented on #144
@rnowosielski - Thanks for the confirmation.

[2017-07-06 20:32] sethsamuel opened #177 "Getting model with range key with false-y value fails"
Trying to get a model with range key 0 was failing with the message `Range key required`. The culprit is this line:
https://github.com/automategreen/dynamoose/blob/50ccb8ea8e324bf62469bc32ab2562c3dc3ed894/lib/Model.js#L350

which does a false-y check rather than an actual existence check.

[2017-07-06 20:46] brandongoode commented on #177
@sethsamuel  - Thanks - Want to create a PR?

[2017-07-07 15:56] bbqbaron commented on #172
@brandongoode Sorry for the delay, but although you're right that tables seem to ignore capacity, I think indices don't (see index comparison code [here](https://github.com/automategreen/dynamoose/blob/master/lib/Table.js#L40)). Is this also intended?

[2017-07-09 11:40] #177 closed

[2017-07-09 11:56] #168 closed

[2017-07-16 13:08] ajfisher commented on #151
@brandongoode Have you got an example of how you're doing this? I'm struggling with the right way to set the creds properly and setting whether I should be local or remote...

As I have several models I thought I'd have a generic config module:

https://github.com/ajfisher/tourney-tools/blob/master/api/config/index.js

Then have each of the models call into that when getting loaded in order to try

[2017-07-19 06:23] Xavier-IV opened #180 "Model.get nested value"
I'm using PassportJS that is using this schema:

    local: {
      email: String,
      password: String
    },
    facebook: {
      id: String,
      token: String,
      email: String,
      name: String
    },
    // the rest is almost identical.

In PassportJS, I need to find this value to verify that an e-mail does not exist

      User.get({'local.email': someRetrievedEmailValue}, function

[2017-07-23 00:29] weaversam8 opened #182 "Non-descriptive error message when there is a conflict between native and non native booleans"
Steps to reproduce:

1. Create a model `m` using `let M = dynamoose.model("m", {fieldA: String, fieldB: Boolean});`

2. In the DynamoDB Console, create records under the `m` table, with fieldB being a true boolean (as in `BOOL`)

3. Calling `M.get({ ... })` will give a non-descriptive error:
[code]

As a result of the `json` parameter in the `dedynamofy` being an object, but the `type` parameter b

[2017-07-24 06:58] lrcry commented on #134
I think we can specify any table name when we define the schema/model.

[code]

[2017-07-26 09:01] cekimy opened #183 "indexes are not synchronized and update flag is set to false"
Hi, i put my dynamodb from local to aws, but i got this error "indexes are not synchronized and update flag is set to false"
It's the error which is only thrown by dynamoose, so i can't google any information.
How to solve this problem?
Thanks!
(Sorry for my pool english)

[2017-07-26 10:05] cekimy commented on #183
i console table.options and indexes at
[code]
the output is
[code]

[2017-07-26 14:40] treyhuffine commented on #146
I think I'm running into a similar issue. I'm not able to declare an attribute using the generic `Object`. It gets blocked on this line https://github.com/automategreen/dynamoose/blob/master/lib/Attribute.js#L161 since the `typeVal` is the constructor function.

Side note, huge thanks for building and maintaining this library @brandongoode

[2017-07-26 23:31] lrcry commented on #183
Can you please check your model definition?

As far as I know, `update` flag in model definition is where to expect.

Please refer to [this](https://dynamoosejs.com/api#dynamoosemodelname-schema-options). If you would like to allow the update of table structures (e.g. indexes, etc.), you need to set it to `true`.

[2017-07-27 03:48] cekimy commented on #183
thank you @lrcry , it's ok now

[2017-07-27 03:48] #183 closed

[2017-07-27 08:57] bansaldeepak opened #184 "Data Storage in String Format For Object/Array/Map/List All Cases"
Hi Team,

Want to bring to your notice that what ever type we choose in schema it stores data in string after stringify. Please fix this issue so that we can store this in desired format.

[2017-07-27 16:14] scooper91 commented on #173
Deleting tables would be useful for us too - in our tests, we run a DynamoDB Local Docker container and create and drop tables to ensure no state remains between tests.

It's not as though this isn't a destructive library - you could delete all the data from within a table!  IMO, the onus should be on the user to ensure permissions are set up correctly (e.g. the `dynamodb:DeleteTable` permission).

[2017-07-29 21:22] brandongoode commented on #180
You'll need to use scan to search for nested values.

[code]

[2017-07-29 21:23] brandongoode commented on #182
I agree -- PR anyone?

[2017-07-29 21:24] brandongoode commented on #184
Use `useNativeBooleans` and `useDocumentTypes` to change the DynamoDB types.

[2017-07-29 21:28] brandongoode commented on #146
@treyhuffine could you provide an example?   It shouldn't block it.  It should just `JSON.stringify` and save it as a `String`.

[2017-07-30 07:34] bansaldeepak commented on #184
@brandongoode Thanks for your reply. I tried with same before reporting issue. But it didn't work for me. Its stringify all the Arrays & Objects. If i am not wrong then in code for all Object, Map, List, Array **dynamofy: JSON.stringify** .

[2017-07-30 11:52] brandongoode commented on #184
@bansaldeepak Can you provide your Schema?  Are you defining the nested object?  Known nested objects will be converted to JSON strings. Is your issue the same as #146?

[2017-07-31 05:23] bansaldeepak commented on #184
@brandongoode Please check my schema below.

[code]

[2017-07-31 17:31] treyhuffine commented on #146
@brandongoode sorry I didn't explain that well. Based on that code construction, you can't declare an attribute as `Object` and still use the native `Map` data type. Since `typeof Object === 'function'`, an object literal is required or the `JSON.stringify` will be used. The functionality I was hoping for would be declaring an attribute as an `Object` to use `Map` an then filling in the properties

[2017-08-01 13:02] miguelduarte42 commented on #72
I had the same issue. The solution is to run dynamoose.local() before running dynamoose.model(). As it seems, the models keep a copy of the endpoint that was defined at modeling time, which means that running dynamoose.local() afterwards will have no effect

Run your app with DEBUG=dynamoose to see the order in which they run.

[2017-08-01 15:32] dimitribocquet opened #186 "Promise : catch never called"
I'm trying to use [Model.save](https://dynamoosejs.com/api#modelputoptions-callback--modelsaveoptions-callback) (or [Model.create](https://dynamoosejs.com/api#modelcreateobject-options-callback)) and use a promise on it. But if a record is not saved, `catch` is not called, so I have any error.

Here is my code :

[code]

Am I doing something wrong?

Thanks !

[2017-08-03 13:17] dimitribocquet opened #188 "Error: Cannot do operations on a non-existent table"
Yesterday my code worked well, but now I have this error :

Here is my schema :

[code]

And here the debug file :
[dynamoose.txt](https://github.com/automategreen/dynamoose/files/1197289/dynamoose.txt)

[2017-08-03 23:58] fishcharlie opened #189 "Error dedynamofy"
I'm getting an error `Unexpected token . in JSON at position 3` when trying to scan a table. I'm using the `saveUnknown: true`. For some reason it looks like it's detecting `{ S: '2.1.2' }` as an object. When that should be a string. So it's trying to parse it as an object when it doesn't resemble an object at all.

[2017-08-04 02:07] jcowley opened #190 "Model.delete response does not indicate successful delete"
I'm building a REST API and would like to return a 404 if no matching record was found.

I'm curious why the `delete` function doesn't return anything to indicate whether the delete was successful or not. If no matching record was found to delete, the function doesn't return an error (or anything else to indicate the delete failed).

I realize I can do a `get` first to see if the record exists and

[2017-08-04 04:55] lrcry commented on #183
No worries. Glad I could help ;) @cekimy

[2017-08-04 12:01] brandongoode commented on #190
Try using the `update` option when calling delete: `Model.delete(key, { update: true })` or `item.delete({ update: true })`.  This will return an item with the values if it exist.

[2017-08-04 12:26] brandongoode commented on #189
@fishcharlie Could you create a new test case with the failure and create a PR.

[2017-08-04 12:27] brandongoode commented on #188
The error in the logs is just Dynamoose detecting that it should create a table.

[2017-08-04 12:30] brandongoode commented on #186
@dimitribocquet  -- Could you run this with DEBUG enabled?

[2017-08-04 12:35] brandongoode commented on #146
@treyhuffine -- Thanks for clarifying.  Yes, that's the same issue.  It's on the todo list to add this functionality.

[2017-08-04 13:14] jcowley commented on #190
That works. Thank you!

[2017-08-04 13:50] brandongoode commented on #184
@bansaldeepak, That's the same issue in #146.  It's on the todo list to add this functionality.

[2017-08-04 13:50] #184 closed

[2017-08-04 20:58] jcowley commented on #190
@brandongoode: Thanks for the tip. That indeed works.

Is that option (or other possible `delete` options) documented anywhere? I see some options in the [API Docs](https://dynamoosejs.com/api) but not that one.

[2017-08-05 00:34] brandongoode commented on #190
@jcowley -- Good point -- it's not.

[2017-08-07 12:48] dimitribocquet commented on #188
Okay, I thought I had a bug because of that, but it was me! Thanks!

[2017-08-07 12:48] #188 closed

[2017-08-07 14:35] dimitribocquet commented on #137
Is it possible to contribute to this feature? How can I do it?

[2017-08-09 12:48] dimitribocquet commented on #186
Hmm, I can't reproduce the bug now. Maybe I did something wrong at this moment.

Thanks!

[2017-08-09 12:48] #186 closed

[2017-08-12 05:25] hunghkit commented on #180
do you know how to query or scan data with Array type, @brandongoode?
Example data
"Order": {
 "Items": [{
    "name": "product 1",
  }, {
    "name": "product 2",
 }]
}

[2017-08-15 16:14] dimitribocquet commented on #180
Hi, I'm using PassportJS too, and I have a problem with scan function and filter.

Here is my model :

[code]

In DB I've got that in facebook attribute :
[code]

And I do that :

[code]

I have 0 results. Of course I have the user in my DB, with this value. I've tried to hard code the value (`':profileId': '1041244171637XXXX'`) just for testing but I have any results. Then I've tried with `id` at

[2017-08-16 07:36] hunghkit commented on #180
you need to add useDocumentTypes: true in define schema, @dimitribocquet

[2017-08-16 13:55] dimitribocquet commented on #180
@hunghkit It's working! Thanks a lot!

[2017-08-19 05:21] tensult opened #191 "Can you please publish this to npm?"
https://github.com/automategreen/dynamoose/blob/aba7a4e09f91cb1a577d39bc7e81cabce6751d2b/dynamoose.d.ts#L63

Thanks,
Dilip
tensult.com

[2017-08-20 22:29] tushariscoolster opened #192 "Search by nested json"
I have a data
[code]

how can I search by attribute day? like I want to find all the program whose day is "6"

[2017-08-21 15:07] tensult opened #193 "Typescript declaration is not up to date with API"
https://github.com/automategreen/dynamoose/blob/aba7a4e09f91cb1a577d39bc7e81cabce6751d2b/dynamoose.d.ts#L38

https://dynamoosejs.com/api

validate: function, regular expression, or value

Validation required before for saving.

If validate is a function, the function is used to validate the attribute’s value. The function must have the signature:
[code]
If it is a RegExp, it is compared using RegE

[2017-08-22 10:39] ro-savage opened #196 "Suggestion: allow model.update() to be passed an object including hashkey"
[Dynogel](https://github.com/clarkie/dynogels) has a nice feature which uses the model to understand what is the `hashkey` is and update a table accordingly.

Take a database item that looks like
`{id :1, name: 'ro', location: 'australia'}`
with id as the `hashkey`

If you want to just change the location with dynogel you can just pass an object like
`{id: 1, location: 'united states'}`

[code]

*

[2017-08-24 19:02] AndreySoftware opened #197 "In Model.put() / Model.save(), the returned promise is not rejected on error"
For example, if doing a conditional save that fails, the returned promise object is resolved instead of being rejected.
This happens because the following code returns the wrong promise:
`
if(model$.options.waitForActive) {
      return model$.table.waitForActive().then(putItem).catch(deferred.reject);
    }`

Suggested fix:
return `deferred.promise.nodeify(next)` instead.

[2017-08-30 10:53] #180 closed

[2017-08-30 10:58] brandongoode commented on #191
done

[2017-08-30 10:58] #191 closed

[2017-08-30 11:01] brandongoode commented on #192
You'll need to use the `FilterExpression` option.  See the last example in the scan section: https://dynamoosejs.com/api#modelscanfilter-options-callback.

[2017-08-30 11:04] brandongoode commented on #193
PR welcome from anyone (who uses Typescript).

[2017-08-30 11:15] brandongoode commented on #196
`.update` is targeted more for updating a single attribute without needing to send the whole object to DynamoDB. This keeps the write usage lower for larger objects.

If you have the whole object just use `.save()`;

[code]

That being said, I think to have the logic in `.update` extract the key is a great idea.  Dynamoose knows the hash and range keys and could easily remove them from the updated

[2017-08-30 11:18] brandongoode commented on #197
Would you be willing to correct it in a PR?

[2017-08-30 12:06] ro-savage commented on #196
So `update` in Dynogel you don't need to send the whole object. You can send one property, or three or every property. It doesn't overwrite, it just updates the fields contained and doesn't touch any that are missing.

I used the statics api you made to add my own method which does this. I am pretty busy at the moment, but I can take a look at adding your suggested enhancement if I get time (or fe

[2017-08-30 18:51] tsdorsey opened #199 "Scan only running parseDynamo on the first item"
Things had been going swimmingly using serverless.com, lambda, api gateway, dynamodb and dynamoose. Between 3am and 10am PDT on the 30th of August my scan responses started to send back raw dynamodb JSON for all but the first item.  When I use the serverless invoke local functionality it parses all the items but the deployed functions on AWS Lambda only parse the first "Item".

I turned on debug o

[2017-08-30 20:02] tsdorsey commented on #199
Ok, so I rolled my API code back 2 revisions and tried it. Still the same issue. Here is a network request from my app in Chrome.

[code]

As you can see, the second item has attributes that I added at a later date like `group`, and `order`. If you look in the DynamoDB table the first item (id: 4200) has those attributes as well but because it's been parsed by the schema they were filtered out.

[2017-08-30 21:37] jasonlbloom commented on #199
I'm also seeing this in 0.8.4 but works properly in 0.8.3.

[2017-08-30 21:56] tsdorsey commented on #199
I'm on 0.8.3.  So frustrating. I've spent the last 6 hours trying to figure out why.

[2017-08-30 21:57] tsdorsey commented on #199
Even worse is that it worked when I went to bed and didn't work when I woke up. I'm pretty sure I didn't change anything while I was asleep which leads me to think something was updated on the DynomoDB end but there's no info about it.

[2017-08-30 22:07] tsdorsey commented on #199
Solved.

I had `"dynamoose": "^0.8.3"`, in my package.json. So many nasty things in my head right now. That @#$% little *&%$# `^` symbol. During the serverless deploy it must grab the latest versions of everything it can because I just checked and the compiled package being sent to AWS Lambda was 0.8.4. Locally I'm still on 0.8.3 so when I invoke locally everything works just fine.

😡 6 F-ing hour

[2017-08-30 22:08] jasonlbloom commented on #199
Hmm, it is definitely working for us on 0.8.3. Try making sure you're definitely using 0.8.3. I realized I had "^0.8.3" in my package.json and 0.8.4 was getting installed. Changed package.json to "0.8.3".

[2017-08-30 22:11] tsdorsey commented on #199
Yes, sorry, still getting over my frustration. I have since removed the `^` from my package.json file and all is well now.

[2017-08-30 22:12] tsdorsey commented on #199
I can confirm this is bug in version `0.8.4`

[2017-08-30 22:18] tsdorsey commented on #199
Moral of the story is to NEVER EVER allow your package manager to pick the version. Lock it down 100% and only make changes when you decide to. I have just finished doing that with this project and will remember to do so for the rest of my days.

[2017-08-30 22:19] tsdorsey commented on #199
My apologies to @brandongoode for cluttering up this bug report my rants.

[2017-08-30 22:20] brandongoode commented on #199
@tsdorsey Sorry about the bug -- no need to apologize.  Let me see if I can figure out what broke.

[2017-08-30 22:31] tsdorsey commented on #199
@brandongoode I would also suggest taking down the 0.8.4 release on npm.

[2017-08-30 22:51] brandongoode commented on #199
unpublish was the first thing I did -- About to push 0.8.5 without the map error

[2017-08-30 22:53] #199 closed

[2017-08-31 11:12] brandongoode commented on #196
Completely understand about the being busy.  I'll flag this for 0.9 and add it myself if no one else beats me to it.

[2017-08-31 12:10] brandongoode commented on #196
Turns out its a pretty minor change to make this work so I'll go ahead and add it in 0.8.

[2017-08-31 12:19] #196 closed

[2017-09-03 13:58] ro-savage commented on #146
Same issue. Can't `read` or `write` DynamoDB Map type objects that contain unknown keys / that aren't specified in the Schema.

Looking forward to v.0.9.0. Thanks hardwork Brandon!

[code]

p.s. I found it hard to understand how to use the DynamoDB's Map in the scheme. If I was meant to use type of `Map`, `'Map'` or `'map'`, or `Object`

[2017-09-09 17:06] ro-savage commented on #196
@brandongoode - Can you please release this on NPM?

Thanks

[2017-09-11 16:59] ben-harris opened #204 "Whole batchWriteItems errors if one batch errored"
If any promise in `batchList` has been rejected, [`Q.all`](https://github.com/automategreen/dynamoose/blob/fdfdfc3973e820d4c6868369ea2b9d7af120bcd4/lib/Model.js#L1155) will reject and you don't know which data has/hasn't been inserted (unlike `UnprocessedItems`).  It would be useful if it returned something like:

[code]

Can you see any issue with that?

[2017-09-20 15:51] jacintoArias opened #205 "Promisified create/save dont fail when overwritting same key"
Minimal example:

[code]

Behaviour:

[code]

Expected behaviour:

[code]

I do not know if this is the expected behaviour, but I would prefer to tackle a failed overwrite by using catch as it is easy to return a failed response in my API.

This might be related to #186, but I can confirm that I'm getting other exceptions such as 'Required value'.

[2017-09-21 04:54] craigsketchley opened #206 "0.8 Change log relative to what version?"
I'm looking to update our app from 0.4.1 to the current 0.8.5. The 0.8 change log seems harmless enough but what version was it relative to? Was there a 0.7? Just trying to get an idea of what might break if we upgrade from 0.4.1.

[2017-09-21 12:28] brandongoode commented on #206
There was a 0.7 and 0.6 release (0.5 had an issue, and I removed it). I didn't do changelogs for them, but they shouldn't change any API's.  I have tried hard to make sure all releases are not breaking.

You'll have to look through the commits to see what changes were in 0.7: https://github.com/automategreen/dynamoose/commits/v0.7.0

[2017-09-21 12:53] brandongoode commented on #205
@jacintoArias I think this may be corrected in #200.   I just merged it into the master branch.  Could you try updating dynamoose to the current master and let me know if you still have the issue?

[2017-09-21 13:02] brandongoode commented on #204
I can see where the current behavior is a problem.   Your idea is a good solution.  The only concern is anyone that is relying on the reject in their logic will have to update their code to check for Errors. It obfuscates the fact there was an error.

[2017-09-21 13:23] craigsketchley commented on #206
Perfect, thanks @brandongoode

[2017-09-21 13:23] #206 closed

[2017-09-21 14:00] jacintoArias commented on #205
The updated package now trows the expected exception and returns the following error:

[code]

thanks!

[2017-09-21 14:00] #205 closed

[2017-09-22 12:01] lennym commented on #197
I've just hit this same issue with `Model.create`. I'll put together a PR.

[2017-09-22 12:51] lennym commented on #197
Ugh, just spent the last hour trying to recreate the issue with a failing test before I spotted that this has already been fixed at #200 :-(

Any chance of publishing a new version?

[2017-09-26 03:48] jonathankeebler opened #207 "[Feature Request] Swagger -> Dynamoose schema"
Would love to see a project like [swagger-mongoose](https://www.npmjs.com/package/swagger-mongoose) for Dynamoose. The Mongoose schema is so close to the Dynamoose schema, maybe it would work out of the box?

[2017-09-26 11:53] lovell opened #208 "Question: which branch should be used as the destination for PRs?"
Hello, when attempting to create a pull request I noticed there is no `master` or similar trunk-like branch in this repo (e.g. https://github.com/automategreen/dynamoose/branches generates a 500 error).

Should PRs be targeted at the `v0.9.0` branch?

[2017-10-03 16:27] scooper91 commented on #204
I agree that the above solution obfuscates the error.  However, if `ddb().batchWriteItem()` calls back with a [`ProvisionedThroughputExceededException`](http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchWriteItem.html), the items from that request are effectively just unprocessed items.   When that happens, could the batch be somehow appended to `unprocessedItems`?

[2017-10-04 16:37] treyhuffine opened #209 "Handle retryable errors inside dynamoose?"
Would you interested in handling retryable errors inside dynamoose? I've been trying to think of a clever way to do it, but the more I think about it, the more I think it makes sense to have this as an option on a query. I think the application shouldn't be concerned about how it gets the data or how an update is made, it should just be concerned with using the result.

Let me know what you think

[2017-10-06 21:04] fishcharlie opened #210 "Uncaught NetworkingError: Cannot read property 'replace' of undefined Error"
I'm getting the following error when trying to run the following code. My goal is to delete all items in both the `User` and `Item` tables. `User` and `Item` correspond to Dynamoose models.

The for loop is running correctly. But the `scan().exec` callback function isn't being run at all and it's throwing the following error.

What is **really** strange is on CircleCI this problem doesn't happen.

[2017-10-08 21:41] expatiating opened #211 "Performing a Scan on Global Secondary Index"
I am trying to scan on a GSI and I am able to do this in both on the AWS CLI and AWS console, but have been unable to figure out how to do this in Dynamoose.

Is there a way to do this? I saw this issue #136 regarding using the query with `.using()` feature, but it doesn't appear that `.using()` is supported in the scan operation.

My use case is similar to that described in the following link: [G

[2017-10-09 22:08] jkrusinski commented on #197
A new version for this bug would be of great help for me as well!

[2017-10-10 08:09] tensult opened #212 "Any plan to integrate with DAX?"
https://aws.amazon.com/dynamodb/dax/

[2017-10-12 13:14] sickDevelopers commented on #146
Hello everyone, is anybody working on this right now? I think it's a blocking issue for many

[2017-10-15 06:01] chriskinsman opened #214 "Calling update with an object containing a createdAt element results in overlapping paths error"
I have a schema like:

[code]

I then call update like this:

[code]

This throws an error:

dynamodb Invalid UpdateExpression: Two document paths overlap with each other; must remove or rewrite one of these paths; path one: [createdAt], path two: [name]

It appears the issue is that createdAt gets added to the updateExpression twice.

[2017-10-17 19:09] brandongoode commented on #197
@lennym  Sorry for not publishing an updated release and sorry for not getting back any sooner.  I've been slammed lately and some of my sided projects (i.e. this one have suffered).  I'll try to push out an updated version this week.

[2017-10-18 13:00] #197 closed

[2017-10-18 13:36] brandongoode commented on #197
The fix is in 0.8.6

[2017-10-18 13:43] brandongoode commented on #212
Yes, but no timeline.  Amazon just released the official client a week or two ago.

If anyone wants to create a PR for this, I would be happy to merge it.

[2017-10-18 13:46] brandongoode commented on #210
Sorry for the slow response.  I've never seen that issue before.  Could you duplicate it in the tests and submit a PR with the error?

[2017-10-18 19:43] fishcharlie commented on #210
I figured out that this isn't related to Dynamoose. Thanks!!

[2017-10-18 19:43] #210 closed

[2017-10-18 21:22] brandongoode commented on #210
Thanks for the update.

[2017-10-18 21:25] brandongoode commented on #214
If you use the timestamps option you don't need to manually add the `createdAt` attribute as it's added by default.  If you want to define the attributes manually you'll have to pass the names to the timestamps option.

[2017-10-18 21:30] brandongoode commented on #211
First sorry for the slow response.

Scan looks at the whole table, regardless of the index.  To search a GSI, you should use `.query`.

[2017-10-18 21:33] brandongoode commented on #208
If the PR is a completely new feature or break backward compatibility something use 0.9.  If it's a fix or a minor enhancement use master.   Not sure why you got the 500 error.

Also, sorry for the slow response. I've been over-obligated and haven't had enough time.

[2017-10-19 10:18] lovell commented on #208
Thanks Brandon, that makes sense. No need to apologise, this is open source and your time is precious.

It looks like when you pushed the `master` branch yesterday it "fixed" the 500 error from Github too, hooray!

[2017-10-19 10:18] #208 closed

[2017-10-20 16:25] aaronshaf commented on #34
It'd be nice to manually specify the table name

[2017-10-21 14:08] brandongoode commented on #209
@treyhuffine -- First sorry for the slow response.

I think it's  a great idea.   I've thought about the same thing before and have looked into adding some auto back-off logic when thresholds are reached.  Just never found the time to implement it.

[2017-10-21 14:11] brandongoode commented on #207
It wouldn't work out of the box, but you could probably fork it and replace the references to mongoose with dynamoose and be 95% working.

[2017-10-21 14:31] brandongoode commented on #204
@scooper91, It may be best to keep it separate because you may need to handle it differently.

When I think about the solution @ben-harris proposed it may be the only way not to lose the information.  Instead of Q.all we should be using Q.allSettled.

[2017-10-21 23:42] treyhuffine commented on #209
No worries! I'll try to have you a PR this week unless you already had something in mind

[2017-10-22 11:15] brandongoode commented on #209
That would be great.  I don't have anything but some ideas based on AWS's document: http://docs.aws.amazon.com/amazondynamodb/latest/developerguide/Programming.Errors.html#Programming.Errors.RetryAndBackoff

[2017-10-22 17:48] fishcharlie opened #216 "Support for native promises (async/await)"
It would be awesome to see support for native promises, so that Dynamoose can support the new `async`/`await` syntax. It looks like according to [this post](https://medium.com/@joshuawcomeau/using-async-await-with-traditional-packages-10316d6cc4ee) one option is to wrap existing code in a native promise to make it super modular.

I know there are certain features that 3rd party promise libraries o

[2017-10-22 21:07] expatiating commented on #211
@brandongoode, thanks for your response. I was able to implement with a query.

What is interesting though, you can perform a **scan** operation of a **sparsely populated GSI** using the AWS Dynamodb CLI and AWS console

For example:
[code]

where `id_open_time_idx` is a sparse index. This returns only the entries from the table where the sparse index is populated and thus doesn't appear to scan t

[2017-10-23 11:56] brandongoode commented on #216
Completely agree.  If you look at my first goal for 1.0 release (https://github.com/automategreen/dynamoose#release-10) it's to update to ES6.  Part of that would include native promises.

That being said, I need to find some spare time (something I'm in short supply of lately) to get around to the 0.9 list first.

[2017-10-24 09:10] spitfyr86 opened #218 "How to initialize dynamoose?"
I'm trying to connect to a local dynamoDB in my machine but I always get the error, "ConfigError: Missing region in config."
By the way, I'm using Typescipt in my Node.js app.

[2017-10-25 08:57] amitjain28 opened #220 "Query for array of objects"
i am having following schema.

[code]

here i want to fetch data based on access_token.
means i have used following code while i have used mongoose (mongodb)

How can i use this query in dynamoose(dynamo db)

[2017-10-25 10:44] brandongoode commented on #218
Try setting your env variable for the region (even though it's not really needed for local).
[code]

[2017-10-25 10:49] brandongoode commented on #220
You'll need to use a `FilterExpression` for a nested value.

[code]

[2017-10-25 11:43] amitjain28 commented on #220
This solution is not working. Showing ScanError: Invalid comparison %s error

[code]

[2017-10-26 09:37] ricxsar opened #221 "Error adding Global Index on existing table."
Hi. Thank you for developing such a wonderful library.

I have a existing model and production deployment on AWS. Due to updates on the application, I have to add Global Index to the existing table which is needed for the updates but I cannot due to an error:

`Error: indexes are not synchronized and update flag is set to false`

Now the application is not working at all because of the error.

Ple

[2017-10-26 10:36] brandongoode commented on #221
You'll need to either manually update the table in AWS to match the new Schema or allow Dynamoose to update it for you:

[code]

[2017-10-27 22:53] lrcry commented on #221
Hi

I would suggest in production, set this `update` flag to `false`. This will not allow the app to accidentally try to sync the index and table structure and further separate the infrastructure from the app.

Cheers

[2017-10-29 22:13] nicolascamilo opened #222 "Any findById function?"
Is there any function like the one in moongose "findById"? I can't find one

Thanks

[2017-10-30 03:38] fishcharlie commented on #222
@nicolascamilo Haven't used Mongoose in a while but why can't you use the `get` function? The documentation is [here](https://dynamoosejs.com/api#modelgetkey-options-callback).

[2017-10-31 09:19] sickDevelopers opened #224 "Querying on rangeKey that is also in timestamps"
Hello,
I have my schema defined as

[code]
While writing records on DB everything seems to be working correctly but when I try to query records filtering by rangeKey

[code]
I get the following error

[code]
I suppose this issue is related to the fact that I'm defining a rangeKey that is also a field in the timestamps object, but it's kind of weird because it's working perfectly while writing.

QU

[2017-11-01 05:57] nbarnett opened #226 "Cannot query with updatedAt as range key"
Context: I wish to query a global secondary index using `updatedAt` as the range key.

Example:
[code]
In this example `ge` and `gt` return no results, while `lt` and `le` just return all of the records.

There is no issue doing this with `createdAt` (to test, replace `updatedAt` with `createdAt` in the schema and query) or any other range keys, just with `updatedAt`.

[2017-11-02 19:54] fishcharlie opened #227 "updatedAt Timestamp Only/Don't Change Under Certain Conditions"
It would be awesome to add a feature where the updatedAt property only updates or doesn't update under certain conditions. I have an attribute that often changes and I would like to enable an option for users that when this one attribute changes they can either choose to have it change the updatedAt property or not. Since I sort by the updatedAt property later on this would be super helpful.

Look

[2017-11-03 02:53] nbarnett commented on #226
So I did some digging and think I've found the source of the problem. In `Schema.js` line 59, `updatedAt` is defined with a setter:
[code]
This setter overwrites any user input and returns the current date.

When the query is executes, the `toDynamo` function in `Attribute.js` is called, which subsequently calls the setter on all attributes, if they exist. This changes the query values for `update

[2017-11-03 05:34] nbarnett commented on #226
Uh, after some further testing that change doesn't seem to work. I almost feel like the setter shouldn't be called during a query, but there are probably cases where you would want it called. Seems like an edge case for `updatedAt`. Anyone have any thoughts for how to approach this?

[2017-11-09 18:03] ReeSilva opened #230 "Type `Array` or `Object` not working even with useDocumentTypes"
Hey guys, hope you've been doing well.

First of all, thank you for this awesome SDK, is amazing to have something like this to work with Dynamo.

I'm having an issue to create my tables that I do not believe that is related with configuration, so I bring it to you guys.

When I try to create a table using type `Array` or `Object` it's keeping create the field with String and `JSON.stringify` on i

[2017-11-10 19:19] yurilausberg opened #231 "Attribute type Map (and List) not working when retrieving data from DynamoDB"
https://github.com/automategreen/dynamoose/blob/d4a3ad66329852fc5e400e961d75a027b90eb03d/lib/Attribute.js#L44

I'm noticing that when I'm debugging Attribute.js (line 43) for a `type.name === 'map'` that the value.map is undefined, causing the object not to get parsed.

If I skip the if statement on line 43, and don't reassign `value = value.map` (line 44), the code runs just fine.

Any ideas why

[2017-11-14 09:45] alessiodezotti commented on #146
+1

[2017-11-16 12:22] lrabagop opened #232 "How can I launch a query by passing 3 parameters?"
I have this code:

[code]

But it doesn't work... Launch this error message:

¿How can I solve this? or another alternative to make it work, please...

[2017-11-16 22:30] sgtoj opened #233 "Typescript: model() does not return a very useful type"
Is possible this input generic types are incorrect? ~~I believe it should only have a single generic type for input. Furthermore, that type can/should be inferred from the `schema` parameter.~~ I pose this question because `.model()` is returning is returning a type of `ModelConstructor<{}, {}, Model<{}>>` .

https://github.com/automategreen/dynamoose/blob/d4a3ad66329852fc5e400e961d75a027b90eb03d/

[2017-11-18 00:47] lrcry commented on #230
Dynamoose supports this as it depends on the underlying AWS sdk, but I think it is not in the document.

As AWS sdk stores object as a map ('M') as per [DocumentClient](http://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/DynamoDB/DocumentClient.html#constructor-property) + [Schema.js in Dynamoose](https://github.com/automategreen/dynamoose/blob/master/lib/Attribute.js#L132), when saving an obje

[2017-11-18 14:03] brandongoode commented on #233
That's for troubleshooting this and the improvement.

[2017-11-18 14:17] brandongoode commented on #232
Dynamoose is looking for `FilterExpression` not `KeyConditionExpression`.

Try this for params:

[code]

[2017-11-19 12:26] brandongoode commented on #231
With nested objects, Dynamoose doesn't need the type declared.  Try this:

[code]

[2017-11-19 12:31] brandongoode commented on #227
Maybe a custom setter function could be added as an option to the timestamp.  Then you could return the current value if you didn't want it to update and Date.now() when you did.

PS - Sorry for the slow response.

[2017-11-20 06:15] jignesh248 opened #235 "issue in enforcing validation on individual keys of object / subobject / nested object"
I want to validate individual key elements for object, but I am not able to figure out how to do that,
It seems validate is not working on individual key of object nor type is being enforced, though required makes the request to timeout sometimes( did dig but then forgot to note)

Let me know if this is something that is possible or should be possible.

Thanks in advance. Below is my code and requ

[2017-11-20 22:56] stang-tgs opened #236 "Maps saved as strings when the attribute is not defined in Schema and saveUnknown is true"
When trying to save an item that contains a Map attribute that is not defined in the Schema, the Map is saved as a String, even though useDocumentTypes is set to true.

Also, nested map keys are also not saved if they aren't defined in the Schema, even if saveUnknown is true.  See example:

[code]

Doing the query via aws-cli
`aws dynamodb get-item --table-name Room --endpoint-url http://localhost

[2017-11-21 02:57] nicolascamilo opened #237 "Is it possible to query unique values?"
Just like I would do with SQL, is there any SELECT UNIQUE "column_name" kind of function here? I can't find one.

Thanks!

[2017-11-21 14:55] aAmitSengar opened #238 "how to parse JSON object to model"
actually i'm just trying to parse less data from json and want to save in db.
`  var myModel = new UserModel(UserObject)`

but after this there is no change in the myModel it's same as UserObject

[2017-11-21 16:31] brandongoode commented on #237
Yes. Use `.attributes(...)`.

https://dynamoosejs.com/api#queryattributesattributes

[2017-11-21 16:52] nicolascamilo commented on #237
But that will return unique values, right?
I have a table like this:
[code]

The output will be something like this?
[code]

[2017-11-21 16:54] brandongoode commented on #236
Thanks for reporting the issue.  I'll see if I can find a solution.

[2017-11-21 16:56] brandongoode commented on #237
O -- my bad -- misread the question -- There is no way to get unique values from DynamoDB that I know of.

[2017-11-21 18:38] nicolascamilo commented on #237
Oh! It's okay :) do you think that will be available in a future release?

[2017-11-21 18:59] Onnion opened #239 "Support to enum attribute"
I'm new to dynamoDB, I'm trying to migrate from mongoDB (mongoose) to dynamoDB (dynamoose).
I came across some difficulties, one of them was the use of enum.
I did not find support in the dynamoose documentation.
Is there an alternative?

[code]

[2017-11-21 20:12] stang-tgs commented on #236
Thanks. I've done some investigation myself and have tracked it down to Attribute.setType(value).  When parsing "unknown" attributes, the value is being passed in as a string from Schema.js Schema.toDynamo(model):

[code]
After doing some reverse engineering, I believe the "normal" case for `Attribute.setType(value)` is when the type and schemas are explicitly defined, and that `Attribute.setType(

[2017-11-21 21:54] stang-tgs commented on #236
I might have a fix.  Please see pull request https://github.com/automategreen/dynamoose/pull/240

[2017-11-23 04:16] trunglb opened #241 "Options for enable Dynamodb Stream when create or update table"
as AWS provides DynamoDB Stream options for update table, I think they also support create table with `StreamSpecification` option too:

http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_UpdateTable.html#DDB-UpdateTable-request-StreamSpecification

I would be very grateful if we have a plan for it. Thank you for your great work ! 👍

[2017-11-23 16:14] piercus opened #242 "Crash when data is corrupted"
## Scenario

[code]

### Actual

Error is not uncaught

### Expected

Error should be caught

[2017-11-23 16:25] jacintoArias opened #244 "Documented and promisified middleware"
Hi,

I was going to propose the addition of moongose-like middleware to enable complex validation and so, when I saw that it has already been included in a previous PR #9, however this feature is not documented properly, and can only be reversed engineered from the code (in fact the middleware is hooked into the model object and not the schema as in mongoose).

I could help document this.

Another

[2017-11-25 01:13] brandongoode commented on #244
@jacintoArias -- I could really use some help getting this polished.  It's been on my todo list for a long time and I can't ever find the time to work on it.    I put it on the roadmap for 0.9 in hope that would force me to get it done.

I think the error is because you need to `return next()` in the plugin to return the promise.

[2017-11-25 12:02] brandongoode commented on #244
The `return next()` is not correct.  After some more research we may need to update to `hooks-fixed` -
 https://github.com/vkarpov15/hooks-fixed

[2017-11-25 12:05] jacintoArias commented on #244
Returning the callback fixes it, but it seems like an odd behaviour..., this plugin system really needs a good design rework, specially if the main objective is to make this package as similar as posible to mongoose.

I can help you, just let me know where do you need the focus. In the meantime I will study the source a little bit further.

[2017-11-25 12:09] jacintoArias opened #246 "Gitter channel"
If you are looking for additional collaborators in this project, may I suggest to open a gitter channel? that will improve communication a lot...

[2017-11-25 12:15] brandongoode commented on #246
Sounds like a good idea -- I'll give it a try.

[2017-11-25 12:40] #246 closed

[2017-11-25 13:02] brandongoode commented on #242
Thanks for handling this - closed by #243

[2017-11-25 13:02] #242 closed

[2017-11-26 04:56] zuyao1988 commented on #58
Hi, for the example above, can I move user to a new schema(table)?

const user = new Schema({
id..
name...
})

and nested/embedded it in the main schema by referring the id?

[2017-11-27 01:59] brandongoode commented on #58
@zuyao1988 -- Yes - see the documentation on populate for some examples

https://dynamoosejs.com/api#modelpopulateoptions

[2017-11-27 12:46] brandongoode commented on #241
Should be pretty easy to add.

[2017-11-27 12:54] brandongoode commented on #239
We don't support enum (probably should).  You could use a custom validate function to verify the value matches.  This is what mongoose is doing automatically.

[code]

[2017-11-27 12:57] brandongoode commented on #238
I'm not following the question. Could you write a runnable example?   Thanks

[2017-11-27 13:02] brandongoode commented on #237
That would be up to Amazon to implement.

[2017-11-27 13:19] #236 closed

[2017-11-27 13:45] #237 closed

[2017-11-27 13:59] brandongoode commented on #235
Sorry for the slow response and thanks for the great write-up. I'll run a few tests and see if I can find the bug.  I think the issue is the validations are failing and not being passed up.

[2017-11-27 14:18] brandongoode commented on #235
Ok -- found the issue.

When you define the map attribute with an explicit type of `Map`, you also must have a `map` object:

[code]

If you don't define it explicitly, you don't need the `map` object:

[code]

[2017-11-27 14:19] #233 closed

[2017-11-27 14:21] #232 closed

[2017-11-27 14:21] #231 closed

[2017-11-27 14:35] brandongoode commented on #224
@sickDevelopers - First, sorry for completely overlooking this request. My bad.

It appears the timestamps are overwriting the defined attributes options.

[2017-11-27 14:49] #224 closed

[2017-11-27 14:50] #222 closed

[2017-11-27 14:56] brandongoode commented on #221
@lrcry -- good recommendation -- probably should add a production recommendations to the documentation page.

[2017-11-27 15:00] brandongoode commented on #146
#240 adds this functionality.

[2017-11-27 15:01] #146 closed

[2017-11-27 22:02] sickDevelopers commented on #224
beautiful, thank you

[2017-11-28 21:14] Onnion opened #248 "Cannot read property 'map' of undefined"
**I created the following schema:**
[code]

**I inserted the data from Aws `console**
![screenshot-2017-11-28 dynamodb aws console](https://user-images.githubusercontent.com/19847360/33343889-b8aaeb60-d465-11e7-8f7c-860cca779f52.png)

**But when I tried to use the .scan ()  i received the following error log in the**
[code]

[code]

[2017-11-28 21:17] Onnion commented on #239
Works perfect, good solution, thank you

[2017-11-29 16:53] lucianopf commented on #137
Hello guys, I'm back! hehehe

After this AWS Reinvent, let's keep this rocking and release that!!

@dimitribocquet and @brandongoode!!

[2017-11-30 06:51] fishcharlie commented on #248
@Onnion Can you provide those two items you imported into your table so we can debug better?

[2017-11-30 06:58] fishcharlie opened #249 "Provide more detail in roadmap"
@brandongoode it would be awesome if you could provide more details about the roadmap. I would love to start submitting some pull requests for some of the 0.9 todo items and 1.0 todo items, but I'm unsure how you are envisioning some of those features and some don't provide enough detail to where the community can start working on them.

The more detail that can be provided the more I might be abl

[2017-11-30 12:10] brandongoode commented on #249
ya -- I need to spend some time mapping them out a little better.  The roadmap is more of highlevel reminders for me.  I think creating issues with some checklists would be the best option.  I'll try to set aside some time over the next week to get started on some for 0.9.

[2017-11-30 12:14] brandongoode commented on #248
@Onnion Also, could you rerun the test with the latest from the master branch.  There have been several changes to Attribute.js to fix some issues.  Thanks

[2017-11-30 12:17] brandongoode commented on #137
@lucianopf - great to hear from you.  This is one of a few items i want to make sure is fully supported in the 0.9 release.

[2017-11-30 12:19] brandongoode commented on #249
@fishcharlie  - Check out #137 for some ideas on `.populate`

[2017-12-02 16:07] lucianopf commented on #137
Leave stuff to be done later screws the mind flow! hahaha
I'm taking soo much time to get used to the general idea again! 😂

It will be done! 💪

[2017-12-04 18:45] danduh opened #251 ""Missing region in config" when using dynamoose.local()"
Hi,
When using
[code]

I'm getting an error:
[code]

Thanks

[2017-12-05 04:44] nicolascamilo opened #252 "Passing a variable with a JSON while updating is not working"
I'm trying to update a item with a json object inside a variable like this:

[code]

If I console.log update I get this:

`{ NAME: 'Bobby', AGE: '5' }`

Which is exactly the same as

[code]

Why this is not working?

Edit: Nevermind, changed {update} to update and now it's working.

[2017-12-05 16:44] jacintoArias commented on #251
Have you tried declaring the configuration despite using `dynamoose.local()`? Its seems to be required in order to load the package even if local mode is not using it.

try adding the configuration:
[code]

[2017-12-05 16:53] jacintoArias commented on #251
Its seems to be the expected behaviour in `aws-sdk` aws/aws-sdk-js#880. By default it creates different database files for each region (unless specified)

Shall we close this one then?

[2017-12-05 16:54] jacintoArias commented on #218
Its seems to be the expected behaviour in `aws-sdk` aws/aws-sdk-js#880. By default it creates different database files for each region (unless specified)

Shall we close this one then?

[2017-12-05 20:56] stang-tgs opened #253 "Adding attribute (or new key) to nested map fails (for unknown only?)"
I want to add a new key/val pair to an existing nested map.  How would I do this?  The nested map's Schema is not defined, since the key names are dynamic, so "saveUnknown" must be used.

When I attempt to do an update, the entire nested map is not saved/updated.  See example below.  A room contains users "apple and banana".  I want to add "cherry".

What is the expected behaviour, and how am I to

[2017-12-06 03:20] #218 closed

[2017-12-06 03:32] spitfyr86 commented on #218
I didn't have time to resolve this. I'll get back on this if I can.

[2017-12-07 07:10] Raphael-R-R opened #255 "List of Maps in schema"
Hey there,

I have in my DynamoDB database a table containing an element as a List of Maps. Each Map item does not have any specific structure.

I've tried to describe it like this:

[code]

However, every item in Content equals to {}. I am able to retrieve the data when changing `list: [Map]` to `list: [String]`, but I would like to have it in Json not in a string containing DynamoDB Json format.

[2017-12-07 17:31] jdcrecur opened #256 "How can you mock the database calls?"
Is it possible to mock the database calls with dynamoose?

I have looked into using https://www.npmjs.com/package/aws-sdk-mock but without much joy.. is there a preferred method to mock?

[2017-12-07 17:51] Onnion commented on #255
I have the same issue, but in my case is a little different, my map have specific structure.
_CacheSearch Schema_
[code]

**Problem**

Before save, i log the type of prices attribute and i get 'object', but in response of save i get 'string':

[code]

[code]
In the aws console:
[code]

But the attribute 'connections' save normal, type Map in aws console

[2017-12-08 09:25] Raphael-R-R commented on #255
I've noticed that it is working when replacing Map to Object. However, it only works when creating new items from the Dynamoose API. It stores every item as a String in the database

The invert happens if the object is created from the DynamoDB console

[2017-12-08 16:35] YevheniiHerasymchuk commented on #251
Adding the configuration above didn't help.

[2017-12-08 18:10] jacintoArias commented on #251
This error typically comes from the `aws-sdk`.

It looks for local config and credentials files (typically on `~/.aws`), have you ever configured aws with the cli?

The sdk requires a region, but also a username and credentials... The are used as well in dynamodb local as it emulates both users and regions.

Is it still asking for the region configuration?, Can you share the full error trace?

[2017-12-09 11:25] human-a opened #259 "Model.update creates new item in the table if wrong hashKey is provided"
Hi

I am using Dynamoose to create a GraphQL server, and I am loving it. However, I have a small issue. In my mutation to update the user item inside my user table, if I supply wrong user ID (uid in my example below) instead of throwing an error that the user does not exists, it creates a new item in my table with the wrong hashKey provided.

I know I can run the model.get before updating, but it'

[2017-12-09 14:42] hassankhan opened #260 "Example of setting Array as Attribute Type"
Hi, thanks for this awesome library!

Is there an example of using `Array` as an attribute type? Not having much luck trying to get it to work :/